/* Style for the div that contains the image for the questions :              */
/* Does the patient have severe solar damage on the shoulders?                */
[for='damage'] +  div > div:nth-child(2),
[for='freckling'] + div + div
 {
  margin-top: 15px;
  margin-left: .5em;
}

/* styles maps such as the map of the United Styles use in the MRAT Program */
/* styles for the text above and below the picture                          */
.mapText,
.pictureText {
        font-size: 16px;
        color: #2B7BBA;
        font-family: 'Noto Sans';
        line-height: 22px;
}

/* For text associated with the pictures and not the the maptext             */
.pictureText {
  text-align: left;
  margin-bottom: 1.0em;
}

.pictureTextEnabledColor {
  color: #2B7BBA;
}

.pictureTextDisabledColor {
  color: #C0C0C0;
}

.paragraphBottom {
  margin-top : 1em;
  margin-bottom : 1em;
}


#okButtonPic {
  margin-top: 2em;
}

/* Used to center the three pictures propertly */
  [for='damage'] + div > div:nth-child(2), [for='freckling'] + div + div {
    margin-top: 15px;
    margin-left: .5em;
    margin-right: .5em;
  }

/* Changing the Response Optons Style to match the spec                      */
#frecklePictures div[class*='responseOptions'] {
  margin-left: 0em;
  margin-top: 0px;
}

/* Changing the Response Options Style to match the spec                      */
#solarDamage div[class*='responseOptions'] {
  margin-left: 0em;
  margin-top: 10px;
}

/* Remove the space so we can add the margin to the picture css rule instead */
#frecklePictures div[class*='responseOptions'] label {
  margin-top: 0px;
  white-space: nowrap
}

/* Adds space between the last picture element` and the Answer              */
#frecklePictures div:last-child {
  margin-top: .5em;
}

/* Add some space between a question and an image.  Usually the quetion is   */
/* followed by an image.                                                     */
.marginBetweeenQuestionAndPic {
  margin-bottom: 30px;
}

@media ( min-width: 1200px ) {

  /* For a small amount of pixels about 50, the Moderate Frecking string went */
  /* populating one line to populating two line which HTML Elements to be     */
  /* pushed farther down then the other two columns.   The fix was two        */
  /* modify the margins, enough so that the text on line and the nohting      */
  /* else changes                                                             */

  #frecklePictures {
    margin-left: 0px;
    margin-right: 0px;
  }

  #frecklePictures > div:nth-child(1) {
    padding-left: 0px;
  }

  #frecklePictures > div:nth-child(2) {
    padding-left: 7px;
    padding-right: 8px;
  }

  #frecklePictures > div:nth-child(3) {
    padding-right: 0px;
  }

  #frecklePictures > div:last-child {
    padding-left: 0px;
  }

  #frecklePictures input[type='radio'] + label.radio span {
    margin-right: 0px;
  }
}

@media ( max-width: 1199px) {

  #frecklePictures > div:nth-child(1),
  #frecklePictures > div:nth-child(2) {
    margin-bottom: 4.5em;
  }

  #frecklePictures > div:nth-child(3) {
    margin-bottom: 1.0em;
  }

  #mildFreckling,
  #moderateFreckling,
  #severeFreckling,
  #solar-damage {
    width: 202px;
    height 158px;
  }
}

@media ( max-width : 576px ) {

  #map {
    margin-top : 30px;
  }
}
