@font-face {
  font-family: 'Noto Sans';
  font-weight: normal;
  font-style: normal;
  src: url("fonts/NotoSans-Regular.ttf");
}
@font-face {
  font-family: 'Noto Sans';
  font-weight: normal;
  font-style: italic;
  src: url("fonts/NotoSans-Italic.ttf");
}
@font-face {
  font-family: 'Noto Sans';
  font-weight: bold;
  font-style: normal;
  src: url("fonts/NotoSans-Bold.ttf");
}
@font-face {
  font-family: 'Noto Sans';
  font-weight: bold;
  font-style: italic;
  src: url("fonts/NotoSans-BoldItalic.ttf");
}
@font-face {
  font-family: 'Montserrat';
  font-weight: normal;
  font-style: normal;
  src: url("fonts/Montserrat-Regular.ttf");
}
@font-face {
  font-family: 'Montserrat';
  font-weight: bold;
  font-style: normal;
  src: url("fonts/Montserrat-Bold.ttf");
}
@font-face {
  font-family: 'Montserrat';
  font-weight: bold;
  font-style: italic;
  src: url("fonts/Montserrat-BoldItalic.ttf");
}
/* Color Scheme */
html {
  background: #235e88;
}
body {
  font-family: "Noto Sans", "Montserrat";
  font-size: 12pt;
  background: #fff;
}
h1,
h2,
h3,
h4,
h5,
h6,
h7 {
  color: #606060;
  font-weight: bold;
  margin: 0.5em auto;
}
p {
  margin: 0;
  margin-bottom: 1em;
}
a {
  color: #2b7bba;
}
.sectionTitle {
  color: #fff;
  padding: 13px;
  margin-bottom: 0;
}
.sectionTitle:first-child {
  background: #339fbe;
}
.sectionTitle:nth-child(3) {
  background: #6150a3;
}
.sectionTitle:nth-child(5) {
  background: #2d73a5;
}
header,
.tab-content,
.footer {
  display: block;
}
section {
  border: 1px solid #d3d3d3;
  padding: 2em;
  margin: 1em 0;
  margin-top: 0;
}
header {
  margin: 0 auto;
}
header #toolTitle {
  background-color: #2b7bba;
  color: #fff;
  font-weight: bold;
  padding: 0.5em 0;
  padding-left: 5em;
}
header #toolTitle a {
  color: inherit;
}
header #toolTitle .navbar-toggle {
  margin-top: -0.3em;
  margin-bottom: 0;
  padding: 0.3em 0.2em;
}
#side_nav {
  display: none;
}
img#logo {
  max-width: 600px;
  padding: 1em 0 1em 5em;
}
nav#main-nav {
  text-transform: uppercase;
  background-color: #235e88;
  padding-left: 5em;
}
nav#main-nav ul.nav.nav-tabs li {
  border: none;
  margin-bottom: 0;
}
nav#main-nav ul.nav.nav-tabs li a {
  font-weight: bold;
  color: #fff;
  border-radius: 0px;
  margin: 0;
  padding: 0.7em;
  padding-left: 0px;
}
nav#main-nav ul.nav.nav-tabs li a:hover,
nav#main-nav ul.nav.nav-tabs li a:focus {
  background: #fff;
  color: #14819b;
}
nav#main-nav ul.nav.nav-tabs li.active a {
  color: #356b91;
  background: #fff;
  border-bottom: 7px inset #1a84a8;
}
.nav-tabs {
  border: none;
}
button,
a.btn {
  font-weight: bold;
  max-width: 250px;
}
button.btn-sm,
a.btn.btn-sm {
  font-size: 0.8em;
}
button:disabled,
a.btn:disabled {
  cursor: not-allowed;
}
.btn-form {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.btn-form:hover,
.btn-form:focus {
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
}
#results:not(.show),
#errors:not(.show),
#map:not(.show),
#listings:not(.show),
.male:not(.show),
.female:not(.show) {
  display: none;
}
#main {
  margin-top: 2em;
  margin-bottom: 6em;
  padding-left: 25%;
  padding-right: 25%;
  line-height: 1.5;
}
#main ul li {
  line-height: 2;
}
#main_home {
  margin-top: 2em;
  max-width: 1099px;
  margin-bottom: 2em;
  line-height: 1.5;
  margin-right: auto;
  margin-left: auto;
}
#main_home ul li {
  line-height: 2;
}
.box {
  max-width: 600px;
  background-color: #dbf2f8;
  padding: 1.5em;
}
#results_text {
  text-align: left;
  max-width: 365px;
  margin-top: 15%;
  margin-left: 20%;
}
#results_box {
  margin-top: 10%;
  text-align: center;
  font-size: 18px;
  border: 7px #6150a3 solid;
  background: #7163ad;
  padding: 1em;
  color: #fff;
  margin-bottom: 2%;
}
.results_header {
  text-align: center;
  color: #fff;
  margin-bottom: 2%;
  font-size: 34px;
}
.patient_header {
  text-align: center;
  color: #fff;
  font-size: 24px;
}
.risk_header {
  text-align: center;
  color: #fff;
  margin-bottom: 2%;
  font-weight: bold;
  font-size: 48px;
}
#form-steps {
  background-color: #fff;
  padding: 10px 0;
  -webkit-box-shadow: 0 0 20px #808080;
  box-shadow: 0 0 20px #808080;
}
#form-steps.fixed {
  position: fixed;
  -webkit-box-shadow: 0 0 20px #808080;
  box-shadow: 0 0 20px #808080;
  z-index: 1;
  width: 100%;
  top: 0;
  left: 0;
}
#form-steps ol {
  list-style: none;
  text-align: center;
  font-weight: bold;
  margin: 0;
/* style rules for the form "checkpoints" bar */
}
#form-steps ol span.spacer {
  min-width: 10%;
  display: inline-block;
  color: #868686;
  font-weight: bold;
  vertical-align: middle;
  letter-spacing: 5px;
}
#form-steps ol li {
  display: inline-block;
  color: #868686;
  margin-right: 3%;
}
#form-steps ol li a {
  display: block;
  color: inherit;
}
#form-steps ol li a:nth-child(2) {
  font-size: 19px;
  background: #868686;
  color: #fff;
  border-radius: 22px;
  width: 33px;
  height: 33px;
  text-align: center;
  margin: 0 auto;
  padding: 2px;
  position: relative;
}
#form-steps ol li.active {
  font-size: 24px;
}
#form-steps ol li.active:first-child a:first-child {
  color: #339fbe;
}
#form-steps ol li.active:first-child a:nth-child(2) {
  width: 45px;
  height: 45px;
  font-size: 25px;
  color: #fff;
  background: #339fbe;
}
#form-steps ol li.active:nth-child(3) a:first-child {
  color: #6150a3;
}
#form-steps ol li.active:nth-child(3) a:nth-child(2) {
  width: 45px;
  height: 45px;
  font-size: 25px;
  color: #fff;
  background: #6150a3;
}
#form-steps ol li.active:nth-child(5) a:first-child {
  color: #2d73a5;
}
#form-steps ol li.active:nth-child(5) a:nth-child(2) {
  width: 45px;
  height: 45px;
  font-size: 25px;
  color: #fff;
  background: #2d73a5;
}
.no-margin {
  margin: 0;
}
.no-margin-top {
  margin-top: 0px !important;
}
.no-padding {
  padding: 0;
}
label.questions {
  font-weight: bold;
  color: #2e2e2e;
  margin-top: 50px;
}
.responseOptions {
  font-weight: normal;
  margin-left: 1em;
  margin-top: 16px;
}
.responseOptions label {
  font-weight: inherit;
}
.responseOptions input[type="radio"] {
  margin: 0 0.5em;
  width: 1em;
  height: 1em;
}
select {
  border: 2px solid #d3d3d3;
  background: #f2f2f3;
  padding: 0 0.4em;
  height: 2.5em;
}
select:focus,
select:hover {
  border-color: #2b7bba;
}
select:disabled {
  background: #d3d3d3;
  color: #000;
  cursor: not-allowed;
}
input[type="radio"] {
  display: none;
}
input[type="radio"] + label.radio {
  color: #606060;
  font-weight: normal;
  width: 50%;
}
input[type="radio"] + label.radio span {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  margin: 0 0.5em 0 0;
  vertical-align: middle;
  background: url("./images/Radio_Button_Unselected.png");
  color: #f2f2f2;
  cursor: pointer;
}
input[type="radio"] + label.radio:hover span {
  background: url("./images/Radio_Button_Selected.png");
  background-repeat: no-repeat;
}
input[type="radio"]:checked + label.radio span {
  background: url("./images/Radio_Button_Selected.png");
  background-repeat: no-repeat;
}
select:disabled,
input:disabled {
  cursor: not-allowed;
  color: #6c6c6c;
  border: none;
}
select:disabled[type="radio"] + label.radio,
input:disabled[type="radio"] + label.radio {
  background: none;
  border: none;
  color: #c0c0c0;
  cursor: not-allowed;
}
select:disabled[type="radio"] + label.radio span,
input:disabled[type="radio"] + label.radio span {
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
}
select:disabled[type="radio"] + label.radio:focus span,
input:disabled[type="radio"] + label.radio:focus span {
  background: none;
  border: 3px solid #2b7bba;
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
}
select.error,
input.error {
  border-color: #bb0e3d;
}
select.error + label.radio,
input.error + label.radio {
  color: #bb0e3d;
}
select.error + label.radio span,
input.error + label.radio span {
  border-color: #bb0e3d;
}
.footer {
  background-color: #235e88;
  line-height: 4;
}
.footer a {
  font-weight: bold;
}
.footer *,
.footer ul li a {
  color: #fff;
}
.line {
  position: absolute;
  width: 100%;
  margin-bottom: 20px;
  border: 0;
  border-top: 2px dotted #868686;
  margin-top: 0;
}
.modal-body {
  overflow-y: hidden;
}
.modal {
  top: 33%;
}
.imgsize {
  height: 70px;
}
.btn-size {
  height: 35px;
  width: 85px;
}
.modaltext {
  padding-left: 16%;
}
.modal-header {
  border: none;
}
.modal-header .close {
  background: url("./images/Exit.png");
  padding: 8px 9px;
  color: #fff;
  opacity: initial;
  -ms-filter: initial;
  filter: initial;
  background-repeat: no-repeat;
}
.modal-header .close:hover,
.modal-header .close:focus {
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
}
.info-dialog {
  border: 3px solid #d3d3d3;
  color: #000;
  background-color: #fff;
  padding: 1em;
}
.info-dialog button {
  background: #2b7bba;
  color: #fff;
  font-weight: bold;
  border-radius: 20px;
  border: none;
  margin: 0.3em;
}
.info-dialog button:hover,
.info-dialog button:focus {
  background: #fff;
  color: #2b7bba;
}
.demo-dialog .modal-content {
  border: 3px solid #339fbe;
  border-radius: 0px;
}
.error-dialog .modal-content {
  background-color: #fff F;
  border: 3px solid #339fbe;
}
.error-dialog img {
  float: left;
}
.error-dialog button {
  color: #fff;
  background-color: #339fbe;
  font-weight: bold;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  margin: 0 auto;
  text-transform: uppercase;
  border: none;
}
@media (max-width: 992px) {
  header img#logo {
    padding: 1em 0 1em 1em;
    width: 100%;
  }
  header #toolTitle {
    padding-left: 1em;
  }
  #main_home {
    margin-top: 6em;
  }
  #results {
    padding: 1em;
  }
  #results_text {
    text-align: left;
    max-width: 365px;
    margin-top: 15%;
    margin-left: 0;
  }
  nav#main-nav {
    background: #fff;
    padding: 0;
    text-align: left;
  }
  nav#main-nav ul.nav.nav-tabs {
    display: block;
  }
  nav#main-nav ul.nav.nav-tabs li {
    width: 50%;
    float: right;
  }
  nav#main-nav ul.nav.nav-tabs li.active a {
    color: #356b91;
    background: #fff;
  }
  nav#main-nav ul.nav.nav-tabs li a {
    background: #235e88;
    color: #fff;
    border: none;
  }
  nav#main-nav ul.nav.nav-tabs li a:hover,
  nav#main-nav ul.nav.nav-tabs li a:focus {
    border: none;
  }
  #form-steps.fixed {
    position: fixed;
    z-index: 1;
    width: 100%;
    left: 0;
    margin-bottom: 10px;
  }
  #form-steps ol {
    padding: 0;
  }
  #form-steps ol span.spacer {
    margin: 0;
  }
  #form-steps ol li {
    margin: 0.5em 0.1em;
    border-radius: 20px;
    margin-left: 6%;
    margin-right: 6%;
  }
  #form-steps ol li a:first-child {
    display: none;
  }
  #errors {
    font-size: 0.8em;
    margin: 1em 0;
  }
  section {
    padding: 1em;
  }
  .tab-pane {
    padding: 0 1em;
  }
  #main {
    margin: 0 0 1.5em 0;
    padding: 0;
  }
  #main .container {
    padding: inherit;
  }
  .questions,
  .responseOptions {
    line-height: 1.5;
  }
  .box {
    margin: 1em auto;
  }
  .btn-block {
    margin: 0 auto;
  }
  .footer {
    line-height: initial;
  }
  .footer ul {
    margin: 1em 0 1em 2em;
  }
  .footer ul li {
    display: block;
    text-align: left;
    max-width: 60%;
    margin: 0.3em 0;
  }
  .footer ul li:nth-child(even) {
    display: none;
    margin: 0;
    padding: 0;
    max-width: 0;
  }
  #side_nav.sidenav {
    width: 0;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    background-color: #f3f3f2;
    overflow-x: hidden;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    transition: 0.5s;
    display: inline;
    -webkit-box-shadow: -15px 0px 15px -15px rgba(0,0,0,0.6) inset;
    box-shadow: -15px 0px 15px -15px rgba(0,0,0,0.6) inset;
    text-transform: uppercase;
  }
  #side_nav.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 16px;
    color: #818181;
    display: block;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -ms-transition: 0.3s;
    transition: 0.3s;
    white-space: nowrap;
  }
  #side_nav.sidenav a.active a {
    color: #fff;
    background-color: #bb0e3d;
  }
  #buttons {
    display: -webkit-box;
  }
}
