@font-face {
  font-family: 'Noto Sans';
  font-weight: normal;
  font-style: normal;
  src: url("fonts/NotoSans-Regular.ttf");
}
@font-face {
  font-family: 'Noto Sans';
  font-weight: normal;
  font-style: italic;
  src: url("fonts/NotoSans-Italic.ttf");
}
@font-face {
  font-family: 'Noto Sans';
  font-weight: bold;
  font-style: normal;
  src: url("fonts/NotoSans-Bold.ttf");
}
@font-face {
  font-family: 'Noto Sans';
  font-weight: bold;
  font-style: italic;
  src: url("fonts/NotoSans-BoldItalic.ttf");
}
@font-face {
  font-family: 'Montserrat';
  font-weight: normal;
  font-style: normal;
  src: url("fonts/Montserrat-Regular.ttf");
}
@font-face {
  font-family: 'Montserrat';
  font-weight: bold;
  font-style: normal;
  src: url("fonts/Montserrat-Bold.ttf");
}
@font-face {
  font-family: 'Montserrat';
  font-weight: bold;
  font-style: italic;
  src: url("fonts/Montserrat-BoldItalic.ttf");
}
/* Color Scheme */
html {
  background: #235e88;
}
body {
  font-family: "Noto Sans", "Montserrat";
  font-size: 12pt;
  background: #fff;
}
h1,
h2,
h3,
h4,
h5,
h6,
h7 {
  color: #606060;
  font-weight: bold;
  margin: 0.5em auto;
}
p {
  margin: 0;
  margin-bottom: 1em;
}
.sectionTitle {
  color: #fff;
  padding: 20px;
  margin-bottom: 0;
}
.sectionTitle:first-child {
  background: #339fbe;
}
.sectionTitle:nth-child(3) {
  background: #6150a3;
}
.sectionTitle:nth-child(5) {
  background: #2d73a5;
}
header,
.tab-content,
.footer {
  display: block;
}
section {
  border: 1px solid #d3d3d3;
  padding: 2em;
  margin: 1em 0;
  margin-top: 0;
}
header {
  margin: 0 auto;
}
header #toolTitle {
  background-color: #2b7bba;
  color: #fff;
  font-weight: bold;
  padding: 0.5em 0;
  padding-left: 5em;
}
header #toolTitle a {
  color: inherit;
}
header #toolTitle .navbar-toggle {
  margin-top: -0.3em;
  margin-bottom: 0;
  padding: 0.3em 0.2em;
}
header #toolTitle .navbar-toggle:hover .glyphicon,
header #toolTitle .navbar-toggle:focus .glyphicon {
  color: #fafafa;
  text-shadow: 5px 2px 2px #000;
}
header img#logo {
  max-width: 600px;
  padding: 1em 0 1em 5em;
}
nav#main-nav {
  text-transform: uppercase;
  background-color: #235e88;
  padding-left: 5em;
}
nav#main-nav ul.nav.nav-tabs li {
  border: none;
  margin-bottom: 0;
}
nav#main-nav ul.nav.nav-tabs li a {
  font-weight: bold;
  color: #fff;
  border-radius: 0px;
  margin: 0;
  padding: 0.7em;
}
nav#main-nav ul.nav.nav-tabs li a:hover,
nav#main-nav ul.nav.nav-tabs li a:focus {
  border-bottom: 7px inset #fff;
  background: #fff;
  color: #14819b;
}
nav#main-nav ul.nav.nav-tabs li.active a {
  color: #356b91;
  background: #fff;
  border-bottom: 7px inset #1a84a8;
}
.nav-tabs {
  border: none;
}
button,
a.btn {
  font-weight: bold;
  max-width: 250px;
}
button.btn-sm,
a.btn.btn-sm {
  font-size: 0.8em;
}
button:disabled,
a.btn:disabled {
  cursor: not-allowed;
}
button.btn-form,
a.btn.btn-form {
  color: #fff;
  background-color: #2dc799;
  border-color: #1dc799;
  border-radius: 0;
}
button.btn-form:hover,
a.btn.btn-form:hover,
button.btn-form:focus,
a.btn.btn-form:focus {
  background-color: #1f8566;
  color: #fff;
}
button.btn-form:disabled,
a.btn.btn-form:disabled {
  background-color: #238769;
  color: #d9d9d9;
}
#results:not(.show),
#errors:not(.show),
#map:not(.show),
#listings:not(.show),
.male:not(.show),
.female:not(.show) {
  display: none;
}
#main {
  margin-top: 2em;
  margin-bottom: 6em;
  padding-left: 5em;
  line-height: 1.5;
}
#main ul li {
  line-height: 2;
}
.box {
  max-width: 600px;
  background-color: #dbf2f8;
  padding: 1.5em;
}
#results {
  font-size: 1.2em;
  text-align: center;
  border-radius: 10px;
  border: 0.3em solid #d3d3d3;
  background: #fafafa;
  padding: 1em;
}
#form-steps {
  background-color: #fff;
  padding: 10px 0;
  -webkit-box-shadow: 0 0 20px #808080;
  box-shadow: 0 0 20px #808080;
}
#form-steps.fixed {
  position: fixed;
  -webkit-box-shadow: 0 0 20px #808080;
  box-shadow: 0 0 20px #808080;
  z-index: 1;
  width: 100%;
  top: 0;
  left: 0;
}
#form-steps ol {
  list-style: none;
  text-align: center;
  font-weight: bold;
  margin: 0;
/* style rules for the form "checkpoints" bar */
}
#form-steps ol span.spacer {
  margin: 0 -50px;
  min-width: 10%;
  display: inline-block;
  color: #868686;
  font-weight: bold;
  vertical-align: middle;
  letter-spacing: 5px;
}
#form-steps ol li {
  display: inline-block;
  color: #868686;
}
#form-steps ol li a {
  display: block;
  color: inherit;
}
#form-steps ol li a:nth-child(2) {
  border-radius: 25px;
  width: 35px;
  height: 35px;
  text-align: center;
  margin: 0 auto;
  padding: 0;
}
#form-steps ol li.active {
  font-size: 1.1em;
}
#form-steps ol li.active:first-child a:first-child {
  color: #339fbe;
}
#form-steps ol li.active:first-child a:nth-child(2) {
  color: #fff;
  background: #339fbe;
}
#form-steps ol li.active:nth-child(3) a:first-child {
  color: #6150a3;
}
#form-steps ol li.active:nth-child(3) a:nth-child(2) {
  color: #fff;
  background: #6150a3;
}
#form-steps ol li.active:nth-child(5) a:first-child {
  color: #2d73a5;
}
#form-steps ol li.active:nth-child(5) a:nth-child(2) {
  color: #fff;
  background: #2d73a5;
}
.no-margin {
  margin: 0;
}
.no-padding {
  padding: 0;
}
label.questions {
  font-weight: bold;
}
.responseOptions {
  font-weight: normal;
  line-height: 3;
  margin-left: 1em;
}
.responseOptions label {
  font-weight: inherit;
}
.responseOptions input[type="radio"] {
  margin: 0 0.5em;
  width: 1em;
  height: 1em;
}
select {
  border: 2px solid #d3d3d3;
  background: #f2f2f3;
  padding: 0 0.4em;
  height: 2.5em;
}
select:focus,
select:hover {
  border-color: #2b7bba;
}
select:disabled {
  background: #d3d3d3;
  color: #000;
  cursor: not-allowed;
}
input[type="radio"] {
  display: none;
}
input[type="radio"] + label.radio {
  color: #000;
  font-weight: normal;
  width: 50%;
}
input[type="radio"] + label.radio span {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  margin: 0 0.5em 0 0;
  padding: 2px;
  vertical-align: middle;
  border: 3px solid #2b7bba;
  border-radius: 20px;
  background: #fff;
  color: #f2f2f2;
  cursor: pointer;
}
input[type="radio"] + label.radio:hover span {
  background: #2b7bba;
  border-color: #fff;
  border-style: double;
  padding: 0.5em;
}
input[type="radio"]:checked + label.radio span {
  border-style: double;
  background: #2b7bba;
}
select:disabled,
input:disabled {
  cursor: not-allowed;
  color: #6c6c6c;
  border: none;
}
select:disabled[type="radio"] + label.radio,
input:disabled[type="radio"] + label.radio {
  background: none;
  border: none;
  color: #c0c0c0;
  cursor: not-allowed;
}
select:disabled[type="radio"] + label.radio span,
input:disabled[type="radio"] + label.radio span {
  background: none;
  border: 3px solid #2b7bba;
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
}
select:disabled[type="radio"] + label.radio:focus span,
input:disabled[type="radio"] + label.radio:focus span {
  background: none;
  border: 3px solid #2b7bba;
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
}
select.error,
input.error {
  border-color: #bb0e3d;
}
select.error + label.radio,
input.error + label.radio {
  color: #bb0e3d;
}
select.error + label.radio span,
input.error + label.radio span {
  border-color: #bb0e3d;
}
.footer {
  background-color: #235e88;
  line-height: 4;
}
.footer a {
  font-weight: bold;
}
.footer *,
.footer ul li a {
  color: #fff;
}
.modal-header {
  border: none;
}
.modal-header .close {
  background: #2b7bba;
  padding: 5px 9px;
  border-radius: 25px;
  color: #fff;
  opacity: initial;
  -ms-filter: initial;
  filter: initial;
}
.modal-header .close:hover,
.modal-header .close:focus {
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
}
.info-dialog {
  border: 3px solid #d3d3d3;
  color: #000;
  background-color: #fff;
  padding: 1em;
}
.info-dialog button {
  background: #2b7bba;
  color: #fff;
  font-weight: bold;
  border-radius: 20px;
  border: none;
  margin: 0.3em;
}
.info-dialog button:hover,
.info-dialog button:focus {
  background: #fff;
  color: #2b7bba;
}
.demo-dialog .modal-content {
  border: 5px solid #268db2;
}
.error-dialog .modal-content {
  border: solid 4px #bb0e3d;
  background-color: #fff F;
  border: 3px solid #bb0e3d;
  border-radius: 0;
}
.error-dialog img {
  float: left;
}
.error-dialog button {
  color: #fff;
  background-color: #14819b;
  font-weight: bold;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  margin: 0 auto;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  header img#logo {
    padding: 1em 0 1em 1em;
    width: 100%;
  }
  header #toolTitle {
    padding-left: 1em;
  }
  header.fixed {
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0;
    left: 0;
  }
  nav#main-nav {
    background: #fff;
    padding: 0;
    text-align: left;
  }
  nav#main-nav ul.nav.nav-tabs {
    display: block;
  }
  nav#main-nav ul.nav.nav-tabs li {
    width: 65%;
    float: right;
  }
  nav#main-nav ul.nav.nav-tabs li.active a {
    color: #fff;
    background: #235e88;
    border: none;
  }
  nav#main-nav ul.nav.nav-tabs li a {
    background: #fff;
    color: #235e88;
    border: none;
  }
  nav#main-nav ul.nav.nav-tabs li a:hover,
  nav#main-nav ul.nav.nav-tabs li a:focus {
    border: none;
  }
  #form-steps.fixed {
    position: fixed;
    z-index: 1;
    width: 100%;
    left: 0;
  }
  #form-steps ol {
    padding: 0;
  }
  #form-steps ol span.spacer {
    margin: 0;
  }
  #form-steps ol li {
    margin: 0.5em 0.1em;
  }
  #form-steps ol li a:first-child {
    display: none;
  }
  #errors {
    font-size: 0.8em;
    margin: 1em 0;
  }
  section {
    padding: 1em;
  }
  .tab-pane {
    padding: 0 1em;
  }
  #main {
    margin: 0 0 1.5em 0;
    padding: 0;
  }
  #main .container {
    padding: inherit;
  }
  .questions,
  .responseOptions {
    line-height: 1.5;
  }
  select,
  input[type="radio"] + label.radio {
    width: 100%;
  }
  .box {
    margin: 1em auto;
  }
  .btn-block {
    margin: 0 auto;
  }
  .footer {
    line-height: initial;
  }
  .footer ul {
    margin: 1em 0 1em 2em;
  }
  .footer ul li {
    display: block;
    text-align: left;
    max-width: 60%;
    margin: 0.3em 0;
  }
  .footer ul li:nth-child(even) {
    display: none;
    margin: 0;
    padding: 0;
    max-width: 0;
  }
}
