@font-face {
	font-family 'Noto Sans'
	font-weight normal
	font-style normal
	src url("fonts/NotoSans-Regular.ttf")
}

@font-face {
	font-family 'Noto Sans'
	font-weight normal
	font-style italic
	src url("fonts/NotoSans-Italic.ttf")
}

@font-face {
	font-family 'Noto Sans'
	font-weight bold
	font-style normal
	src url("fonts/NotoSans-Bold.ttf")
}

@font-face {
	font-family 'Noto Sans'
	font-weight bold
	font-style italic
	src url("fonts/NotoSans-BoldItalic.ttf")
}

@font-face {
	font-family 'Montserrat'
	font-weight normal
	font-style normal
	src url("fonts/Montserrat-Regular.ttf")
}

@font-face {
	font-family 'Montserrat'
	font-weight bold
	font-style normal
	src url("fonts/Montserrat-Bold.ttf")
}

@font-face {
	font-family 'Montserrat'
	font-weight bold
	font-style italic
	src url("fonts/Montserrat-BoldItalic.ttf")
}