<connectionStrings>
  <!--add name="ConnectionString" connectionString="Data Source=NCIDB-D111\MSSQLSG_RED,52600; Initial Catalog=CCRAT; User ID=riskassessuser; Password=" /-->
  <add name="ConnectionString" connectionString="Data Source=NCIDB-D111\MSSQLSG_BLUE,52400; Initial Catalog=CCRAT; User ID=riskassessuser; Password=N3wRiskA$$usEr" />
</connectionStrings>