header
    img(id="menu-button",src="images/menu.svg", alt="mobile menu access button")
    a#nci-banner(href="http://cancer.gov/" target="_blank")
        img(src="/common/images/nci-logo-full.svg" alt="National Cancer Institute")
    #toolTitle
        #toolDescription
            | An interactive tool to help estimate a person's risk of developing colorectal cancer
