ul.nav
    li
        a(target="_blank", href='http://www.cancer.gov/cancertopics/types/colon-and-rectal') Colon and Rectal Cancer Home Page
    li
        a(target="_blank", href='http://www.cancer.gov/cancertopics/prevention-genetics-causes/colon-and-rectal') Colon and Rectal Cancer: Prevention, Genetics, Causes
    li
        a(target="_blank", href='http://www.cancer.gov/cancertopics/factsheet/Detection/colorectal-screening') Tests to Detect Colorectal Cancer and Polyps
    li
        a(target="_blank", href='http://riskfactor.cancer.gov/cancer_risk_prediction') Cancer Risk Prediction Resources
