section#risk-calculator
    .section-description
        span.hidden-anchor
          a(href='#survey')
        include ../../templates/tool-description
        p
          a(href='http://www.ncbi.nlm.nih.gov/pubmed/16728488') JCO Publication
        p
          strong Before using the tool, please note the following:
        ul.red-arrow
          li
            | The melanoma risk calculator was designed for use by health professionals during
            | a routine physical examination that includes recording of information about the
            | patient's personal and family medical history and an examination of the skin on
            | the patient's back and shoulders. If you are not a health professional, you are
            | strongly encouraged to discuss the results obtained with this tool and your personal
            | risk of melanoma with your doctor.
          li
            | The MRAT risk calculator may be updated periodically as new data or research becomes
            | available.
          li
            | This tool should not be used to estimate melanoma risk for people who have already
            | had a diagnosis of melanoma, melanoma-in-situ, non-melanoma skin cancer, or a family
            | history of melanoma. These individuals should be in screening and surveillance programs.
          li
            | The melanoma risk calculator was developed using data from a large case-control
            | study in the United States. Risks are estimated for non-Hispanic whites only; data
            | for other races/ethnicities are too limited to accurately estimate risk.
          li A recent version of Internet Explorer, Firefox, or Netscape is recommended.
    .section-title
        span Questions
    .section-content
        #survey
