section#risk-calculator
    .section-description
        span.hidden-anchor
          a(href='#survey')
        include ../../templates/tool-description
        p
          a(href='http://www.ncbi.nlm.nih.gov/pubmed/16728488') JCO Publication
        p
          strong Before using the tool, please note the following:
        ul.red-arrow
          li
            | The melanoma risk calculator was designed for use by health professionals during
            | a routine physical examination that includes recording of information about the
            | patient's personal and family medical history and an examination of the skin on
            | the patient's back and shoulders. If you are not a health professional, you are
            | strongly encouraged to discuss the results obtained with this tool and your personal
            | risk of melanoma with your doctor.
          li
            | The MRAT risk calculator may be updated periodically as new data or research becomes
            | available.
          li
            | This tool should not be used to estimate melanoma risk for people who have already
            | had a diagnosis of melanoma, melanoma-in-situ, non-melanoma skin cancer, or a family
            | history of melanoma. These individuals should be in screening and surveillance programs.
          li
            | The melanoma risk calculator was developed using data from a large case-control
            | study in the United States. Risks are estimated for non-Hispanic whites only; data
            | for other races/ethnicities are too limited to accurately estimate risk.
          li A recent version of Internet Explorer, Firefox, or Netscape is recommended.
    .section-title
      span Questions
    .section-content
      form#survey(action="/calculate/",method="POST")
        ul
          li
            label 1
            p Does the patient live in the Northern, Central, or Southern United States?
            .input
              select
                option Select
                option North
                option Central
                option South
          li
            label 2
            p
              span
                | What is the patient's gender?
              br
              em
                | Please note: This tool uses gender-specific risk models.
                | It requries different information of male patients than female patients.
                | The answer to this question will determine what other questions are asked below.
            .input
              select#gender(name='gender')
                option Select
                option Male
                option Female
          li
            label 3
            p
              | What is the patient's gender race?
            .input
              select
                option Select
                option Non-White Hispanic
                option Other
          li
            label 4
            p
              | What is the patient's age?
            .input
              select
                option Select
                option(value=19) 19 or younger
                - var n = 20
                while n < 71
                  option= n++
                option(value=71) 71 or older
          li.male
            label
              span 5
              b.no-css &nbsp;Males only
            p Ask the patient: Did you ever get a blistering sunburn?
            .input
              select
                option Select
                option Yes
                option No
          li.male.female
            label
              span.female 5
              span.no-css &nbsp;or&nbsp;
              span.male 6
            p Ask the patient: Is your complexion light, medium, or dark?
            .input
              select
                option Select
                option Light
                option Medium
                option Dark
          li.female
            label
              span 6
              b.no-css &nbsp;Females only
            p
              | Ask the patient: After repeated and prolonged exposure to sunlight, at the age you are now, would your skin become
              | very brown and deeply tanned, moderately tanned, lightly tanned, or not tanned at all?
            .input
              select
                option Select
                option Very brown and deeply tanned
                option Moderately tanned
                option Lightly tanned
                option No tan at all
          li.male
            label
              span 7
              b.no-css &nbsp;Males only
            p
              | How many moles larger than 5mm in diameter are on the patient's back?
            .input
              select
                option Select
                option Less than two
                option Two or more
          li.male.female
            label
              span.female 7
              span.no-css &nbsp;or&nbsp;
              span.male 8
            p
              span
                | How many moles less than or equal to 5mm in diameter are on the patient's back?
            .input
              select
                option Select
                option Less than seven
                option Seven to seventeen
                option More than seventeen
          li.male.female
            label
              span.female 8
              span.no-css &nbsp;or&nbsp;
              span.male 9
            p
              | How extensive is the freckling on the patient's back and shoulders?
            .input
              select
                option Select
                option Absent
                option Mild
                option Moderate
                option Severe
          li.male
            label
              span 10
              b.no-css &nbsp;Males only
            p Does the patient have severe solar damage on the shoulders?
            .input
              select
                option Select
                option Yes
                option No
        button Calculate Risk
