doctype html
html
    head
        block page-title
            title Melanoma Risk Assessment Tool (MRAT)
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        include ../../templates/stylesheets
        block stylesheet
        include ../../templates/scripts
        block script
    body
        include ../../templates/header
        #content
            include ../../templates/quick-links
            include calculator
            include about
            include cancer-risk
            include source-code
        include ../../templates/footer
