
doctype html
html(lang="en")
    head
        block page-title
            title Melanoma Risk Assessment Tool (MRAT)
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        include ../../templates/stylesheets
        block stylesheet
    body
        include ../../templates/header
        #content
            include ../../templates/navigation
            span#top
            include ../../templates/quick-links
            include about
            include calculator
            include cancer-risk
            include source-code
            include ../../templates/footer
        script(type="application/javascript", src="src/node_modules/requirejs/require.js", data-main="require-config")
