doctype html
html
    head
        block page-title
            title MRAT
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        include ../../templates/stylesheets
        block stylesheet
        include ../../templates/scripts
        block script
    body
        include ../../templates/header
        include ../../templates/navigation
        block content
            h1 This is the index
        include ../../templates/footer
