doctype html
html
    head
        block page-title
            title Melanoma Risk Assessment Tool (MRAT)
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        link(href="/common/css/style.css",rel="stylesheet", type="text/css")
        link(href="styles.css",rel="stylesheet", type="text/css")
        block stylesheet
        block script
    body
        include ../../templates/header
        #content
            include calculator
            include about
            include cancer-risk
            include source-code
            include documentation
            include terms-conditions
        include ../../templates/footer
