section#source-code(tab='source-code')
    .section-content
        .section-title Download Source Code for the Melanoma Risk Calculation Engine
        | The MRAT risk calculator may be updated periodically as new data or research becomes
        | available. The system is currently on statistical model version 1 and software version 2.0
        | The source code for the MRAT risk calculator can be accessed via the &nbsp;
        a(href="https://github.com/CBIIT/nci-webtools-dceg-risk-assessment/tree/master/melanomaRiskAssessment", target="_blank") GitHub Repository
        | . By downloading, you accept our Terms & Conditions below.
        include documentation
        include terms-conditions
