h1 {
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 0px;
}

body {
    background-color: #fff;
    color: #777;
    font-size: 10pt;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    margin: 10px 0px;
}

table.results_summary {
    width: 100%;
}

table.results_summary {
    font-size: 10pt;
}

table.results_summary td, th {
    padding-right:20px;
    padding-bottom:3px;
}

table.results_summary td.indent, th.indent {
    padding-left:30px;
}

.text-bold {
    font-weight: bold;
    font-size:1.2em
}

table.results_header {
    width: 100%;
}

table.results_header th {
    border: 1px;
    border-color: #777;
    padding: 10px;
    text-align: center;
}

table.results_table {
    width: 100%;
}

table.results_table th.results_title {
    width: 50%;
    padding: 10px 0px;
    text-align: left;
    font-weight: bold;
    font-size: 11pt;
}

table.results_table td.results_desc {
    width: 50%;
    text-align: left;
    font-size: 10pt;
    padding: 10px 0px;
}


table.results_table td.results_grid {
     width: 50%;
     text-align: left;
     padding-right: 10px;
}

table.results_table td.results_legend {
    width: 50%;
    text-align: left;
    font-size: 10pt;
    padding: 10px 0px;
}

/*
    Chart related styles
 */

.chartTable {
    background-color: white;
    table-layout: fixed;
}

.chartLegend,
.chartCell {
    padding: 3px 3px !important;
    text-align: right;
}

.chartBG,
.chartBlock,
.chartBlock1,
.chartBlock2,
.chartBlock3,
.chartIcon {
    width: 15px;
    height: 25px;
    display: inline-block;
}

.chartCell {
    position: relative;
}

.chartBG {
    background-color: #A4A4A4;
}

.chartOverlap {
    position: absolute;
    top: 3px;
    left: 3px;
}

.chartBlock {
    background-color: #CB222A;
}

.data1 {
    color: #FCBD36;
}
.chartBlock1 {
    background-color: #FCBD36;
}

.data2 {
    color: #F8061D;
}
.chartBlock2 {
    background-color: #F8061D;
}

.data3 {
    color: #4776C0;
}
.chartBlock3 {
    background-color: #4776C0;
}

.chartDescription {
    padding-top: 10px;
}



