services:
  # docker compose up bcrisktool
  bcrisktool:
    build:
      context: .
      dockerfile: bcrisktool/docker/backend.dockerfile
      args:
        LAST_UPDATED: ${LAST_UPDATED}
        RELEASE_VERSION: ${RELEASE_VERSION}
    ports:
      - "8120:80"
    environment:
      - LAST_UPDATED=${LAST_UPDATED}
      - RELEASE_VERSION=${RELEASE_VERSION}

  #docker compose up ccrisktool
  ccrisktool:
    build:
      context: .
      dockerfile: colorectalcancerrisk/docker/backend.dockerfile
      args:
        LAST_UPDATED: ${LAST_UPDATED}
        RELEASE_VERSION: ${RELEASE_VERSION}
    ports:
      - "8170:80"
    environment:
      - LAST_UPDATED=${LAST_UPDATED}
      - RELEASE_VERSION=${RELEASE_VERSION}

  #docker compose up mrisktool
  mrisktool:
    build:
      context: .
      dockerfile: melanomarisktool/docker/backend.dockerfile
      args:
        LAST_UPDATED: ${LAST_UPDATED}
        RELEASE_VERSION: ${RELEASE_VERSION}
    ports:
      - "8030:80"
    environment:
      - LAST_UPDATED=${LAST_UPDATED}
      - RELEASE_VERSION=${RELEASE_VERSION}
