<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>

		
		<!--input settings-->
		<!-- with conversion
		<add key="BcptScenariFile" value="C:\Development\Projects\RiskAssesmentTools\BCRA\Bcpt.Client.Console\Scenario\input_dec272007.txt" />
		<add key="NeedsToBeconverted" value="true" />
		<add key="RecordNumberIncluded" value="true" />
		<add key="NumberColumnsIncluded" value="10" />
		<add key="InputColumnSeperator" value="/t,  " />
		-->
		<!-- comma seperated delimiters for input record-->
		
		
		<!-- without conversion -->
		<!--<add key="BcptScenariFile" value="C:\Development\Projects\RiskAssesmentTools\BCRA\Bcpt.Client.Console\Scenario\input_fil_wh.xml" />
		<add key="BcptScenariFile" value="C:\Development\Projects\RiskAssesmentTools\BCRA\Bcpt.Client.Console\Scenario\input_fil_aa.xml" />-->
    <add key="BcptScenariFile" value="C:\Projects\MRAT\BCRA\TestData\White\White.txt" />

    <!--<add key="BcptScenariFile" value="C:\Development\Projects\RiskAssesmentTools\BCRA\Bcpt.Client.Console\Scenario\BreastCancerScenariosApr25.xml" />-->
		<!--<add key="BcptScenariFile" value="C:\Development\Projects\RiskAssesmentTools\BCRA\Bcpt.Client.Console\Scenario\BreastCancerScenarios.all.xml" />-->

		<add key="NeedsToBeconverted" value="true" />
		<add key="RecordNumberIncluded" value="true" />
		<add key="NumberColumnsIncluded" value="10" />
		<add key="InputColumnSeperator" value="/t,  " />
		<!-- -->

		<!--output settings-->
		<add key="UsingFortranLib" value="false" />
		<add key="UsingDotNetLib" value="true" />
		<add key="differenceCount" value="true" />
		<add key="PrintInputParams" value="true" />
		<add key="ConvertToPercentage" value="true" />
		<add key="RoundingDecimals" value="6" />
		<add key="OutputFormat" value="0.000000" />
		<add key="OutputFileFormat" value="txt" /> <!-- txt(default)/xml-->		
		
		<!-- log settings -->
		<add key="LogFile" value="C:\Development\Projects\RiskAssesmentTools\BCRA\Bcpt.Client.Console\Log\BCRA.log" />
		

	</appSettings>
</configuration>
