<connectionStrings>
  <!--add name="ConnectionString" connectionString="Data Source=ncidbsgqa\mssqlsgqa,53100; Initial Catalog=CCRAT; User ID=riskassessuser;Password=" /-->
  <add name="ConnectionString" connectionString="Data Source=Ncidbsgstge\mssqlsgstge,55459; Initial Catalog=CCRAT; User ID=riskassessuser; Password=readit_Bible" />
</connectionStrings>