#Agree {
    display: block;
    margin: 0px auto;
    padding: .5em 2em;
    border: 2px solid #000;
    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    box-shadow: 2px 2px 5px grey;
    -moz-box-shadow: 2px 2px 5px grey;
    -webkit-box-shadow: 2px 2px 5px grey;
    background: #023C4D;
    color: #FFF;
    transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    -webkit-transition: all .3s;
    text-transform: uppercase;
    white-space: nowrap;
}