#documentation
    strong Documentation
    p
        | The Breast Cancer Risk Assessment Tool may be updated periodically as new data or
        | research becomes available. The algorithm was last updated in May 2011. The current
        | software version is 3.0
    p
        | Download the zip file and unpack it an appropriate directory. The zip file will
        | contain the following two files:
    ul
        li This readme file.
        li The NCI.DCEG.BCRA.zip file which contains the source code.
    p
        | Unzip the NCI.DCEG.BCRA.zip file into an appropriate directory, you should see the
        br
        |  following files:
    ul
        li
            | NCI.DCEG.BCRA.sln: The Visual Studio 2005 solution file. You can double click and
            | run this solution in order to test the breast cancer risk assessment calculation
            | engine.
        li
            | NCI.DCEG.BCRA.ConsoleSample: A sample console application demonstrating the usage
            | of the code.
        li
            | NCI.DCEG.BCRA: A class library project that contains the breast cancer risk assessment
            | calculation engine.
