section#source-code(tab='source-code')
    .section-content
        .section-title
            | Download Source Code for the Breast Cancer Risk Calculation Engine
        p
            | The Breast Cancer Risk Assessment Tool may be updated periodically as new data or
            |  research becomes available. The algorithm was last updated in May 2011. The current
            |  software version is 3.0.
        p
            strong What You'll Download
        | A ZIP file (46 KB) containing the source code and documentation
        |  for the breast cancer risk calculation engine. The code is available as a C# class
        |  library.
        include documentation
        p
            | By downloading, you accept our Terms & Conditions (below).
        include terms-conditions
