*
  box-sizing border-box
body
    font-family sans-serif,  Helvetica, Calibri, Arial Rounded MT Bold
    font-size 10pt
    margin 0
    min-width 320px
    background #f7f8f3
    line-height 1.5
a
    color inherit
header
    margin 0
    min-width 320px
    width 100%
    img
        width auto
    #nci-banner
        display block
        overflow auto
        img
            display block
            max-height 90px
            max-width 450px
            min-height 52px
            min-width 30px
    #toolTitle
        background #2A71A5
        color white
        padding 10px 160px
        #toolDescription
            font-style italic
#top
    display block
    margin 0 0 40px 0
    min-height 40px
#menu-button
    display none
    float right
    height 52px
    padding 5px
    position relative
    width 60px
[tab]:not(.active)
    display none

ul.nav
    background #636363
    background linear-gradient(135deg, #f7f8f3 60px, #636363 100px, #424242 120px, rgba(255,255,255,0) 100%);
    border-top 2px solid #BB0E3D
    margin 0
    padding-left 160px
    // submenu's absolute positioning is now relative to the submenu allowing us to remove it from the flow without worrying about calculating its position on display
    position relative
    top 0
    width 100%
    li
        display inline-block
        // padding needs to happen on the header element to ensure we don't lose the submenu before we reach it
        padding 10px 15px
        &.active
            background-color #f7f8f3
            a
                color black
                font-weight bold
        a
            color white
            display inline-block
            text-align center
            text-decoration none
            &:hover
                text-decoration underline
        // reposition the subelement underneath the larger header. This breaks down literally as soon as there is a second line of headers, so mobile nav needs to start right around that point.
        ul
            background #000
            border 0
            left 0
            position absolute
            top 100%
        // by using :not we don't have to worry about what the original display value of the element is
        &:not(:hover) > ul
            display none
        &#quick-link ul
            background #f7f8f3
            a
                color #BB0E3D
    &.stick-nav-top
        position fixed
        z-index 10000

#content
    margin 0
    background transparent

footer
    color black
    padding 5px 0
    clear both
    text-align center
    ul li
        list-style none
        display inline-block
        margin 0 5px
        a
          color black
          :hover
              text-decoration none

dl
    padding 0 60px
    dt
        font-weight bold

.rounded
    border-radius 10px

section
    margin 0 auto
    padding 0 150px
    form
        display block
        > ol
            list-style decimal
            > li
                display inline-block
                margin 5px
                padding 15px
                width 32%
                max-width 100%
                height 400px
                vertical-align top
                overflow auto
                border 2px solid #2A71A5
                &:nth-child(even)
                    background #fff
                &:nth-child(odd)
                    background-color transparent
                    > .question-illustrations
                        background-color inherit
                ol
                    list-style none
                    padding 0
                .question
                    > *
                        padding 6px 0
                    > .notice
                        font-size .9em
                        border 1px solid
                        padding 10px
                        margin 5px auto
                        max-width 400px
                        display none
                        color #000
                        border-radius 5px
                        box-shadow 3px 2px 7px black
                        > p
                            margin 5px 0
                    > label
                        display inline-block
                        > *
                            vertical-align top
                        > a.notice-show
                            font-weight normal
                    > p
                        display inline-block
                    .input > label
                        display block
                    select, input
                        width 100%
                        &[type="radio"]
                            width 15px

        .female, .male, .subquestion
            &:not(.show)
                display none

        input, select
            padding 10px
            &.error
                border 2px solid #FC7878
                background rgba(255, 0, 0, 0.25)
        .no-css
            display none

        .question-num
            border-right 4px #606060 solid
            color #606060
            font-weight bold
            text-align center

        .question-text
            font-weight bold
            &.error
                color red
        button
            float right
            padding 8px 60px
        .question-illustrations
            width 100%
            margin 0 auto
            background #fff
            text-align center
            .stock-images
                margin 0 10px
                border-radius 5px
                width 200px
                height 140px
            .expand
                width 100%
                box-shadow 3px 3px 10px #000
            img
                width 30%
                margin 10px 0
                vertical-align top

.section-content,.section-description
    padding 0 1%
    ul.red-arrow li
        list-style-image url("images/red-arrow.gif")

.section-title
    margin 5px auto
    font-weight bold
    padding 5px 20px
    background #BB0E3D
    border-radius 10px
    color white
    :nth-child(2)
        float right
    a
        color inherit !important

.section-title, .section-content
    a
        text-decoration underline
        color #BB0E3D
        :hover
            text-decoration none
        &.termToDefine
            font-style italic
            text-decoration none
            border-bottom 1px dotted
            &:hover
                border-bottom none

.section-description
    margin 10px auto
    padding 5px
    border 2px solid #FFF
    border-radius 10px
    box-shadow 3px 2px 5px black
    background rgb(119, 136, 153)
    color #FFF
    a
        color inherit
        &:hover
            text-decoration none
    p
        margin 10px 0
    > .more
        height 100px
        overflow hidden
    > .show-more
        height 30px
        margin 10px 0
        font-size .9em
        color #fff
        background #4A4A4A
        border 2px solid #fff
        border-radius 5px
        text-decoration underline
        font-family "Tahoma", "Geneva", "sans-serif"
        &:hover
            text-decoration none
            color #fff
            border-color #fff
            background none

.about-question-title
    border-left 2px solid #2A71A5
    padding-left 5px
    margin 5px auto

.about-question-explanation
    margin 5px auto
    padding 15px

.content-details
    padding 10px 15px
    margin 10px auto
    border 2px solid #2A71A5
    background white

.references
    font-style italic

.section-anchors
    margin 10px auto
    padding 0
    text-align center
    li
        display inline
        list-style none
        margin 0
        padding 0

.spacer
    border-left 2px solid
    border-color inherit
    display inline
    margin 0 10px

#error
    background #FC7878
    border 5px solid #A95F5F
    border-radius 10px
    padding 5px
    font-weight bold
    vertical-align top
    text-align left
    p
        vertical-align text-top
        display inline-block
        width 40%
        margin 5px 10px
#result
    border 5px solid black
    border-radius 10px
    margin 0 auto
    max-width 600px
    padding 30px
    h2
        font-size 48px
        margin 0
        text-align center
    .chart
        background #69F
        font-size 0
        position relative
        z-index 0
        .bar
            height 20%
            left 0
            top 0
            position absolute
            z-index -1
            &.yours
                background #300828
            &.average
                background red
        img
            width 5%
.hide
    display none

.hidden-anchor
    display none

.ui-helper-hidden-accessible
    border 0
    clip rect(0 0 0 0)
    height 1px
    margin -1px
    overflow hidden
    padding 0
    position absolute
    width 1px

.default-tooltip-title
    background #0C5C97
    font-weight bold
    color white
    border-radius 10px 10px 0 0
    text-decoration underline

.default-tooltip-content
    background #FFFFFF
    line-height 1.4
    border-radius 0 0 10px 10px
    border 1px solid black

.more
    height auto

#topButton
    font-size 2em
    display none
    color white
    text-align center
    padding 5px 0
    position fixed
    bottom 20px
    right 20px
    > .fa
        margin 5px
        border 4px solid #6699BC
        background #6699BC
        background rgba(42,113,165,0.7)
        border-radius 20px
