section form
        > ol
            list-style decimal
            > li ol
                    list-style none
                    padding 0
                .question
                    > *
                        padding 6px 0
                    > .notice
                        font-size .9em
                        border 1px solid
                        padding 10px
                        margin 5px auto
                        max-width 400px
                        display none
                        color #000
                        border-radius 5px
                        box-shadow 3px 2px 7px black
                        > p
                            margin 5px 0
                    > label
                        display inline-block
                        > *
                            vertical-align top
                        > a.notice-show
                            font-weight normal
                    > p
                        display inline-block
                    .input > label
                        display block
                    select, input
                        &[type="radio"]
                            width 15px

        .female, .male, .subquestion
            &:not(.show)
                display none

        .question-text
            font-weight bold
            &.error
                color red


.section-content,.section-description
    padding 0 1%

.section-title, .section-content
    a
        text-decoration underline
        color #BB0E3D
        :hover
            text-decoration none

.content-details
    border-radius 10px
    padding 10px 15px
    margin 10px auto
    border 2px solid #2A71A5
    background white

.question-group-title
    text-align center
    background #555554
    color #FCFCFA
    border-radius 5px
    padding 3px 0
