doctype html
html(lang="en")
    head
        title Mean Risk Stratification (MRS)
        meta(http-equiv='content-type', content='text/html; charset=utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
        script(src='//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js')
        script(src='mrs.js')
        link(rel='stylesheet', href='/common/css/font-awesome.css', type='text/css')
        link(rel='stylesheet', href='//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/themes/smoothness/jquery-ui.css')
        link(rel='stylesheet', href='/common/css/style.css')
        link(rel='stylesheet', href='styles.css')
        link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css', type='text/css')

    body
        .center-block
            .sr-only
                a(href="#markers") Skip to Content
            include partials/header.jade
            #main
                #banners
                    #left
                        img(src='/common/images/DCEG-BB-HREB.png',
                        alt='Banner for NCI Division of Cancer Epidemiology, Genetics Biostatistics Branch, Hormonal and Reproductive Epidemiology Branch ',
                        height='43')
                    br
                h1.h2.title.text-center(title='Mean Risk Stratification') Mean Risk Stratification (MRS)
                .col-md-4
                    include partials/biomarker.jade
                .col-md-6
                    include partials/results.jade
        include partials/footer.jade