#loader.loader
#results
    table.table.table-bordered.table-condensed
        thead
            tr
                th.active Calculations
                th.bm_1.marker_name.active
                th.bm_2.marker_name.active
                th.bm_3.marker_name.active
        tr
            td.concern.termToDefine Concern = PPV-P(D+)
            td.output.bm_1#concern_result
            td.output.bm_2#concern_result
            td.output.bm_3#concern_result
        tr
            td.reassurance.termToDefine Reassurance = P(D+)-cNPV
            td.output.bm_1#reassurance_result
            td.output.bm_2#reassurance_result
            td.output.bm_3#reassurance_result
        tr
            td.q_sens.termToDefine Concentration = Sensitivity - P(M+)
            td.output.bm_1#q_sens_result
            td.output.bm_2#q_sens_result
            td.output.bm_3#q_sens_result
        tr
            td.q_spec.termToDefine Reduction = P(M+) - cSpec
            td.output.bm_1#q_spec_result
            td.output.bm_2#q_spec_result
            td.output.bm_3#q_spec_result
        tr
            td.mrs.termToDefine Mean Risk Stratification = 2(ad-bc)
            td.output.bm_1#mrs_result
            td.output.bm_2#mrs_result
            td.output.bm_3#mrs_result
        tr
            td.max_mrs.termToDefine Maximum possible MRS for a disease with this prevalence
            td.output.bm_1#max_mrs_result
            td.output.bm_2#max_mrs_result
            td.output.bm_3#max_mrs_result
        tr
            td.pbs.termToDefine Population Burden Stratification (PBS) = a-b
            td.output.bm_1#pbs_result
            td.output.bm_2#pbs_result
            td.output.bm_3#pbs_result
        tr
            td.nnr.termToDefine Number Needed to Recruit (NNR) = 1/PBS
            td.output.bm_1#nnr_result
            td.output.bm_2#nnr_result
            td.output.bm_3#nnr_result
        tr
            td.nns.termToDefine Number Needed to Screen (NNS) =1/RD
            td.output.bm_1#nns_result
            td.output.bm_2#nns_result
            td.output.bm_3#nns_result
    br
    table.table.table-bordered.table-condensed
        thead
            tr
                th.active Parameters
                th.bm_1.marker_name.active
                th.bm_2.marker_name.active
                th.bm_3.marker_name.active
        tbody
            tr
                td.test.termToDefine True Positive Fraction = a
                td.output.bm_1#d_pos_result
                td.output.bm_2#d_pos_result
                td.output.bm_3#d_pos_result
            tr
                td.test.termToDefine False Negative Fraction = b
                td.output.bm_1#pos_d_neg_m_result
                td.output.bm_2#pos_d_neg_m_result
                td.output.bm_3#pos_d_neg_m_result
            tr
                td.test.termToDefine False Positive Fraction = c
                td.output.bm_1#neg_d_pos_m_result
                td.output.bm_2#neg_d_pos_m_result
                td.output.bm_3#neg_d_pos_m_result
            tr
                td.test.termToDefine True Negative Fraction = d
                td.output.bm_1#m_neg_result
                td.output.bm_2#m_neg_result
                td.output.bm_3#m_neg_result
            tr
                td.termToDefine.prob_m Marker Positivity
                td.output.bm_1#prob_m_result
                td.output.bm_2#prob_m_result
                td.output.bm_3#prob_m_result
            tr
                td.prob_d.termToDefine Disease Prevalence
                td.output.bm_1#prob_d_result
                td.output.bm_2#prob_d_result
                td.output.bm_3#prob_d_result
            tr
                td.termToDefine.ppv Positive Predictive Value (PPV)
                td.output.bm_1#ppv_result
                td.output.bm_2#ppv_result
                td.output.bm_3#ppv_result
            tr
                td.cnpv.termToDefine Complement of Negative Predictive Value (cNPV)
                td.output.bm_1#c_npv_result
                td.output.bm_2#c_npv_result
                td.output.bm_3#c_npv_result
            tr
                td.termToDefine.sens Sensitivity
                td.output.bm_1#sens_result
                td.output.bm_2#sens_result
                td.output.bm_3#sens_result
            tr
                td.termToDefine.spec Specificity
                td.output.bm_1#spec_result
                td.output.bm_2#spec_result
                td.output.bm_3#spec_result
            tr
                td.test.termToDefine Complement of Specificity (cSpec)
                td.output.bm_1#c_spec_result
                td.output.bm_2#c_spec_result
                td.output.bm_3#c_spec_result
            tr
                td.test.termToDefine Relative Risk
                td.output.bm_1#rr_result
                td.output.bm_2#rr_result
                td.output.bm_3#rr_result
            tr
                td.test.termToDefine Risk Difference (RD)
                td.output.bm_1#r_diff_result
                td.output.bm_2#r_diff_result
                td.output.bm_3#r_diff_result
            tr
                td.test.termToDefine Youden's Index (YI)
                td.output.bm_1#youden_result
                td.output.bm_2#youden_result
                td.output.bm_3#youden_result
            tr
                td.auc.termToDefine AUC = (1+YI)/2
                td.output.bm_1#auc_result
                td.output.bm_2#auc_result
                td.output.bm_3#auc_result