label.questions(for="veg_servings") 
	| In the past 30 days, about how many servings per week of vegetables or leafy green salads did the patient eat?
em
	b Includes
	|  leafy green salads and raw, cooked, canned, and frozen vegetables (including beans)
	b Does not include
	|  fried vegetables like French fries or fried potatoes.
.responseOptions
	select#veg_servings(name='veg_servings')
		option(value='') - select -
		option(value='0') None
		option(value='.5') Less than 1 serving per week
		option(value='1.5') 1-2 servings per week
		option(value='3.5') 3-4 servings per week
		option(value='5.5') 5-6 servings per week
		option(value='8.5') 7-10 servings per week
		option(value='11') More than 10 servings per week
label.questions.subquestions(for="veg_amount")
	| In the past 30 days, how much did the patient usually eat in each serving of vegetables or leafy green salads?
.responseOptions.subquestions
	select#veg_amount(name='veg_amount')
		option(value='') - select -
		option(value='.25') 1/2 cup or less
		option(value='1') Between 1/2 cup and 1 1/2 cups
		option(value='2.25') Between 1 1/2 cups and 3 cups
		option(value='4') Between 3 cups and 5 cups
		option(value='6') More than 5 cups