section#risk-factors(tab='risk-factors')
    .section-content
        .section-title
            span Breast Cancer Risk Factors

            a.goToTab(title='go to melanoma risk assessment', name='risk-calculator') Calculate Risk for New Patients
        strong
            | Anything that increases the chance of developing a disease is called a risk factor.
            | Risk factors for breast cancer include the following:
        ul.red-arrow
            li age
            li
              | age at the start of
              | &nbsp;
              a.termToDefine(data-term='menst')
                | menstruation
            li age at first live birth
            li number of first-degree relatives (mother, sisters, daughters) with breast cancer
            li
              | number of previous breast
              | &nbsp;
              a.termToDefine(data-term='biopsy') biopsies
              |  (whether positive or negative)
            li
              | at least one breast biopsy with
              | &nbsp;
              a.termToDefine(data-term='ah') atypical hyperplasia
        strong Other risk factors, such as:
        ul.red-arrow
            li age at menopause, dense breast tissue on a mammogram,
            li use of birth control pills or hormone replacement therapy,
            li a high-fat diet, drinking alcohol,
            li low physical activity, obesity, or environmental exposures
        | are not included in risk estimates with the Breast Cancer
        |  Risk Assessment Tool for three reasons:
        |  evidence is not conclusive or researchers cannot accurately determine how much these
        |  factors contribute to the calculation of risk for an individual woman, or adding
        |  these factors does not increase the accuracy of the tool appreciably.
        p
            | Breast cancer may also be caused by inherited gene mutations. Hereditary breast
            | cancers account for approximately 5% to 10% of all breast cancers. Specific hereditary
            | predispositions for breast cancer, such as inheriting a mutation in either the
            | &nbsp;
            a.termToDefine(data-term='brca1') brca1
            | &nbsp;or&nbsp;
            a.termToDefine(data-term='brca2') brca2
            |  gene, are not taken into account in risk estimates with
            |  the Breast Cancer Risk Assessment Tool. Although the tool performs well in clinics
            |  where women have a strong family history of breast cancer, more specific methods
            |  for projecting risk are appropriate if a woman is known to carry a breast cancer-producing
            |  mutation in
            | &nbsp;
            a.termToDefine(data-term='brca1') brca1
            | &nbsp;or&nbsp;
            a.termToDefine(data-term='brca2') brca2
            | &nbsp;. See "
            a.goToTab(href='#about', name='about') About the Tool
            | " for more information.
        p
            | Researchers are, however, conducting additional studies to gather more data and
            |  to determine whether including information on other risk factors can strengthen
            |  the statistical model, called the Gail model
            |  , upon which the Breast Cancer Risk Assessment Tool is based. Nonetheless,
            |  the current
            |  model estimates breast cancer risk accurately on average.
        p
            | For more information on breast cancer risk, please visit
            | &nbsp;
            a(target="_blank",href='http://www.cancer.gov/cancertopics/prevention-genetics-causes/breast')
              | Breast Cancer: Prevention, Genetics, Causes
            | .
