doctype html
html
    head
        title UI Demo
        meta(http-equiv='content-type', content='text/html; charset=utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
        script(src='//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js')
        script(src='scripts.js')
        // <script src="../compTools/bc/bc.js"></script>
        link(rel='stylesheet', href='/common/css/font-awesome.css', type='text/css')
        link(rel='stylesheet', href='//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/themes/smoothness/jquery-ui.css')
        link(rel='stylesheet', href='/common/css/style.css')
        link(rel='stylesheet', href='styles.css')
        link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css', type='text/css')

    body
        .center-block
            .sr-only
                a(href="#markers") Skip to Content
            include partials/header.jade
            #main
                #banners
                    #left
                        img(src='/common/images/DCEG-BB-HREB.png',
                        alt='Banner for NCI Division of Cancer Epidemiology, Genetics Biostatistics Branch, Hormonal and Reproductive Epidemiology Branch ',
                        height='43')
                    br
                h2.title.text-center(title='Tool Title') Tool Title
                .col-md-4
                    .col-md-12#markers.well
                        .marker.panel-group
                            .row.bg-primary
                                .text-center.marker-title Biomarker #1
                            .row
                                .panel.panel-default
                                    .panel-title.top-header.bg-info
                                        a.panel-toggle(data-toggle='collapse', data-parent='#accordion', href='#marker-1-panel-1') Option 1
                                    #marker-1-panel-1.panel-collapse.collapse.in
                                        .panel-body
                                            table.option-1.table.table-bordered.table-condensed
                                                tr
                                                    th.col-md-2.header
                                                    th.definition.col-md-5.header#mPlus(title="Description for M plus") M+
                                                    th.definition.col-md-5.header#mMinus(title="Description for M minus") M-
                                                tr
                                                    th.definition.col-md-2#dPlus(title="Description for D+") D+
                                                    td.col-md-5
                                                        input(type="text")
                                                    td.col-md-5
                                                        input(type="text")
                                                tr
                                                    th.definition.col-md-2#dMinus(title="Description for D-") D-
                                                    td.col-md-5
                                                        input(type="text")
                                                    td.col-md-5
                                                        input(type="text")
                                .panel.panel-default
                                    .top-header.bg-info
                                        .panel-title
                                            a.panel-toggle(data-toggle='collapse', data-parent='#accordion', href='#marker-1-panel-2') Option 2
                                    #marker-1-panel-2.panel-collapse.collapse
                                        .panel-body
                                            .row
                                                table.option-2.table.table-condensed.table-responsive.table-boardered
                                                    thead
                                                        tr.non-data-row
                                                            th.header
                                                                #paramType.termToDefine(data-term='param_type') Parameter Type
                                                                #ParamDefinition
                                                            th.header
                                                                #paramValue.termToDefine(data-term='param_value') Value
                                                                #SpecDefinition.popupDefinition
                                                    tbody
                                                        tr.param_row(row='0')
                                                            td.input.sensitivity(row='0', col='param_type')
                                                                select
                                                                    option option1
                                                                    option option2
                                                                    option option3
                                                            td.input.specificity(name="param_value_1",row='0', col='param_value')
                                                                input(type='text')
                                                        tr(row='1')
                                                            td.input.sensitivity(row='1', col='param_type')
                                                                select
                                                                    option option1
                                                                    option option2
                                                                    option option3
                                                            td.input.specificity(row='1', col='param_value')
                                                                input(name="param_value_2", type='text')
                                                        tr(row='2')
                                                            td.input.sensitivity(row='2', col='param_type')
                                                                select
                                                                    option option1
                                                                    option option2
                                                                    option option3
                                                            td.input.specificity(row='1', col='param_value')
                                                                input(name="param_value_2", type='text')
                    .col-md-12#control-group
                        .row.pull-right
                            button#add-marker
                                span.glyphicon.glyphicon-plus-sign
                            button#delete-marker
                                span.glyphicon.glyphicon-minus-sign
                            button#calculate(type="button") Calculate
                            button#reset(type="reset") Reset
                .col-md-6
                    .panel.panel-default Results displayed here...
        include partials/footer.jade