li
    .question
        .notice
            | In a sigmoidoscopy, your doctor looks inside your rectum
            |  and the lower part of the colon with a lighted tube
            |  called a sigmoidoscope. If anything unusual is in the
            |  rectum or colon, like a small polyp or inflamed tissue,
            |  your doctor can remove it using the sigmoidoscope. Then,
            |  he or she will send that piece of tissue to the lab for
            |  testing. In a colonoscopy, your doctor looks inside the
            |  rectum and entire colon using a long, lighted tube called
            |  a colonoscope. Using a colonoscope, your doctor can remove
            |  any polyps he or she sees. The procedure to remove polyps
            |  is called a polypectomy. Having this procedure will reduce
            |  your risk of colorectal cancer because polyps that can grow
            |  into cancer are removed.
        label.question-text(for="exam") In
            i  the past 10 years
            |  did you have a
            | &nbsp;
            a.termToDefine(data-term="colon") colonoscopy
            | ,
            a.termToDefine(data-term="sig") sigmoidoscopy
            | , or both?
            include ../../templates/notice-anchor
        .input
            select#exam(name='exam')
                option(value='') -select-
                option(value='0') Colonoscopy Only
                option(value='1') Sigmoidoscopy Only
                option(value='2') Both
    ol
        li#subquestion-exam.subquestion
            .question
                .notice
                    | Polyps are growths on the inner wall of the colon
                    |  or rectum. They are common in people over age 50.
                    |  Most polyps are not cancer, but some can become cancer.
                    |  Finding and removing polyps may reduce the risk of colorectal cancer.
                label.question-text(for="polyp") In
                    i the past 10 years
                    | , did a healthcare provider tell you that you had
                    i  a colon or rectal &nbsp;
                    a.termToDefine(data-term="polyp") polyp
                    |?
                    include ../../templates/notice-anchor
                .input
                    select#polyp(name='polyp')
                        option(value='') -select-
                        option(value='0') Yes
                        option(value='1') No
                        option(value='2') I don't know
li
    .question
        .notice
            | Studies have shown that aspirin and drugs called NSAIDs
            |  can lower the risk of colorectal adenomas (tumors that
            |  are not cancer), and may lower the risk of colorectal
            |  cancer. (NSAID stands for nonsteroidal anti-inflammatory drug.)
        label.question-text(for="medications") During
            i  the past 30 days,
            |  have you taken
            | &nbsp;
            i any
            |  prescription or over the counter medications?
            include ../../templates/notice-anchor
        br
        | NOTE: Do NOT include TYLENOL
        .input
            select#medications(name='medications')
                option(value='') -select-
                option(value='0') Yes
                option(value='1') No
                option(value='2') I don't know
    ol
        li#subquestion-medications.subquestion
            .question
                label.question-text(for="asprin") During
                    i  the past 30 days,
                    |  have you taken medications that
                    | &nbsp;
                    a.termToDefine(data-term="asprin") contain aspirin
                    | &nbsp;
                    | at least 3 times a week :
                | NOTE: Do NOT include TYLENOL
                .input
                    select#asprin(name='asprin')
                        option(value='') -select-
                        option(value='0') Yes
                        option(value='1') No
                        option(value='2') I don't know
            .question
                label.question-text(for="non-asprin") During
                    i  the past 30 days,
                    |  have you taken medications that
                    | &nbsp;
                    a.termToDefine(data-term="non-asprin") DO NOT contain aspirin
                    |  at least 3 times a week :
                | NOTE: Do NOT include TYLENOL
                .input
                    select#non-asprin(name='non-asprin')
                        option(value='') -select-
                        option(value='0') Yes
                        option(value='1') No
                        option(value='2') I don't know
