#about.tab-pane.active(role="tabpanel")
	h1 About the Model and Source Code

	p The tool uses the answers about risk and preventive factors to calculate a person’s absolute risk of colorectal cancer for a specific time period.

	p The model was tested in a large population and has been shown to be accurate in predicting absolute risk. 
		| Because the majority of participants in the case-control studies were non-Hispanic whites, relative risks for other racial or ethnic groups could not be estimated. 
		| Researchers have since updated the tool using SEER rates for black, Asian American/Pacific Islander, 
		| and Hispanic/Latino populations to enable the tool to be applicable for men and women in these populations. 
		| As more data becomes available, researchers will be able to test and validate the tool for these populations.

	p The 
		a(href="") risk calculator 
		| will be updated periodically as new data or research becomes available. In addition, the tool may prove useful to researchers who are designing research intervention studies.
	h2 Download the Source Code
	p The CCRAT may be updated periodically as new data or research becomes available. The algorithm was last updated in October 2014. The current software version is 1.1.
	p To project absolute colon cancer risk, according to the NCI CCRAT algorithm, download the SAS macro or Gauss file. 
		| Both have separate files for the models for men and women, useful for research purposes when one needs risk projections for an entire study population. 
		| The Gauss Program also computes 95% confidence intervals for risk projections.
	h3 References
	ol
		li 
			| Freedman AN, Slattery ML, Ballard-Barbash R, Willis G, Cann B, Pee D, Gail MH, Pfeiffer RM. 
			| A colorectal cancer risk prediction tool for white men and women without known susceptibility. 
			| J Clin Oncol 2009 Feb 10;27(5):686-93. Epub 2008 Dec 29. [
			a(href="", target="_blank") PubMed Abstract
			| ]
		li
			| Park Y, Freedman AN, Gail MH, Pee D, Hollenbeck A, Schatzkin A, Pfeiffer RM. 
			| Validation of a colorectal cancer risk prediction model among whites 50 years old and over. 
			| J Clin Oncol 2009 Feb 10;27(5):694-8. Epub 2008 Dec 29. [
			a(href="", target="_blank") PubMed Abstract
			| ]