#tool.tab-pane(role="tabpanel")
	#summary.show
		h2 The Colorectal Cancer Risk Assessment Tool
		.row
			.col-xs-12.col-md-6
				.content
					p.col-xs-12
						| The Colorectal Risk Assessment Tool was designed for use by doctors and other health care providers with their patients. 
						| The tool can estimate the risk of colorectal cancer over the next 5 years, 10 years, and the lifetime risk for men and women who are:
					ul.col-xs-12.col-sm-6
						li Between the ages of 50 and 85
						li White
						li Black
						li Asian American/Pacific Islander
						li Hispanic/Latino
					.col-xs-12.col-sm-6
						button.toggleTool.btn.btn-lg.btn-form.center-block(type="button") Assess Patient Risk
			.box.col-xs-12.col-md-4
				p This tool cannot accurately estimate risk of colorectal cancer for people who have the following problems:
				ul
					li Ulcerative colitis
					li Crohn disease
					li Familial adenomatous polyposis (FAP)
					li Hereditary Nonpolyposis Colorectal Cancer (HNPCC), also known as Lynch Syndrome
					li Personal history of colorectal cancer
		.row
			p It will take 5 to 8 minutes to answer all of the questions and obtain a risk estimate.
			p There is not as much data available for blacks, Asian Americans/Pacific Islanders, or Hispanics/Latinos. 
				| Until researchers complete studies that will provide information to update the tool for these groups, results may be less accurate. 
				| Although the tool is not perfect, it can still help doctors and their patients better understand personal risk of colorectal cancer.
			p This tool does not yet apply to American Indians and Alaska Natives, but we are working to improve the tool for use by these groups.
			p This tool cannot accurately estimate risk of colorectal cancer for people who have the following problems:
			ul
				li Ulcerative colitis
				li Crohn disease
				li Familial adenomatous polyposis (FAP)
				li Hereditary Nonpolyposis Colorectal Cancer (HNPCC), also known as Lynch Syndrome
				li Personal history of colorectal cancer
		h2 Resources
		ul.list-unstyled
			li 
				a(href="") Colorectal Cancer—Health Professional Version
			li 
				a(href="") Tests to Detect Colorectal Cancer and Polyps
			li 
				a(href="") Cancer Risk Prediction and Assessment
	include form