doctype html
html(lang="en")
	head
		title Colorectal Cancer Risk Assessment Tool (CCRAT)
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(href='https://fonts.googleapis.com/css?family=Noto+Sans', rel='stylesheet', type='text/css')
		link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', rel='stylesheet', type='text/css')
		link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css", rel="stylesheet", type="text/css")
		link(href="/common/css/style.css", rel="stylesheet", type="text/css")
		link(href="styles.css", rel="stylesheet", type="text/css")
		script(src='https://code.jquery.com/jquery-2.1.4.min.js', type='application/javascript')
		script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.14.0/jquery.validate.js", type="application/javascript")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.14.0/additional-methods.js", type="application/javascript")
		script(type='application/javascript', src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
		script(type='application/javascript', src='ccrat.js')
	body
		include shared/header
		#main.tab-content(tabindex="-1")
			include about
			include calculator
			include contact
		include shared/footer
		#raceModal.modal.error-dialog.fade(tabindex='-1', role='dialog')
			.modal-dialog(role='document')
				.modal-content
					.modal-body
						p 
							| When we first developed this tool, we tested it with white people and 
							| found it to be accurate in estimating their risk of colorectal cancer. 
							| If you are Hispanic/Latino, this tool can still estimate your risk. 
							| But, because there is not as much data available for these groups, 
							| your results may be less accurate.
						p 
							| In the future, we hope to make this tool more accurate for 
							i#af-notice African American, as researchers complete studies that will provide information to update 
							i#hisp-notice Hispanics/Latinos, as researchers complete studies that will provide information to update 
							i#as-notice Asian American or Pacific Islander, as researchers complete studies that will provide information to update 
							| the tool for these groups.
						p 
							| Although the tool is not perfect, the information you learn from 
							| using it can still help you and your doctor better understand 
							| your risk of colorectal cancer.
						#aa-notice
						button.btn.btn-primary(type='button', data-dismiss='modal') Close
