section form > ol {
  list-style: decimal;
}
section form > ol > li ol {
  list-style: none;
  padding: 0;
}
section form > ol .question > * {
  padding: 6px 0;
}
section form > ol .question > .notice {
  font-size: 0.9em;
  border: 1px solid;
  padding: 10px;
  margin: 5px auto;
  max-width: 400px;
  display: none;
  color: #000;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 3px 2px 7px #000;
  box-shadow: 3px 2px 7px #000;
}
section form > ol .question > .notice > p {
  margin: 5px 0;
}
section form > ol .question > label {
  display: inline-block;
}
section form > ol .question > label > * {
  vertical-align: top;
}
section form > ol .question > label > a.notice-show {
  font-weight: normal;
}
section form > ol .question > p {
  display: inline-block;
}
section form > ol .question .input > label {
  display: block;
}
section form > ol .question select[type="radio"],
section form > ol .question input[type="radio"] {
  width: 15px;
}
section form .female:not(.show),
section form .male:not(.show),
section form .subquestion:not(.show) {
  display: none;
}
section form .question-text {
  font-weight: bold;
}
section form .question-text.error {
  color: #f00;
}
.section-content,
.section-description {
  padding: 0 1%;
}
.section-title a,
.section-content a {
  text-decoration: underline;
  color: #bb0e3d;
}
.section-title a :hover,
.section-content a :hover {
  text-decoration: none;
}
.content-details {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  padding: 10px 15px;
  margin: 10px auto;
  border: 2px solid #2a71a5;
  background: #fff;
}
.question-group-title {
  text-align: center;
  background: #555554;
  color: #fcfcfa;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 3px 0;
}

@media (max-width: 1300px) {
  ul.nav {
    margin: 0;
  }
  ul.nav li {
    padding: 7px;
  }
  section {
    margin: 0 50px;
    padding: 0 20px;
  }
  section form > ol > li {
    margin: 10px auto;
    width: 45%;
    min-height: 150px;
    max-height: 600px;
  }
}
@media (max-width: 990px) {
  #error p {
    display: block;
    width: 100%;
    margin: 5px;
  }
  header {
    position: relative;
  }
  header #toolTitle {
    text-align: center;
    padding: 5px;
  }
  dl {
    padding: 0;
  }
  .spacer {
    display: block;
  }
  .section-anchors li,
  footer li {
    padding: 5px 0;
  }
  section {
    margin: 0 25px;
  }
  section form > ol {
    padding: 0;
  }
  section form > ol > li > p {
    margin-right: 0;
  }
  section form > ol > li > p > .input {
    width: 100%;
    margin: 10px auto;
  }
  section form .question-text {
    margin: 0;
    padding: 1%;
  }
  section form .question-illustrations img {
    width: 80%;
  }
  section form button {
    display: inherit;
    margin: 0 auto;
    width: 50%;
    float: none;
  }
}
@media (max-width: 768px) {
  header #nci-banner {
    padding-left: 25px;
  }
  header #toolTitle {
    padding: 5px 0;
  }
  .menu-title {
    padding: 5px 0;
    display: block;
    background-color: rgba(220,222,224,0.5);
    color: #fff;
    padding-left: 0;
  }
  #top {
    margin: 0;
    min-height: 0;
  }
  #menu-button {
    display: block;
  }
  ul.nav {
    background: transparent;
    padding: 0;
    text-align: center;
  }
  ul.nav:not(.show) {
    display: none;
  }
  ul.nav.stick-nav-top {
    position: inherit;
  }
  ul.nav > li {
    display: block;
    padding: 8px;
  }
  ul.nav > li a {
    color: #bb0e3d;
  }
  ul.nav > li:not(:hover) > ul {
    display: block;
  }
  ul.nav > li > ul {
    background: transparent;
    margin: 10px 0 -5px;
    position: static;
  }
  ul.nav > li > ul:not(.show) {
    display: none;
  }
  .section-title {
    overflow: auto;
    padding: 5px 10px;
  }
  section {
    margin: 10px;
    padding: 0;
  }
  section form > ol > li {
    width: 100%;
    height: auto;
    max-height: 350px;
    min-height: 130px;
    padding: 5px 10px;
  }
  footer {
    margin: 25px 0;
  }
  .question-illustration {
    padding-left: 0;
  }
  .question-illustration .stock-images {
    width: 180px;
  }
}
@media (max-width: 480px) {
  header #nci-banner {
    padding-left: 0;
  }
  .section-title * {
    display: block;
    text-align: center;
  }
  .section-title :nth-child(2) {
    float: none;
  }
}
