//-extends index
//-block page-title
//-    title About the Tool - MRAT

section#about(tab='about')
    .section-content
        .section-title
            span About the Tool
            a.goToTab(title='go to colorectal cancer risk assessment', name='risk-calculator') Calculate Risk for New Patients
        ul.section-anchors
            li
                a.goTo(title='skip to explanations of the questions', name='#questions-exp') Explaining the Questions
            .spacer
            li
                a.goTo(title='skip to explanations of the results',name='#results-exp') Explaining the Results
            .spacer
            li
                a.goTo(title='skip to the model', name='#model-exp') About the Model
            .spacer
            li
                a.goTo(title='go to references', name='#reference') Reference
        .exp-title Explaining the Questions
        #questions-exp
            .about-question-title
                | Question 1: Which of the following do you consider yourself to be?
                |  (African-American; Asian American/Pacific Islander; White;Hispanic/Latino)
            .about-question-explanation
                strong Explanation
                p
                    | When we first developed this tool, we tested it with white people and found it to
                    | be accurate in estimating their risk of colorectal cancer. If you are African American,
                    | Asian American/Pacific Islander, or Hispanic/Latino, this tool can still estimate your
                    | risk. But, because there is not as much data available for these groups, your results may be less accurate.
                p
                    | In the future, we hope to make this tool more accurate for African Americans,
                    | Asian Americans/Pacific Islanders, and Hispanics/Latinos, as researchers
                    | complete studies that will provide information to update the tool for these groups.
                p
                    | This tool does not yet apply to American Indians and Alaska Natives,
                    | but we are working to improve the tool for use by these groups of people.

            .about-question-title
                | Question 2: What is your age? (Keep in mind that this tool only estimates
                |  risk for people from 50 to 85 years old.)
            .about-question-explanation
                strong Explanation
                p
                    | As you get older, your risk of colorectal cancer gets higher. More than 90 percent
                    | of people with this disease are diagnosed after age 50. The average age at diagnosis is 72.

            .about-question-title Question 3: Are you male or female?
            .about-question-explanation
                strong Explanation
                p The factors that can protect you from colorectal cancer or cause you to be at higher risk are different for men and women.
            .about-question-title
                | Question 4
                ul.red-arrow
                    li How tall are you without shoes?
                    li 4a: How much do you weigh without shoes?
            .about-question-explanation
                strong Explanation
                p
                    | Height and weight are used to determine your body mass index (BMI).
                    | It can also be used to measure total body fat and whether a person is
                    | a healthy weight. Obesity (a problem in which people have too much body fat)
                    | has been linked to a higher risk of colorectal cancer.
            .about-question-title
                | Question 5
                ul.red-arrow
                    li
                        | In the past 30 days, have you eaten any  vegetables or leafy green salads?
                    li
                        | 5a: In the past 30 days, about how many servings per week of vegetables
                        | or leafy green salads did you eat?
                        | &nbsp;
                        | INCLUDE raw, cooked, canned, and frozen vegetables (including beans) and
                        | leafy green salads. DO NOT INCLUDE fried vegetables like French fries or fried potatoes.
                    li 5b: In the past 30 days, how much did you usually eat in each serving of vegetables or leafy green salads?
            .about-question-explanation
                strong Explanation
                p
                    Some studies suggest that people who eat a diet very low in vegetables may have a higher risk of colorectal cancer.
            .about-question-title
                | Question 6: During the past 10 years, did you have a colonoscopy or a sigmoidoscopy?
                |  (These are medical procedures in which your doctor inserts a tube into
                |  the rectum to look for signs of cancer or other problems.)
            .about-question-explanation
                strong Explanation
                p
                    | In a sigmoidoscopy, your doctor looks inside your rectum and the lower part
                    |  of the colon with a lighted tube called a sigmoidoscope. If anything unusual
                    |  is in the rectum or colon, like a small polyp or inflamed tissue, your doctor
                    |  can remove it using the sigmoidoscope. Then, he or she will send that piece of
                    |  tissue to the lab for testing. In a colonoscopy, your doctor looks inside the
                    |  rectum and entire colon using a long, lighted tube called a colonoscope.
                    |  Using a colonoscope, your doctor can remove any polyps he or she sees.
                    |  The procedure to remove polyps is called a polypectomy. Having this procedure
                    |  will reduce your risk of colorectal cancer because polyps that can grow
                    |  into cancer are removed.

            .about-question-title
                | Question 7: During the past 10 years did a doctor tell you that
                |  you had a polyp in your colon or rectum?
            .about-question-explanation
                strong Explanation
                p
                    | Polyps are growths on the inner wall of the colon or rectum.
                    | They are common in people over age 50. Most polyps are not cancer,
                    | but some can become cancer. Finding and removing polyps may reduce
                    | the risk of colorectal cancer. [Risk estimates for men for
                    | "polyps unknown" corrected on 10/7/2014.]
            .about-question-title
                | Question 8
                ul.red-arrow
                    li During the past 30 days, have you taken  any prescription
                        | or over the counter medications?
                    li 8a: During the past 30 days, have you taken medications that contain aspirin at least 3 times a week?
                    li 8b: During the past 30 days, have you taken medications that DO NOT contain aspirin at least 3 times a week?
            .about-question-explanation
                strong Explanation
                p
                    | Studies have shown that aspirin and drugs called NSAIDs can lower
                    | the risk of colorectal adenomas (tumors that are not cancer),
                    | and may lower the risk of colorectal cancer. (NSAID stands for nonsteroidal
                    | &nbsp;
                    i.termToDefine(data-term="aid") anti-inflammatory drug
                    | .) [Risk estimates for men and women for
                    | "medications that do not contain aspirin unknown" corrected on 10/7/2014.]
            .about-question-title
                | Question 9
                ul.red-arrow
                    li Over the  past 12 months, have you participated in any physical activity?
                    li 9a: Over the past 12 months, in how many months, if any, did you do any kind of moderate exerices?
                    li 9b: During those months, on average, about how many hours per week did you do moderate exercise?
                    li 9c: Over the past 12 months, in how many months, if any, did you do any kind of vigorous exercise?
                    li 9d: During those months, on average, about how many hours per week did you do vigorous exercise?
            .about-question-explanation
                strong Explanation
                p
                    | Studies suggest that not being active may increase your risk of colorectal cancer.
                    | On the other hand, if you exercise often, you may reduce your risk of colorectal cancer.

            .about-question-title
                | Gender Specific Questions (Males)
                ul.red-arrow
                    li In your entire lifetime, altogether, have you smoked 100 or more cigarettes?
                    li 10a: How old were you when you started smoking cigarettes on a regular basis,
                        | that is, at least one cigarette a day for six months or longer?
                    li 10b: Do you currently smoke cigarettes?
                    li 10c: How old were you when you quit smoking cigarettes completely?
                    li 10d: Thinking back over the years you have smoked regularly,
                        | about how many cigarettes have you usually smoked a day?
            .about-question-explanation
                strong Explanation
                p
                    | Studies suggest that men who are current or former smokers of
                    | cigarettes may be at increased risk for polyps and colorectal cancer.
                    | At this time, studies show that smoking does not increase risk of
                    | colorectal cancer among women. As time goes on and other studies are completed, that may change.

            .about-question-title
                | Gender Specific Questions (Females)
                ul.red-arrow
                    li Do you still have periods?
                    li 10a: When did you have your last period?
                    li 10b: During the past 2 years, have you used estrogen, progestin, or other female hormones?
            .about-question-explanation
                strong Explanation
                p
                    | Studies show that women who still have periods, stopped having their periods in
                    | the past 2 years, or have used
                    | &nbsp;
                    i.termToDefine(data-term="hrt") hormone replacement therapy
                    | (HRT) in the past
                    | 2 years may be at lower risk for colorectal cancer than other women.

            .about-question-title
                | Question 11
                ul.red-arrow
                    li Think only about your biological mother and father, full brothers and sisters, and your
                        | biological sons or daughters. At any time in their lives, did any of these relatives
                        | ever have colorectal cancer (which is another way to say colon or rectal cancer)?
                    li 11a: How many of these relatives had colorectal cancer (which is another way to say colon or rectal cancer)?
            .about-question-explanation
                strong Explanation
                p
                    | If you have close relatives (parents, brothers, sisters, or children) who have had colorectal cancer,
                    | your risk of colorectcal cancer is slightly higher. This is more true if the relative had the cancer
                    | at a young age. If you have many close relatives who have had colorectal cancer, the risk can be even higher.
        .exp-title Explaining the Results
        #results-exp
            p The Colorectal Cancer Risk Assessment Tool estimates your risk of colorectal cancer
                | during the next 5 and 10 years (up to age 90) if you are:
            ul
                li 50 to 85 years old
                li African American
                li Asian American/Pacific Islander
                li Hispanic/Latino
                li White
            p This tool uses the answers you provided to the questions to estimate your risk of colorectal cancer.
            p This tool provides estimates on absolute colorectal cancer risk. Absolute colorectal cancer
                | risk refers to the chance that you will develop colorectal cancer during a certain number of years.

            p When we first developed this tool, we tested it with white people and found it to be accurate in estimating their
                | risk of colorectal cancer. If you are African American, Asian American/Pacific Islander, or Hispanic/Latino,
                | this tool can still estimate your risk. But, because there is not as much data available for these groups,
                | your results may be less accurate.

            p In the future, we hope to make this tool more accurate for African Americans, Asian Americans/Pacific Islanders,
                | and Hispanics/Latinos, as researchers complete studies that will provide information to update the
                | tool for these groups.

            p This tool does not yet apply to American Indians and Alaska Natives,
                | but we are working to improve the tool for use in these groups of people.
        .exp-title About the Model
        #model-exp
            p
                | The Colorectal Cancer Risk Assessment Tool is based on the first absolute risk model for
                | colorectal cancer. The model was developed using data from two large U.S. population-based case-control
                | studies of colon and rectal cancer, cancer incidence data from 13
                | &nbsp;
                a(target="_blank", href='http://seer.cancer.gov/') NCI Surveillance, Epidemiology, and End Results (SEER)
                |  registries, and from national mortality rates.  The Colorectal Cancer Risk Assessment Tool
                | uses the respondent's answers about risk and preventive factors to calculate that person's absolute risk of colorectal cancer for a specific time period.
            p
                | The model was tested in a large population and has been shown to be accurate in predicting absolute risk.
                | Because the majority of participants in the case-control studies were non-Hispanic white males and females,
                | relative risks for other racial or ethnic groups could not be estimated.  Researchers have since updated the
                | tool using SEER rates for African American, Asian American/Pacific Islander, and Hispanic/Latino populations to enable
                | the tool to be applicable for men and women in these populations.  As more data becomes available on the African American,
                | Asian American/Pacific Islander, and Hispanic/Latino populations, researchers will be able to test and validate the tool for these populations.
            p
                | The risk calculator will be updated periodically as new data or research become available.
                | In addition, the tool may prove useful to researchers who are designing research intervention studies.
        .exp-title Reference
        #reference
            ul.red-arrow
                li.references
                    em
                        | Freedman AN, Slattery ML, Ballard-Barbash R, Willis G, Cann B, Pee D, Gail MH, Pfeiffer RM. A colorectal cancer risk prediction tool for white men and women without known susceptibility.  J Clin Oncol 2009 Feb 10;27(5):686-93. Epub 2008 Dec 29. [
                        a(target="_blank", href='http://www.ncbi.nlm.nih.gov/pubmed/19114701') PubMed Abstract
                        | ]
                li.references
                    em
                        | Park Y, Freedman AN, Gail MH, Pee D, Hollenbeck A, Schatzkin A, Pfeiffer RM. Validation of a colorectal cancer risk prediction model among whites 50 years old and over. J Clin Oncol 2009 Feb 10;27(5):694-8. Epub 2008 Dec 29. [
                        a(target="_blank", href='http://www.ncbi.nlm.nih.gov/pubmed/19114700') PubMed Abstract
                        | ]

