section#risk-calculator(tab='risk-calculator')
    span.hidden-anchor
        a(href='#survey') Skip to survey
    .section-content
        .section-description
            .heading Who should use this tool
            .description
                p
                    | When we first developed this tool, we tested it with white
                    |  people and found it to be accurate in estimating their risk
                    |  of colorectal cancer. If you are African American, Asian
                    |  American/Pacific Islander, or Hispanic/Latino, this tool
                    |  can still estimate your risk. But, because there is not as much data
                    |  available for these groups, your results may be less accurate.\n In the
                    |  future, we hope to make this tool more accurate for African Americans,
                    |  Asian Americans/Pacific Islanders, and Hispanics/Latinos, as researchers complete studies
                    |  that will provide information to update the tool for these groups.\n Although the tool is not
                    |  perfect, the information you learn from using it can still help you and your doctor better
                    |  understand your risk of colorectal cancer.
                br
                p This tool cannot accurately estimate risk of colorectal cancer for
                    |  people who have the following problems:
                ul.red-arrow
                    li Ulcerative colitis
                    li Crohn disease
                    li Familial adenomatous polyposis (FAP)
                    li Hereditary Nonpolyposis Colorectal Cancer (HNPCC), also known as Lynch Syndrome
                    li Personal history of colorectal cancer
                    li It will take about 5 to 8 minutes to answer all the questions and obtain your risk estimate.
        .section-description
            //-        p
            //-            strong Update November 2014:
            //-            |  NCI corrected risk estimates for men corresponding to answers "polyps unknown" (page 3 of 7) and
            //-            | for men and women corresponding to answers "medications that do not contain aspirin unknown" (page 4 of 7).
            .heading Before using this tool
            .description
                p The Colorectal Cancer Risk Assessment Tool was designed for use
                    |  by doctors and other health providers with their patients.
                    | If you are not a health provider, take these results to your
                    |  doctor or other health provider to discuss your personal
                    |  risk of colorectal cancer. (Colorectal cancer is
                    |  another way to say colon and rectal cancer).
                p This tool can estimate the risk of colorectal cancer for men and women who are:
                ul.red-arrow
                    li Between the ages of 50 and 85
                    li African American
                    li Asian American/Pacific Islander
                    li Hispanic/Latino
                    li White
                p
                    | This tool does not yet apply to American Indians and
                    |  Alaska Natives, but we are working to improve the tool
                    |  for use by these groups of people.
        .section-title
          span Questions
        #result
        #error(style="display:none;")
        form#survey(action="/colorectalcancerrisk/rest/calculate/",method="POST", autocomplete="off")
            ol
                include sections/demographics
                include sections/diet
                include sections/medical
                include sections/activity
                include sections/gender-based
                include sections/family
            button#reset(type="reset") Reset
            button#calculate(type="submit") Calculate Risk
