section#risk-factors(tab='risk-factors')
    .section-content
        .section-title
            span Colorectal Cancer Risk Factors

            a.goToTab(title='go to melanoma risk assessment', name='risk-calculator') Calculate Risk for New Patients
        p Studies show that certain factors can make your risk of
            |   colorectal cancer higher and others can make it lower.
        .two-col.rounded.green
            span.graphic.fa.fa-arrow-circle-o-down
            h3 Factors that can lower your risk of colorectal cancer
            ul
                li colorectal cancer screening
                li regular use of aspirin and NSAID's (which stands for non-steroidal anti-inflammatory drug)
                li maintaining a healthy weight
                li regular, vigorous exercise (all activities that cause sweating and heavy breathing)
                li a diet high in vegetables
                li hormone replacement therapy use in women
        .two-col.rounded.red
            span.graphic.fa.fa-arrow-circle-o-up
            h3 Factors that can make your risk of colorectal cancer higher
            ul
                li close relatives (parents, brothers, sisters,
                    |  or children) who have had colorectal cancer
                li history of colorectal polyps
                li obesity
                li cigarette smoking
                li inactive lifestyle
        ul.red-arrow
            li If you have had colorectal cancer, you should not use this tool to estimate your risk of recurrence.
            li
                | If you have a problem such as ulcerative colitis, Crohn disease, familial adenomatous polyposis
                |  (FAP), or Hereditary Nonpolyposis Colorectal Cancer (HNPCC), also known as Lynch Syndrome, you
                |  should not use this tool to estimate your risk. These problems make your risk of colorectal cancer much higher.
            li
              | HNPCC, also known as Lynch Syndrome, is the most common type of genetic colorectal cancer. It accounts for about 2 percent of all colorectal cancer cases. It is caused by changes in an HNPCC gene. Most people with these changes in the HNPCC gene develop colorectal cancer, and the average age at diagnosis is 44.
            li
              | FAP is a rare, genetic disease in which hundreds of polyps form in the colon and rectum. It is caused by a change in a gene called APC. Unless FAP is treated, it usually leads to colorectal cancer by age 40. FAP accounts for less than 1 percent of all colorectal cancer cases.
            li
              | Ulcerative colitis and Crohn disease both cause inflammation of the colon. If you have either of these diseases over many years, you have a higher risk of colorectal cancer.
        p
            | Researchers are conducting more studies to gather more data and to determine if including information on other risk factors can strengthen the Colorectal Cancer Risk Assessment Tool.
        p
            | For more information about colorectal cancer, visit
            | &nbsp;
            a(target="_blank", href='http://www.cancer.gov/cancertopics/prevention-genetics-causes/colon-and-rectal') Colon and Rectal Cancer: Prevention, Genetics, Causes.
