//-extends index
//-
//-block page-title
//-    title Download Source Code - MRAT

section#source-code(tab='source-code')
    .section-content
        .section-title Download SAS and Gauss Code for the Colorectal Cancer Risk Calculation Engine
        p
            | The CCRAT may be updated periodically as new data or research becomes available.
            | The algorithm was last updated in October 2014. The current software version is 1.1. Estimates for "I don't know" categories were added.
        strong What You'll Download
        p
            strong Colorectal Cancer Risk Assessment Tool SAS Macro
        p
            | The CCRAT SAS macro allows the user to project absolute colorectal cancer risk according
            | to NCI's Colorectal Cancer Risk Assessment Tool (CCRAT) algorithm in batch mode. Risk
            | factor data and projection interval ages can be entered for a group of men or women,
            | and corresponding absolute risk projections will be returned. This program may be
            | useful for research purposes when one needs risk projections for an entire study
            | population.
        p
            | You can download ZIP files containing the macro code and
            | &nbsp;
            a(href='http://dceg.cancer.gov/bb/tools/ccratsasmacro/readme', target='_blank') documentation
            |  for the colorectal cancer risk calculation engine. Separate
            |  downloads are available for male and female macros.
        p
            | By downloading, you accept our &nbsp;
            a(href='http://dceg.cancer.gov/bb/tools/ccratsasmacro/license', target='_blank') Terms & Conditions
        | .
        // <p><a href="files/BCRA_Source_Code.zip"><img src="Images/btn-accept.gif" alt="Accept &amp; Download" width="139" height="25" border="0" /></a></p>
        p
            strong SAS Macro Downloads
            ul
                li
                    a(href='http://dceg.cancer.gov/files/tools/Men_CRC_RAM.zip') Men_CRC_RAM.zip
                li
                    a(href='http://dceg.cancer.gov/files/tools/Women_CRC_RAM.zip') Women_CRC_RAM.zip
        p
            | Save these files in an appropriate folder on your disk.
            ul
                li
                    a(href='http://dceg.cancer.gov/bb/tools/ccratsasmacro/readme', target='_blank') Readme
                li
                    a(href='http://dceg.cancer.gov/bb/tools/ccratsasmacro/license', target='_blank') License Agreement
        p
            strong Colorectal Cancer Risk Assessment Tool Gauss Program
        p
            | The CCRAT Gauss Program is an executable that allows the user to project absolute
            | colorectal cancer risk according to NCI's Colorectal Cancer Risk Assessment Tool (CCRAT) algorithm
            | in the batch mode. It also computes 95% confidence intervals for the risk projections.
            | Risk factor data and projection interval ages can be entered for a group of men
            | or women, and corresponding absolute risk projections will be returned. This program
            | may be useful for research purposes when one needs risk projections for an entire
            | study population. The program requires either a 32-bit or a 64-bit system.
        p
            | You can download ZIP files containing the program code for the colorectal cancer
            | risk calculation engine. Separate downloads are available for male and female programs.
            | Documentation for the
            | &nbsp;
            a(href='http://dceg.cancer.gov/files/tools/M_CRCAbsRsk_32bit_ReadMe.fil') male
            |  and &nbsp;
            a(href='http://dceg.cancer.gov/files/tools/W_CRCAbsRsk_32bit_ReadMe.fil') female
            |  programs is also available.
        p
            | By downloading, you accept our &nbsp;
            a(target="_blank", href='http://dceg.cancer.gov/bb/tools/ccratgauss/license') Terms & Conditions
            | .
        p
            strong Gauss Program Downloads
        ul
            li Males:
                a(href='http://dceg.cancer.gov/files/tools/M_CRCAbsRsk_32bit.zip') M_CRCAbsRsk_32bit.zip (44.9 MB)
            li Females:
                a(href='http://dceg.cancer.gov/files/tools/W_CRCAbsRsk_32bit.zip') W_CRCAbsRsk_32bit.zip (44.2 MB)
        p Save these files in an appropriate folder on your disk.
            ul
                li
                    a( target='_blank',href='http://dceg.cancer.gov/files/tools/M_CRCAbsRsk_32bit_ReadMe.fil')
                        | Male Model Readme
                li
                    a(target='_blank', href='http://dceg.cancer.gov/files/tools/W_CRCAbsRsk_32bit_ReadMe.fil')
                        | Female Model Readme
                li
                    a(href='http://dceg.cancer.gov/bb/tools/ccratgauss/license') License Agreement
