header
    margin -15px
    margin-bottom 0
    img#nci-banner
        width 600px !important
        height 60px !important
        padding 20px 10px 5px 20px
    #toolTitle
        background #2A71A5
        color white
        margin-top -6px
        padding 5px
        padding-left 127px
        #toolName
            font-weight bold
            font-size medium
        #toolDescription
            font-size small
            font-style italic
nav
    margin-left -10px
    padding-left 105px
    font-size 11pt
    font-family sans-serif
    li
        a
            padding 10px 15px !important

.horizontal-nav
    ul
        list-style-type none
        overflow hidden
        margin 0
        padding 0
        li
            float left
            :hover
                background-color blue
            a
                display inline-block
                text-align center
                padding 15px
            ul
                display none // hide for now
