section form > ol li {
  width: 43%;
}
section form > ol li .question > label {
  display: inline-block;
}
section form > ol li .question > p {
  display: inline-block;
}
section form > ol li .question .input > label {
  display: block;
}
section form > ol li .question select,
section form > ol li .question input {
  width: 100%;
}
section form .counties {
  display: none;
}
section form #region_subquestion {
  border: none;
  list-style: none;
  width: inherit;
  padding: 0;
  margin: 0;
  height: auto;
}
img.stock-images {
  height: inherit;
  width: inherit;
}
