section form
    > ol li
        width 43%
        .question
            > label
                display inline-block
            > p
                display inline-block
            .input > label
                display block
            select, input
                width 100%
    .female, .male
        &:not(.show)
            display none

    .counties
        display none

    #region_subquestion
        border none
        list-style none
        width inherit
        padding 0
        margin 0
        height auto
