@media (max-width 768px)
    img#nci-banner
        width 90%
        height 55px !important
        padding-left 5% !important
        height 90px !important
    #toolTitle, #quick-title, .section-title
        padding 5px 0 !important
    .link-icons
        display inline-block
    .menu-title
        padding 1% 0
        display block
        background-color rgba(216, 225, 231, 0.52)
        color white
        padding-left 0
    ul.nav
        background #b5c6d0
        padding 0 1% !important
        &.stick-nav-top
            position inherit
        li:first-child
            margin 0
        li a
            padding 8px !important
    .section-description
        width 85%
    .section-title
        overflow auto
    section, #quicklinks
        margin 0
        width 100% !important
    footer
        margin 5% 0 !important
    .minimize,.maximize
        display inline-block !important
    .question-illustration
        padding-left 0

@media (max-width 990px)
    header
        position relative
    #toolTitle
        text-align center
        padding 1% !important
    dl
        padding 0
    .spacer
        display block
    #quicklinks
        width 25%
    section
        width 65%
    .section-anchors li, footer li
        padding 5px 0
    form
        li
            margin 2% auto
            .input
                width 100% !important
                margin 10px auto
        .question-text
            margin-left -4em
            padding 0 0 0 5em
        button
            display inherit
            margin 0 auto
            width 50%
            float none !important


@media (max-width 1300px)
    .nav
        margin 0 !important
        li a
            padding 5px !important
    #quicklinks
        width 20%
    section
        width 65%
    .section-title *
        width 45%

