@media (max-width 1300px)
    section
        margin 0 50px
        padding 0 20px
        form > ol > li
            width 45%

@media (max-width 990px)
    section
        margin 0 25px
        form
            > ol
                padding 0
                > li > p
                    margin-right 0
                    > .input
                        width 100%
                        margin 10px auto
            .question-text
                margin 0
                padding 1%
            .question-illustrations img
                width 80%

@media (max-width 768px)
    .section-title
        padding 5px 10px
    section
        margin 10px
        padding 0
        form > ol > li
            width 100%
            height auto
            max-height 350px
            min-height 130px
            padding 5px 10px

    .question-illustration .stock-images
        width 180px

@media (max-width 480px)
    .section-title
        *
            display block
            text-align center
        :nth-child(2)
            float none
