@media (max-width 515px)
   ul.nav
        top 125px

@media (max-width 768px)
    ul.nav
        padding-left 0
        &.horizontal-nav li
            background #B5C6D0
            float none
            display block
            a
                display block
    .section-description
        width 85%
    .section-title
        overflow auto
        text-align right
    section
        margin-top 0

@media (max-width 990px)
    #toolTitle
        padding-left 35px !important
    #nci-banner
        margin-left -10px
    header
        height 150px
    dl
        padding 0
    .spacer
        display block
    #content
        padding-top 300px
        position inherit
    section, #quicklinks
        width 95%
        float none
        position inherit
    .section-anchors li, footer li
        padding 5px 0
    form li
        .question-num
            float left
        p.question-text
            margin-left 10px
            padding 0
        > .input
            width 100%
            margin 10px auto
        button
            float inherit
