@media (min-width: 1201px) {

  .text-center-lt-lg {
    text-align: left;
  }
}
@media (max-width: 1200px) {

  #form-steps ol span.spacer {
    min-width: 2%;
  }

  #form-steps ol li {
    margin-right: 0px;
  }

  .text-center-lt-lg {
    text-align: center;
  }
}

@media(max-width: 992px) {

  #form-steps ol span.spacer {
    min-width: 2%;
  }

  #form-steps ol li {
    margin-right: 0px;
  }

}

@media(min-width: 769px ) {

  .numberEntryMarginRight {
    margin-right: 20%;
  }

  .numberEntryNoTextWrap {
    white-space: no-wrap;
  }

  .separateField {
    display: block-inline;
    margin-right: 20%;
  }

}

@media(max-width: 768px ) {
    #form-steps ol span.spacer {
        min-width: 2%;
    }

    /* The first paragraph under both the Assess Button and the Box       */
    /* Originally the Box and the text would be very very close;          */
    /* This code will attempt to put some Vertical Distance between them  */
    #main_home > div > div:nth-child(4) > div > p:nth-child(1) {
      margin-top: 1em;
    }

    /*
    .numberEntryMarginRight {
      margin-right: 100%;
    }
    */

    .separateField {
        display: block;
    }

    input[name='height_ft'],
    input[name='height_in'] {
      margin-bottom: 10px;
    }
}

@media (max-width: 540px ) {
    #form-steps ol span.spacer {
        min-width: 2%;
    }

    #veg_servings.error {
      width: 250px;
    }

    #veg_amount.error {
       width: 250px;
    }

    #moderate_hours.error {
      width: 250px;
    }

    #vigorous_hours.error {
      width: 250px;
    }

    #last_period.error {
      width: 250px;
    }

    #firstYearSmoke.error {
      width: 250px;
    }

    #smoke_quit.error {
      width: 250px;
    }

    #cigarettes_num.error {
      width: 250px;
    }

    #yearsSmoked {
      width: 250px;
    }
}

@media (max-width: 199px ) {
    #form-steps ol span.spacer {
        min-width: 1%;
    }


    header #toolTitle {
        padding-right: 16px;
    }

}

#veg_servings {
  width: 490px;
}

#veg_amount {
  width: 285px;
}

#moderate_hours {
  width: 260px;
}

#vigorous_hours {
  width: 345px;
}

#last_period {
  width: 255px;
}

#firstYearSmoke {
  width: 300px;
}

#smoke_quit {
  width: 300px;
}

#cigarettes_num {
  width: 270px;
}

#last_period {
  width: 250px;
}

#yearsSmoked {
  width: 330px;
}


/* #race is used in another Race, so we override in the specific Rat */
#race {
  width: auto;
}

/* Problem : When there are two paragraph tags with the with the class secondary style the margin bottom of the */
/* first paragraph tag will put too mcuh space between them.  This style will remove the space between the two  */
/* paragraph tags                                                                                               */
#includesVegatables {
    margin-bottom: 0px;
}

/* Problem : The Accesss Button was showing the incorrect outline.  In order to have  */
/* it show us the outline that we want I had to crate an event more specific CSS Rule */
#AssessPatientRisk.addOutline {
  outline: 1px solid #4D90FE;
}

#AssessPatientRisk.removeOutline {
  outline: none;
}

.okButton:focus {
    color:white;
    background-color: #2c8eaa;
}

.bold {
    font-weight: bold;
}

.forAsprinListItem {
    font-weight: normal;
}

.underline {
    text-decoration: underline;
}

#AssessPatientRisk {
    margin-bottom: 1em;
}

.spaceBetweenQuestionsSmaller {
    margin-top: 30px;
}


