section form > ol > li {
  height: 555px;
}
section form > ol > li ol {
  list-style: none;
}
section form > ol > li .question > .notice {
  border: 1px solid;
  padding: 10px;
  margin: 5px auto;
  max-width: 400px;
  display: none;
  color: #000;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 3px 2px 7px #000;
  box-shadow: 3px 2px 7px #000;
}
section form > ol > li .question > .notice > p {
  margin: 5px 0;
}
section form > ol > li .question > label {
  display: inline-block;
}
section form > ol > li .question > label > * {
  vertical-align: top;
}
section form > ol > li .question > label > a.notice-show {
  font-weight: normal;
}
section form > ol > li .question > p {
  display: inline-block;
}
section form > ol > li .question .input > label {
  display: block;
}
section form > ol > li .subquestion:not(.show) {
  display: none;
}
section form > ol > li input,
section form > ol > li select {
  padding: 10px;
}
section form > ol > li input.error,
section form > ol > li select.error {
  border: 2px solid #fc7878;
  background: rgba(255,0,0,0.25);
}
.content-details a,
.question a {
  text-decoration: underline;
  color: #bb0e3d;
}
.content-details a :hover,
.question a :hover {
  text-decoration: none;
}
.section-description {
  text-align: left;
}
.content-details {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  padding: 10px 15px;
  margin: 10px auto;
  border: 2px solid #2a71a5;
  background: #fff;
}
.question-group-title {
  text-align: center;
  background: #555554;
  color: #fcfcfa;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 3px 0;
}
.two-col {
  width: 45%;
}
.two-col ul {
  height: 100px;
}
.two-col ul li {
  width: inherit;
}
[tab="risk-factors"] p,
[tab="risk-factors"] ul {
  clear: both;
}

@media (max-width: 768px) {
  section form > ol > li {
    height: 695px;
    max-height: 600px;
  }
  .two-col {
    width: auto;
    height: auto;
  }
  .two-col > ul {
    height: inherit;
  }
}
