<footer class="footer">
    <div class="center-block">
        <ul class="list-inline">
            <li><a href="http://www.cancer.gov/" title="Home" target="_blank">Home</a></li>
            <li>|</li>
            <li><a href="mailto:NCIAbsoluteRiskCalculatorWebAdmin@mail.nih.gov?subject=AbsoluteRiskCalculator" target="_top" title="Support">Support</a></li>
            <li>|</li>
            <li><a href="http://www.cancer.gov/global/web/policies" title="Policies" target="_blank">Policies</a></li>
            <li>|</li>
            <li><a href="http://www.cancer.gov/global/web/policies/accessibility" title="Accessibility" target="_blank">Accessibility</a></li>
            <li>|</li>
            <li><a href="http://cancer.gov/global/viewing-files" title="Viewing Files" target="_blank">Viewing Files</a></li>
            <li>|</li>
            <li><a href="http://www.cancer.gov/global/web/policies/foia" title="FOIA" target="_blank">FOIA</a></li>
        </ul>
        <ul class="list-inline">
            <li><a href="http://www.hhs.gov/" target="_blank">U.S. Department of Health and Human Services</a></li>
            <li>|</li>
            <li><a href="http://www.nih.gov" target="_blank">National Institutes of Health</a></li>
            <li>|</li>
            <li><a href="http://www.cancer.gov/" target="_blank">National Cancer Institute</a></li>
            <li>|</li>
            <li><a href="http://usa.gov" target="_blank">USA.gov</a></li>
        </ul>
        <div class="text-center">
            NIH ... Turning Discovery Into Health<sup>®</sup>
        </div>
    </div>
</footer>
