<div class="top-margin col-md-3" ng-bind="term.data.name"></div>

<div class="col-md-2 checkbox-placement">
<input type="checkbox" ng-model="term.data.linear" ng-change="term.clickedEvent()">
</div>

<div class="pad col-md-7">
<ui-select multiple ng-model="term.data.interaction" ng-show="term.data.linear">
    <ui-select-match class="ui-select-match">{{$item}}</ui-select-match>
    <ui-select-choices class="ui-select-choices" repeat="term in term.getVariableNames()">
        {{term}}
    </ui-select-choices>
</ui-select>
</div>
