<header>
    <div class="container">
        <a href="http://dceg.cancer.gov/" target="dceg">
        <img class="img-responsive" src="/common/images/DCEG-logo.svg"
        alt="National Cancer Institute: Division of Cancer Epidemiology and Genetics"
        title="National Cancer Institute: Division of Cancer Epidemiology and Genetics"></a>
    </div>
    <div class="container tool-logo-container">
        <hr>
        <div class="col-xs-12 tool-logo" style="text-align: right;">
            <img src="assets/images/absoluteRiskCalculator_logo.gif" alt="Absolute Risk Calculator"
            title="Absolute Risk Calculator">
        </div>
    </div>
</header>
