<h4>Absolute Risk Calculator</h4>
<i>A frontend for iCARE, an R package to compute Individualized Coherent Absolute Risk Estimators</i>

<div><br>
    iCARE allows researchers to quickly build models for absolute risk, and apply them to estimate an individual's risk of developing disease during a specifed time interval,
    based on a set of user defined input parameters. An attractive feature of the software is that it gives users flexibility to update models rapidly based on new knowledge
    of risk factors and tailor models to different populations. The tool requires three input arguments be specifed: (1) a model for relative risk (2) an age-specifc disease
    incidence rate and (3) the distribution of risk factors for the population of interest. The tool handles missing risk factor information for individuals for whom risks
    are to be predicted using a coherent approach where all estimates are derived from a single model after appropriate model averaging. The software allows single nucleotide
    polymorphisms (SNPs) to be incorporated into the model using published odds ratios and allele frequencies.
</div><br>

<a href="http://dceg.cancer.gov/tools/analysis/icare/iCARE_report.pdf">
Maas P, Wheeler W, Brook MN, Check DP, Garcia-Closas M, Chatterjee N. iCARE: An R Package to Build and Apply Absolute Risk Models. 2015
<i>Submitted</i></a>
