<div class="clearfix hidden-sm hidden-xs">
	<div class="column-header col-md-3">Variable</div>
	<div class="column-header col-md-2">Continuous</div>
	<div class="column-header col-md-4">Levels</div>
	<div class="column-header col-md-2">Reference Level</div>
</div>

<div class="margin">
	<div class="alternate row default-border" ng-repeat="eachVariable in section.getListOfVariables()">
		<!-- Templates file is located at: templates/variable.html -->
		<variable data="eachVariable" index="$index" />
	</div>

	<div class="row">
		<button type="button" class="btn btn-link pull-left" ng-click="section.addVariable()">
			<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
			<span class="sr-only">Add a Variable</span>
			Add a Variable
		</button>
		<br>
		<div class="pull-right">

			<span class="top-margin" ng-show="section.getUploadedFileName()">
			<a ng-click="section.downloadFile()">{{section.getFileName()}}</a>
			</span>

			<span class="top-margin" ng-show="!section.getFileName()">no file selected</span>
			<hr class="visible-xs">

			<span class="btn btn-info btn-file">Upload RData
			<input type="file" id="listOfVariables" uploadfile></span>

			<br class="visible-xs">

			<button type="button" class="btn btn-info" ng-click="section.downloadFile()">Download RData</button>
			<br class="visible-xs">
			<button type="button" class="btn btn-primary" ng-click="section.submitSection()">Submit</button>
		</div>
	</div>
</div>
