<div class="clearfix hidden-sm hidden-xs">
	<div class="column-header col-md-3">Variable</div>
	<div class="column-header col-md-2">Linear</div>
	<div class="column-header col-md-7">Interaction Terms</div>
</div>

<div class="margin">
	<div class="row default-border alternate" ng-repeat="eachTerm in section.getFormulaData()">
		<!-- Templates file is located at: templates/formulaTerm.html -->
		<term data="eachTerm"/>
	</div>

	<div class="row">
		<hr>{{section.getFormulaString()}}<hr>

		<div class="pull-right">
			<span class="btn btn-info btn-file">Upload RData
			<input type="file" id="modelFormula" uploadfile></span>
			<button type="button" class="btn btn-info" ng-click="section.downloadFile()">Download RData</button>
			<button type="button" class="btn btn-primary" ng-click="section.submitSection()">Submit</button>
		</div>
	</div>
</div>
