<div class="row">
    <a class="pull-right" ng-click="snp.viewTemplate()">View Template</a>

    <span class="btn btn-info btn-file">Upload CSV File
    <input type="file" id="snpInformation" uploadfile></span>

    <span><a ng-click="snp.getUploadedFile()">{{snp.getUploadedFileName()}}</a></span>
    <span ng-show="!snp.getUploadedFileName()"> No file selected <a ng-click="snp.getExampleFile()">(example)</a></span>

    <br>
    <br>

    <span>Family History Variable Name:</span>
    <select ng-model="snp.familyHistory" ng-options="variable for variable in snp.getVariableNames()" ></select>

    <button type="button" class="btn btn-primary pull-right" ng-click="snp.submitData()">Submit</button>
</div>
