<div class="center col-md-3">
	<label class="visible-sm visible-xs">
		<br>Variable Name
	</label>

	<input type="text" class="form-control"
		ng-model="variable.data.name"
		placeholder="eg: famhist">
</div>

<div class="center top-margin col-md-2">
	<label class="visible-sm visible-xs">
		<br>Is Continuous?
	</label>

	<input type="checkbox"
		ng-model="variable.data.type"
		ng-true-value="'continuous'"
		ng-false-value="'factor'"
		ng-change="variable.clearLevels()">
</div>

<div class="center col-md-4">
	<label class="visible-sm visible-xs">
		<br>Levels
	</label>

	<input type="text"
		class="control form-control"
		ng-model="variable.levels"
		ng-change="variable.setLevels()"
		ng-disabled="variable.data.type == 'continuous'"
		placeholder="eg: 1 3 5+">
</div>

<div class="center col-md-2">
	<label class="visible-sm visible-xs">
		<br>Reference Levels
	</label>

	<input type="text" class="control form-control"
		ng-model="variable.data.ref"
		ng-disabled="variable.data.type == 'continuous'"
		placeholder="eg: 3">
</div>

<div class="center top-margin col-md-1">
	<a ng-click="variable.remove()">
		<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
		<span class="sr-only">Delete {{variable.index + '. ' + variable.data.name}}</span>
	</a>
</div>
