#portal-footer
   .footerLinks
      a(href='http://www.cancer.gov/', title='Home', data-toggle='tooltip', data-placement='left') APC
      | &#124;&nbsp;
      a(href='mailto:jpsurv-admin@mail.nih.gov?subject=JP%20Surv', target='_top', title='Support') Support
      | &#124;&nbsp;
      a(href='http://www.cancer.gov/global/web/policies', title='Policies') Policies
      | &#124;&nbsp;
      a(href='http://www.cancer.gov/global/web/policies/accessibility', title='Accessibility') Accessibility
      | &#124;&nbsp;
      a(href='http://cancer.gov/global/viewing-files', target='_blank', title='Viewing Files')
         | &#124; Viewing Files
      | &#124;&nbsp;
      a(href='http://www.cancer.gov/global/web/policies/foia', title='FOIA') FOIA
      br
      br
      | &#124;
      a(href='http://www.dhhs.gov/') Department of Health and Human Services
      | &#124;&nbsp;
      a(href='http://www.nih.gov/') National Institutes of Health &#124;&nbsp;
      a(href='http://www.cancer.gov/')  National Cancer Institute &#124;&nbsp;
      a(href='http://www.usa.gov/') USA.gov
   br
   br
   | &#124;       NIH...Turning Discovery Into Health
   sup &#174;