#portal-footer
   .footerLinks
      a(href='http://www.cancer.gov/', title='Home') Home
      | &nbsp;&nbsp;|&nbsp;&nbsp;
      a(href='mailto:NCIMeansToRiskWebAdmin@mail.nih.gov', title='Support') Support
      | &nbsp;&nbsp;|&nbsp;&nbsp;
      a(href='http://www.cancer.gov/global/web/policies', title='Policies') Policies
      | &nbsp;&nbsp;|&nbsp;&nbsp;
      a(href='http://www.cancer.gov/global/web/policies/accessibility', title='Accessibility') Accessibility
      | &nbsp;&nbsp;|&nbsp;&nbsp;
      a(href='http://cancer.gov/global/viewing-files', target='_blank', title='Viewing Files') Viewing Files
      | &nbsp;&nbsp;|&nbsp;&nbsp;
      a(href='http://www.cancer.gov/global/web/policies/foia', title='FOIA') FOIA
      br
      br
      a(href='http://www.dhhs.gov/')
         | Department of Health and
         | Human Services
      | &nbsp;&nbsp;|&nbsp;&nbsp;
      a(href='http://www.nih.gov/') National Institutes of Health
      | &nbsp;&nbsp;|&nbsp;&nbsp;
      a(href='http://www.cancer.gov/') National Cancer Institute
      | &nbsp;&nbsp;|&nbsp;&nbsp;
      a(href='http://www.usa.gov/') USA.gov
   br
   br
   |  NIH...Turning Discovery Into Health
   sup &reg;
