#wrapper
   #logos
      #left
         a(href='http://www.cancer.gov', target='_blank')
            img(src='/common/images/nci.jpg', width='286', height='40', border='0', alt='National Cancer Institute', title='National Cancer Institute')
      #right
         a(href='http://www.cancer.gov', target='_blank')
            img(src='/common/images/nih.jpg', width='322', height='40', border='0', alt='at the National Institutes of Health', title='at the National Institutes of Health')
br