#results.panel.panel-default
    table.table.table-bordered.table-condensed
        thead
            tr
                th.active &nbsp;
                th.active Biomarker #1
            tr
                th.active Parameters
                th.active HPV
        tbody
            tr
                td P(D,M+)=PPV*p
                td.output#d_pos_result
            tr
                td P(D,M-)=cNPV*(1-p)
                td.output#pos_d_neg_m_result
            tr
                td P(D-,M+)=cPPV*p
                td.output#neg_d_pos_m_result
            tr
                td P(D-,M-)=NPV*(1-p)
                td.output#m_neg_result
            tr
                td.termToDefine#prob_m P(M+)
                td.output#prob_m_result
            tr
                td.termToDefine#prob_d P(D+)
                td.output#prob_d_result
            tr
                td.termToDefine#ppv Positive Predictive Value
                td.output#ppv_result
            tr
                td Complement of Negative Predictive Value
                td.output#c_npv_result
            tr
                td.termToDefine#sens Sensitivity
                td.output#sens_result
            tr
                td.termToDefine#spec Specificity
                td.output#spec_result
            tr
                td Complement of Specificity
                td.output#c_spec_result
            tr
                td RR=PPV/cNPV
                td.output#rr_result
            tr
                td t=Risk Difference
                td.output#r_diff_result
            tr
                td j=Youden
                td.output#youden_result
            tr
                td AUC = (Youden+1)/2
                td.output#auc_result
    table.table.table-bordered.table-condensed
        tr
            th.active Output
            th.active HPV (CI Low, CI High)
        tr
            td#danger.termToDefine Danger
            td.output#danger_result
        tr
            td#reassurance.termToDefine Reassurance
            td.output#reassurance_result
        tr
            td#q_sens.termToDefine Quality of the sensitivity
            td.output#q_sens_result
        tr
            td#q_spec.termToDefine Quality of the specificity
            td.output#q_spec_result
        tr
            td#mrs.termToDefine Mean Risk Stratification (MRS)
            td.output#mrs_result
        tr
            td#max_mrs.termToDefine Maximum possible MRS for a disease with this prevalence
            td.output#max_mrs_result
        tr
            td#pbs.termToDefine Population Burden Stratification (PBS)
            td.output#pbs_result
        tr
            td#nnr.termToDefine Number Needed to Recruit (NNR)
            td.output#nnr_result
        tr
            td#nns.termToDefine Number Needed to Screen (NNS)
            td.output#nns_result