<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="ConnectionString"  connectionString="Data Source=156.40.134.65,45684;Initial Catalog=CCRAT;User ID=siva;Password=password" />
	</connectionStrings>
	<appSettings>
		
		<!--1.0 settings for generating xml test cases-->
		<add key="GenerateXmlTestCases" value="false"></add>
		<add key="MaxCount" value="20"></add> <!--0 for all-->
		<add key="InputDelimiter" value=", "></add>

		<!--1.1common questions-->
		<add key="race" value="1, 2"></add>
		<add key="currentAge" value = "50, 80"></add> <!--//{ "50, 60, 70, 80, 90, TooOld">-->
		<add key="gender" value = "Male"></add> <!--//{"Male, Female"}-->
		<add key="height" value="5.9"></add>    <!--//specify correct" values-->
		<add key="weight" value = "156"></add>       <!--//specify correct" values-->
		<add key="numServingsVeg" value = ".5, 3.5"></add>
		<add key="amountVeg" value=".25, 4"></add>
		<add key="colonoscopy" value = "Yes, No, DontKnow"></add>
		<add key="hadPolyp" value = "Yes, No, DontKnow"></add>
		<add key="asprin" value = "Yes, No"></add>
		<add key="ibuprofen" value = "Yes, No"></add>
		<add key="hasRelativeHadCC" value = "Yes, No"></add>
		<add key="numRelativesHavingCC" value = "One, TwoPlus, DontKnow"></add>
		<add key="vigorousActivities" value = "0, 6, 12"></add> <!--{"0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12" }-->
		<add key="vigorousHours" value = "1, 3, 6"></add>
		
		<!--1.2 questions specific to male-->
		<add key="cigs100More" value = "Yes, No"></add>
		<add key="smokeStartAge" value = "20, 40"></add>
		<add key="stillSmoke" value = "Yes, No"></add>
		<add key="ageQuit" value = "50, 60"></add>
		<add key="quitNumPerDay" value = "1To10"></add> <!--{ "1To10, 11To20, GT20" }-->
		
		<!--1.3 questions specific to female-->
		<add key="stillHavePeriods" value="Yes, No"></add>
		<add key="lastCycle" value = "LT1, GT1LT2, GT2"></add>
		<add key="usedEstrogen" value="Yes, No"></add>
			
		
		<!--2.0 settings for generating output files-->
		<add key="CalculateRisks"   value="true"></add>
		<add key="Gender"   value="Male"></add>
		<add key="XmlFilePath" value="..\TestCases\TestCases.Male.1.xml"></add>
		<add key="OutputDelimiter" value="|"></add>		<!--default is \t-->
		<add key="UsePercentage" value="false"></add>	<!--default is false-->
		<add key="NumberofDecimalPlaces" value="1"></add>
		
	</appSettings>
</configuration>