<!DOCTYPE html>
<html lang="en" ng-app="Arc">

<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- AngularJS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-rc.0/angular.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-rc.2/angular-sanitize.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-rc.2/angular-animate.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-rc.2/angular-resource.js"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.1.1/ui-bootstrap-tpls.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-select/0.14.2/select.min.js"></script>
	<script src="https://cdn.rawgit.com/angular-ui/ui-uploader/master/src/uploader.js"></script>

	<!-- Application JS -->
	<script src="assets/js/app.js"></script>

	<!-- AngularJS Services -->
	<script src="assets/js/services/dataService.js"></script>
	<script src="assets/js/services/sectionService.js"></script>
	<script src="assets/js/services/modalService.js"></script>
	<script src="assets/js/services/utilityService.js"></script>
	<script src="assets/js/services/validationService.js"></script>

	<!-- AngularJS Components -->
	<script src="assets/js/components/variable.js"></script>
	<script src="assets/js/components/variablesComponent.js"></script>
	<script src="assets/js/components/formulaTerm.js"></script>
	<script src="assets/js/components/formulaComponent.js"></script>
	<script src="assets/js/components/snpInformationComponent.js"></script>
	<script src="assets/js/components/ageIntervalComponent.js"></script>
	<script src="assets/js/components/sectionComponent.js"></script>

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-select/0.14.2/select.min.css">

	<!-- Local CSS -->
	<link rel="stylesheet" href="assets/css/app.css" />

	<!-- Favicon -->
	<link rel="shortcut icon" href="assets/images/favicon.ico" type="image/vnd.microsoft.icon" />

	<title>Absolute Risk Calculator</title>
</head>

<body>
    <div ng-include src="'templates/header.html'"></div>

	<div class="container" ng-controller="TabsController as tabs">
		<uib-tabset>
			<!-- Home Tab -->
			<uib-tab heading="Home" active="tabs.active[0]">
				<div class="container tab-margin panel-margin">
					<h4>iCARE (individualized Coherent Absolute Risk Estimators)</h4>
					<h5>An R package to compute Individualized Coherent Absolute Risk Estimators (iCARE)</h5><br>
					<a ng-click="tabs.select(1)">ARC for Researchers</a><br>
					<a ng-click="tabs.select(2)">ARC for Clinicians</a><br>
					<a ng-click="tabs.select(3)">Help</a>
					<hr>

					<h5><b>Description</b></h5>
					<div>
						iCARE allows researchers to quickly build models for absolute risk, and apply them to estimate an individual's risk of developing disease during a specifed time interval, based on a set of user defined input parameters. An attractive feature of the software is that it gives users fexibility to update models rapidly based on new knowledge of risk factors and tailor models to different populations. The tool requires three input arguments be specifed: (1) a model for relative risk (2) an age-specifc disease incidence rate and (3) the distribution of risk factors for the population of interest. The tool handles missing risk factor information for individuals for whom risks are to be predicted using a coherent approach where all estimates are derived from a single model after appropriate model averaging. The software allows single nucleotide polymorphisms (SNPs) to be incorporated into the model using published odds ratios and allele frequencies.
					</div>

					<br>Download from Bioconductor: <a href="http://www.bioconductor.org/packages/iCARE">bioconductor.org/packages/iCARE</a><br>
					<a href="http://dceg.cancer.gov/tools/analysis/icare/license">License Agreement</a><br>
					<a href="http://dceg.cancer.gov/tools/analysis/icare/vignette.txt">Vignette</a><br><br>

					<h5><b>Authors</b></h5>
					<p>Paige Maas, William Wheeler, Mark N. Brook, David Check, Montse Garcia-Closas, Nilanjan Chatterjee</p><br>

					<h5><b>Software Report</b></h5>
					<a href="http://dceg.cancer.gov/tools/analysis/icare/iCARE_report.pdf">
					Maas P, Wheeler W, Brook MN, Check DP, Garcia-Closas M, Chatterjee N. iCARE: An R Package to Build and Apply Absolute Risk Models. 2015 <i>Submitted</i></a>
				</div>
			</uib-tab>

			<!-- ARC for Researchers Tab -->
			<uib-tab heading="ARC for Researchers" active="tabs.active[1]">
				<div class="container tab-margin" ng-controller="AccordionController as accordion">
					<div class="col-md-6">
						<div ng-repeat="step in accordion.steps" >

							<div ng-controller="SessionController as session">
								<div class="form-group clearfix" ng-show="step.id === 'build'">
									<h4 class="pull-left">Build the Model</h4>
									<span class="btn btn-success btn-file pull-right">Upload RData
								    <input type="file" id="sessionUpload" uploadfile></span>
								</div>

								<div class="form-group clearfix" ng-show="step.id === 'apply'">
									<div class="clearfix">
										<button type="button" class="btn btn-success pull-right" ng-click="session.download()">
											Download RData
										</button>
									</div>
									<h4>Apply the Model</h4>
								</div>
							</div>

							<uib-accordion>
								<uib-accordion-group ng-repeat="section in step.sections" is-open="section.isOpen">
									<uib-accordion-heading>
										<span> {{section.header}}
											<span ng-show="!section.optional"> * </span>
											<span class="glyphicon glyphicon-ok glyphicon-green pull-right" ng-show="section.validated"></span>
										</span>
									</uib-accordion-heading>
									<div class="panel-margin">
										<!-- List of Variables Section - templates/variables-section.html -->
										<variables-component ng-show="section.type === 'listOfVariables'"></variables-component>

										<!-- Model Formula Section - templates/formula-section.html -->
										<formula-component ng-show="section.type === 'modelFormula'"></formula-component>

										<!--  SNP Information Section - templates/snp-info-section.html -->
										<snp-information-component ng-show="section.type === 'snpInformation'"></snp-information-component>

										<!-- Age-Interval Section - templates/age-interval-section.html -->
										<age-interval-component ng-show="section.type === 'ageInterval'"></age-interval-component>

										<!-- Default Section (section type not specified) - templates/default-section.html -->
										<section-component id="section.id" ng-show="!section.type"></section-component>
									</div>
								</uib-accordion-group>
							</uib-accordion>
						</div>
						<button type="button" class="btn btn-primary pull-right" ng-click="accordion.calculate()">Calculate</button>
					</div>

					<div class="col-md-6" ng-class="{'output': accordion.calcRunning}">
						<h4>Results</h4>
						<div class="large loading" ng-show="accordion.calcRunning"><div>Loading…</div></div>
		                <div class="result-plot" ng-show="accordion.resultsImagePath">
		                    <img ng-src="{{accordion.resultsImagePath}}" alt="Result" title="Result" />
		                </div>
		                <div ng-show="accordion.resultsImagePath">
		                    <hr>
		                    <h4>Download Results</h4>
		                    <a href="{{accordion.resultsFilePath}}">Results</a><br>
		                    <a href="{{accordion.resultsRefFilePath}}">Results Reference</a><br>
						</div>
					</div>
				</div>
			</uib-tab>

			<!-- ARC for Clinicians Tab -->
			<uib-tab heading="ARC for Clinicians" active="tabs.active[2]">
				<div class="container tab-margin panel-margin">
				<h4>ARC for Clinicians</h4>
				</div>
			</uib-tab>

			<!-- Help Tab -->
			<uib-tab heading="Help" active="tabs.active[3]">
				<div class="container tab-margin panel-margin">
				<h4>Help Contents</h4>
				</div>
			</uib-tab>

		</uib-tabset>
		<hr>
	</div>

    <div ng-include src="'templates/footer.html'"></div>
</body>
</html>
