<!DOCTYPE html>
<html lang="en" ng-app="Arc">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Latest AngularJS from CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>

    <!-- Local UI-Bootstrap -->
    <script src="js/ui-bootstrap-tpls-0.13.0.min.js"></script>

    <!-- Local ARC Tool Angular Code -->
    <script src="js/app.js"></script>
    <script src="js/services/sectionService.js"></script>
    <script src="js/services/variableListSectionModel.js"></script>
    <script src="js/services/generateFormulaSectionModel.js"></script>
    <script src="js/services/ageIntervalSectionModel.js"></script>
    <script src="js/services/defaultSectionModel.js"></script>
    <script src="js/services/variable.js"></script>

    <!-- Latest Bootstrap CSS from CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- Local ARC Tool CSS -->
    <link rel="stylesheet" href="css/app.css">

    <title>Absolute Risk Calculator</title>
</head>

<body>
    <div class="container" ng-controller="ArcAccordion as accordion">
        <div class="col-xs-12 col-md-8">
            <div ng-repeat="step in accordion.steps">
                <h4>{{step.title}}</h4>
                <accordion close-others="accordion.oneAtATime">
                    <accordion-group is-disabled="accordion.status.isFirstDisabled" ng-repeat="section in step.sections" heading="{{section.header()}}">
                        <form ng-if="section.type === 'variable_list'">
                            <div class="form-group">
                                <label class="radio-inline">
                                    <input type="radio" name="{{'age_section_' + $index}}" value="manual" ng-model="section.model.inputMethod" checked> Manual
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="{{'age_section_' + $index}}" value="upload" ng-model="section.model.inputMethod"> Upload File
                                </label>
                            </div>
                            <div ng-show="section.model.inputMethod === 'manual'">
                                <table class="table table-striped table-responsive">
                                    <thead>
                                        <tr>
                                            <th>Variable Name</th>
                                            <th>Is Continuous</th>
                                            <th>Levels</th>
                                            <th>Reference Level</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="variable in section.model.variableList">
                                            <td>
                                                <input type="text" name="name" placeholder="example: famhist" class="form-control" ng-model="variable.name">
                                            </td>
                                            <td>
                                                <label class="radio-inline">
                                                    <input type="radio" name="{{'type_' + $index}}" value="continuous" ng-model="variable.type"> Yes
                                                </label>
                                                <label class="radio-inline">
                                                    <input type="radio" name="{{'type_' + $index}}" value="factor" ng-model="variable.type"> No
                                                </label>
                                            </td>
                                            <td>
                                                <div class="form-group">
                                                    <input type="text" name="levels" placeholder="example: 1 5 8" class="form-control" ng-model="variable.levels">
                                                </div>
                                                <div class="form-group">
                                                    <select name="levels_type" class="form-control" ng-model="variable.levelsType">
                                                        <option value="integer">integer</option>
                                                        <option value="string">string</option>
                                                    </select>
                                                </div>
                                            </td>
                                            <td>
                                                <input type="text" name="ref" placeholder="example: 5" class="form-control" ng-model="variable.ref">
                                            </td>
                                            <td>
                                                <a ng-click="section.model.deleteVariable($index)">
                                                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                                    <span class="sr-only">Delete Variable</span>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <button type="button" class="btn btn-sm btn-link" ng-click="section.model.addVariable()">
                                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                    <span class="sr-only">Add a Variable</span>
                                    Add a Variable
                                </button>
                                <button type="button" class="btn btn-primary pull-right" ng-click="section.model.saveModel()">
                                    Save Model
                                </button>
                            </div>
                            <div ng-show="section.model.inputMethod === 'upload'">
                                <div class="form-group">
                                    <span class="btn btn-info btn-file">
                                        Browse <input type="file">
                                    </span>
                                 </div>
                            </div>
                        </form>
                        <form action="" ng-if="section.type === 'age_interval'">
                            <div class="form-group">
                                <label class="radio-inline">
                                    <input type="radio" name="{{'age_section_' + $index}}" value="manual" ng-model="section.model.inputMethod" checked> Manual
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="{{'age_section_' + $index}}" value="upload" ng-model="section.model.inputMethod"> Upload File
                                </label>
                            </div>
                            <div ng-show="section.model.inputMethod === 'manual'">
                                <div class="form-group col-xs-2">
                                    <label for="age">Age: </label>
                                    <input type="text" name="age" id="age" class="form-control">
                                </div>
                                <div class="form-group col-xs-2 col-sm-4">
                                    <label for="age_interval">Age Interval: </label>
                                    <input type="text" name="age_interval" id="age_interval" class="form-control">
                                </div>
                            </div>
                            <div ng-show="section.model.inputMethod === 'upload'">
                                <div class="form-group">
                                    <span class="btn btn-info btn-file">
                                        Browse <input type="file">
                                    </span>
                                 </div>
                            </div>
                        </form>
                        <form action="" ng-if="section.type === 'generate_formula'">
                            <div class="col-xs-6">
                                <table class="table table-striped table-responsive">
                                    <thead>
                                        <tr>
                                            <th>Variable Name</th>
                                            <th>Linear Terms</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <span>famhist</span>
                                            </td>
                                            <td>
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" value="" checked>
                                                    </label>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span>menarche_dec</span>
                                            </td>
                                            <td>
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" value="" checked>
                                                    </label>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span>parity</span>
                                            </td>
                                            <td>
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" value="" checked>
                                                    </label>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="btn-toolbar">
                                    <button type="button" class="btn btn-primary pull-right" ng-click="section.model.toggleStatus('confirmed')">
                                        Confirm
                                    </button>
                                    <button type="button" class="btn btn-info pull-right" ng-click="section.model.toggleStatus('edit')">
                                        Edit
                                    </button>
                                </div>
                            </div>
                            <div class="col-xs-6" ng-show="section.model.status === 'confirmed'">
                                <table class="table table-striped table-responsive">
                                    <thead>
                                        <tr>
                                            <th>Variable Name</th>
                                            <th>Interaction Terms</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <span>famhist</span>
                                            </td>
                                            <td>
                                                <select name="interaction_terms" class="form-control" multiple>
                                                    <option value="">Select...</option>
                                                    <option value="menarche_dec">menarch_dec</option>
                                                    <option value="parity" selected>parity</option>
                                                    <option value="birth_dec">birth_dec</option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span>menarche_dec</span>
                                            </td>
                                            <td>
                                                <select name="interaction_terms" class="form-control" multiple>
                                                    <option value="">Select...</option>
                                                    <option value="parity" selected>parity</option>
                                                </select>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="btn-toolbar">
                                    <button type="button" class="btn btn-primary pull-right">
                                        Save Model
                                    </button>
                                    <button type="button" class="btn btn-info pull-right">
                                        Generate Formula
                                    </button>
                                </div>
                            </div>
                        </form>
                        <form action="" ng-if="section.type === 'default'">
                            <div>
                                <label>
                                    <input type="checkbox" ng-model="section.model.genTemplate"> Generate Template
                                </label>
                            </div>
                            <div class="clearfix" ng-show="section.model.genTemplate">
                                <table class="table table-responsive table-striped">
                                    <thead>
                                        <tr>
                                            <th>famhist</th>
                                            <th>menarche_dec</th>
                                            <th>parity</th>
                                            <th>birth_dec</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                placeholder
                                            </td>
                                            <td>
                                                placeholder
                                            </td>
                                            <td>
                                                placeholder
                                            </td>
                                            <td>
                                                placeholder
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                placeholder
                                            </td>
                                            <td>
                                                placeholder
                                            </td>
                                            <td>
                                                placeholder
                                            </td>
                                            <td>
                                                placeholder
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <button class="btn btn-info pull-right">
                                    Export to CSV
                                </button>
                            </div>
                            <hr ng-show="section.model.genTemplate">
                            <h5>Upload File</h5>
                            <div class="form-group">
                                <span class="btn btn-info btn-file">
                                    Browse <input type="file">
                                </span>
                             </div>
                        </form>
                    </accordion-group>
                </accordion>
            </div>
            <div class="form-group clearfix">
                <form action="">
                    <button type="button" class="btn btn-primary pull-right">
                        Calculate
                    </button>
                </form>
            </div>
        </div>
        <div class="col-xs-12 col-md-4">
            <h4>Output</h4>
            Test Output
        </div>
    </div>
</body>
</html>
