#about.tab-pane.active(role="tabpanel")
	h1 About the Model and Source Code
	p The Melanoma Risk Assessment Tool is based on a statistical model. The model uses patients’ self-reported history and results 
		| from a brief physical exam by a health care professional. Data from a case-control study involved 1663 non-Hispanic 
		| white patients from clinics in Philadelphia, PA, and San Francisco, CA, were used in developing the model. This model has not
		| been tested in large populations. In other words, the model has not been “validated” for all non-Hispanic whites. Researchers 
		| are conducting additional studies and welcome partnerships to validate this tool.
	h2 Download the Source Code
	p The Melanoma Risk Assessment Tool may be updated periodically as new data or research becomes available. 
		| The system is currently on statistical model version 1 and software version 2.0.
	p The source code and documentation can be accessed via the 
		a(href="https://github.com/CBIIT/nci-webtools-dceg-risk-assessment", target="_blank") GitHub Repository
		| . By downloading, you accept our 
		a(href="") Terms & Conditions
		| .
	h3 References
	ol
		li
			| Fears TR, Guerry D IV, Pfeiffer RM, et al: Identifying Individuals at High Risk of Melanoma: A Practical Predictor of Absolute Risk. 
			| J Clin Oncol 24(22): pp-pp, 2006.  [
			a(href="http://www.ncbi.nlm.nih.gov/pubmed/16728488", target="_blank") PubMed Abstract
			| ]