#tool.tab-pane(role="tabpanel")
	#summary.show
		h2 The Melanoma Risk Assessment Tool
		.row
			.col-xs-12.col-md-6
				.content
					p The melanoma risk calculator was designed for use by health professionals to estimate a patient’s absolute risk of developing invasive melanoma. 
						| Absolute risk is the likelihood that a person will develop a specific type of cancer over a certain period of time, in this case 5 years.

					p Although an individual’s risk may be accurately estimated, these predictions cannot precisely determine who will develop melanoma. 
						| If you are not a health professional, you are strongly encouraged to discuss your results and personal risk of melanoma with your doctor.
				button.toggleTool.btn.btn-lg.btn-form.center-block(type="button") Assess Patient Risk
			.box.col-xs-12.col-md-4.col-md-push-1
				p Individuals who have had one of the following diagnoses should be in screening and surveillance programs and should not use this 
					| tool to estimate melanoma risk:
				ul
					li Melanoma
					li Melanoma-in-situ
					li Non-melanoma skin cancer
					li A family history of melanoma
		.row
			.col-xs-12.col-md-6
				p
					| The melanoma risk calculator was developed using data from a large case-control study in the United States. 
					| Risks are estimated for non-Hispanic whites only between 20 and 70 years of age. Data for other
					| races/ethnicities are too limited to accurately estimate risk.
					ul
						li Melanoma
						li Melanoma-in-situ
						li Non-melanoma skin cancer
						li A family history of melanoma
		h2 Resources
		ul.list-unstyled
			li 
				a(href="") Skin Cancer (Including Melanoma)—Health Professional Version
			li 
				a(href="") Common Moles, Dysplastic Nevi, and Risk of Melanoma
			li 
				a(href="") Current Clinical Trials to Prevent Melanoma
			li 
				a(href="") Current Clinical Trials to Treat Melanoma
	include form