.container
	#errors
	#form-steps
		ol
			li.active 
				a(href="#demo-section") Demographics
			li 
				a(href="#skin-section") Skin Characteristics
			li 
				a(href="#physical-section") Physical Exam
	#results
	form#riskForm(name="riskForm", method="POST", action="/melanomarisktool/rest/calculate/", autocomplete="off")
		section#demo-section
			h3.sectionTitle Demographics
			label.questions(for="race") What is the patient's race?
			.responseOptions
				input(type="radio", name="race", value='0', required)
				label.radio(tabindex="0")
					span
					| Non-Hispanic White
			.responseOptions
				input(type="radio", name="race", value='1', required)
				label.radio(tabindex="0")
					span
					| Other
			label.questions(for="age") What is the patient's age?
			.responseOptions
				select#age(name='age', placeholder="Enter patient's age", required)
					option(value="") Select Age
					- var i = 20;
					while i < 71
						option(value=i)= i++
			.pull-left
				.col-xs-12.col-sm-6.no-padding
					label.questions
						| Does the patient live in the Northern, Central, or Southern United States?
						em  The model on which this tool is based is valid only for residents of the continental United States. This map is only a guide.
					.responseOptions
						input(type="radio", name="region", value='north', required)
						label.radio(tabindex="0")
							span 
							| Northern
					.responseOptions
						input(type="radio", name="region", value='central', required)
						label.radio(tabindex="0")
							span 
							| Central
					.responseOptions
						input(type="radio", name="region", value='south', required)
						label.radio(tabindex="0")
							span 
							| Southern
				.col-xs-12.col-sm-6.no-padding
					img#map.img-responsive.show(src="images/us-map.png", alt="The map is divided into three distinct areas.	Northern United States which includes Washington, Oregon, Montana, North Dakota, South Dakota, Minnesota, Wisconsin, Michigan, Iowa, Illinois, Indiana, Ohio, Maryland, Pennsylvania, New York, New Jersey, Vermont, Rhode Island, Connecticut, Massachusetts, New Hampshire, and Maine. Central United States which includes Northern California, Idaho, Utah, Wyoming, Nebraska, Kansas, Oklahoma, Arkansas, Missouri, Tennessee, Kentucky, West Virginia, Virginia, Delaware, North Carolina, and South Carolina. Southern United States which includes Southern California, Nevada, Arizona, New Mexico, Colorado, Texas, Louisiana, Mississippi, Alabama, Georgia, and Florida.")
					#listings.info-dialog
						button.mapDetails.btn-sm.pull-right(type="button", aria-label="close")
							span.dialog-icon &times;
						p The map is divided into three distinct areas:
						p
							b Northern United States: 
							| Washington, Oregon, Montana, North Dakota, South Dakota, Minnesota, Wisconsin, Michigan, Iowa, Illinois, Indiana, Ohio,
							| Maryland, Pennsylvania, New York, New Jersey, Vermont, Rhode Island, Connecticut, Massachusetts, New Hampshire, and Maine.
						p
							b Central United States: 
							| Northern California, Idaho, Utah, Wyoming, Nebraska, Kansas, Oklahoma, Arkansas, Missouri, Tennessee, Kentucky, 
							| West Virginia, Virginia, Delaware, North Carolina, and South Carolina.
						p
							b Southern United States: 
							| Southern California, Nevada, Arizona, New Mexico, Colorado, Texas, Louisiana, Mississippi, Alabama, Georgia, and Florida.
					a#state-listing.mapDetails View state listings by area.

			label.questions(for="gender") What is the patient's gender?
			.responseOptions
				input(type="radio", name="gender", value='Male', required)
				label.radio(tabindex="0")
					span
					| Male
			.responseOptions
				input(type="radio", name="gender", value='Female', required)
				label.radio(tabindex="0")
					span
					| Female
		section#skin-section
			h3.sectionTitle Skin Characteristics
			label.questions(for="complexion") Is the patient’s complexion light, medium, or dark?
			.responseOptions
				input(type="radio", name="complexion", value='0', required)
				label.radio(tabindex="0")
					span
					| Light
			.responseOptions
				input(type="radio", name="complexion", value='1', required)
				label.radio(tabindex="0")
					span
					| Medium
			.responseOptions
				input(type="radio", name="complexion", value='2', required)
				label.radio(tabindex="0")
					span
					| Dark
			.male
				label.questions(for="sunburn") Has the patient ever gotten a blistering sunburn?
				.responseOptions
					input(type="radio", name='sunburn', value='0')
					label.radio(tabindex="0")
						span
						| Yes
				.responseOptions
					input(type="radio", name='sunburn', value='1')
					label.radio(tabindex="0")
						span
						| No
			.female
				label.questions(for="tan") 
					| Ask the patient: After repeated and prolonged exposure to sunlight, at the age you are now, 
					| would your skin become very brown and deeply tanned, moderately tanned, lightly tanned, or no tan at all?
				.responseOptions
					input(type="radio", name='tan', value='0', required) 
					label.radio(tabindex="0")
						span
						| Very brown and deeply tanned
				.responseOptions
					input(type="radio", name='tan', value='1', required) 
					label.radio(tabindex="0")
						span
						| Moderately tanned
				.responseOptions
					input(type="radio", name='tan', value='2', required) 
					label.radio(tabindex="0")
						span
						| Lightly tanned
				.responseOptions
					input(type="radio", name='tan', value='3', required) 
					label.radio(tabindex="0")
						span
						| No tan at all
		section#physical-section
			h3.sectionTitle Physical Exam
			.male
				label.questions How many moles larger than 5mm in diameter are on the patient's back?
				.responseOptions
					input(type="radio", name='big-moles', value='0')
					label.radio(tabindex="0")
						span 
						| Less than two
				.responseOptions
					input(type="radio", name='big-moles', value='1')
					label.radio(tabindex="0")
						span
						| Two or more
			label.questions How many moles less than or equal to 5mm in diameter are on the patient's back?
			.responseOptions
				input(type="radio", name="small-moles", value='0', required)
				label.radio(tabindex="0")
					span
					| Less than seven
			.responseOptions
				input(type="radio", name="small-moles", value='1', required)
				label.radio(tabindex="0")
					span
					| Seven to sixteen
			.responseOptions
				input(type="radio", name="small-moles", value='2', required)
				label.radio(tabindex="0")
					span
					| Seventeen or more

			label.questions(for="freckling") How extensive is the freckling on the patient's back and shoulders?
			.responseOptions
				select#freckling(name='freckling', required)
					option(value='') Select
					option(value='0') Absent
					option(value='1') Mild
					option(value='2') Moderate
					option(value='3') Severe
			.male
				label.questions(for="damage") Does the patient have severe solar damage on the shoulders?
				.responseOptions
					select#damage(name='damage')
						option(value='') Select
						option(value='0') Yes
						option(value='1') No
		.center-block
			.col-xs-12.col-sm-3.col-sm-push-5
				button.btn-sm.btn-block#reset(type="reset") Reset
				button.btn-sm.btn-form.btn-block#calculate(type="submit") Calculate Risk