section form > ol > li
    height 555px
    ol
        list-style none
    .question
        > .notice
            font-size .9em
            border 1px solid
            padding 10px
            margin 5px auto
            max-width 400px
            display none
            color #000
            border-radius 5px
            box-shadow 3px 2px 7px black
            > p
                margin 5px 0
        > label
            display inline-block
            > *
                vertical-align top
            > a.notice-show
                font-weight normal
        > p
            display inline-block
        .input > label
            display block

    .subquestion
        &:not(.show)
            display none

    input, select
        padding 10px
        &.error
            border 2px solid #FC7878
            background rgba(255, 0, 0, 0.25)


.section-title, .section-content,.content-details,.question
    a
        text-decoration underline
        color #BB0E3D
        :hover
            text-decoration none
        &.termToDefine
            font-style italic
            text-decoration none
            border-bottom 1px dotted
            &:hover
                border-bottom none

.section-description
    text-align left

.content-details
    border-radius 10px
    padding 10px 15px
    margin 10px auto
    border 2px solid #2A71A5
    background white

.question-group-title
    text-align center
    background #555554
    color #FCFCFA
    border-radius 5px
    padding 3px 0

.graphic
    font-size 7em
    float left
    clear both
    vertical-align middle
    &.fa
        margin 0 25px
        &.fa-arrow-circle-o-down
            color green
        &.fa-arrow-circle-o-up
            color red
.two-col
    height 300px
    width 45%
    float left
    margin 10px
    padding 25px 5px
    border 3px solid
    color black
    &:nth-child(1)
        padding-right 5px

.green
    color green
    border-color green

.red
    color red
    border-color red

[tab="risk-factors"]
    p, ul
        clear both
