#form-steps {
  background-color: #fff;
  padding: 10px 0;
  -webkit-box-shadow: 0 0 20px #808080;
  box-shadow: 0 0 20px #808080;
  font-family: 'Montserrat', sans-serif;
}
#form-steps.fixed {
  position: fixed;
  -webkit-box-shadow: 0 0 20px #808080;
  box-shadow: 0 0 20px #808080;
  z-index: 1;
  width: 100%;
  top: 0;
  left: 0;
}
#form-steps ol {
  list-style: none;
  text-align: center;
  font-weight: bold;
  margin: 0;
  padding-left: 0px;
/* style rules for the form "checkpoints" bar */
}
#form-steps ol span.spacer {
  min-width: 2%;
  display: inline-block;
  color: #868686;
  font-weight: bold;
  vertical-align: middle;
  letter-spacing: 5px;
}
#form-steps ol li {
  display: inline-block;
  color: #868686;
  margin-right: 3%;
  font-size: 19px;
}
#form-steps ol li a {
  display: block;
  color: inherit;
}
#form-steps ol li a:nth-child(2) {
  background: #868686;
  color: #fff;
  border-radius: 22px;
  width: 33px;
  height: 33px;
  text-align: center;
  margin: 0 auto;
  padding: 2px;
  position: relative;
  font-size: 23px;
}
#form-steps ol li.active {
  font-size: 24px;
}
#form-steps ol li.active:first-child a:first-child {
  color: #339fbe;
}
#form-steps ol li.active:first-child a:nth-child(2) {
  width: 45px;
  height: 45px;
  font-size: 31px;
  color: #fff;
  background: #339fbe;
}
#form-steps ol li.active:nth-child(3) a:first-child {
  color: #6150a3;
}
#form-steps ol li.active:nth-child(3) a:nth-child(2) {
  width: 45px;
  height: 45px;
  font-size: 31px;
  color: #fff;
  background: #6150a3;
}
#form-steps ol li.active:nth-child(5) a:first-child {
  color: #2d73a5;
}
#form-steps ol li.active:nth-child(5) a:nth-child(2) {
  width: 45px;
  height: 45px;
  font-size: 31px;
  color: #fff;
  background: #2d73a5;
}

