/* Purpose : To style page when sent to the printer */
@media print {

  /* Section that make all components invisible that will not be one the      */
  /* printed page                                                             */
  #skipContentCalculate,
  #toolTitle,
  button,
  #printTop,
  #printBottom,
  #tool_title,
  #side_nav,
  .result_page_anchor,
  #buttonsArea,
  #footer
  {
    display:none;
  }

  /* In order to get the style to work.  !Important is needed since bootstrap */
  /* Also, I had to use the id to apply the rule due to the specitivity rules */
  /* of css                                                                   */
  #main-nav, #returnToCalculateButton, #startOverButton {
    display:none     !important;
  }

  /* Section that will set a page break after every graph                     */
  div[id^='results_box'] {
    page-break-before: always;
  }

  #displayInput {
    page-break-before: always;
  }

  /* Centers the logo                                                         */
  #logo {
    margin: 0px;
    padding: 0px;
    height: 82px;
    width:600px;
    display: inline-block;
    text-align: center;
  }

  /* Removes the URL after it.  Only needed for bootstrap version 3.x */
  a[href]:after {
    content: none;
  }

  /* Fixes for the Internet Explorer */

  /* Problem One Logo is not centering                                        */
  .ie_center_logo {
    text-align:center;
  }

    #results_box {
      width: 100%;
      height: 100%
    }

    #results_box2 {
      width: 100%;
      height: 100%
    }

    #results_box > div {
       display: flex;
       flex-wrap: wrap;
       width: 100%;
       height: 100%
    }

    #results_box2 > div {
       display: flex;
       flex-wrap: wrap;
       width: 100%;
       height: 100%;
    }

    .results_text {
      width: 100%;
      padding-top: 0;
      padding-bottom: 1%;
    }

    .results_graph {
      width: 48%
    }

    svg {
      width: 100%;
      height: 100%;
    }

    .svg-container {
      padding-top: 60%;
    }

    #InputParameters .answers {
      overflow-wrap: break-word;
      word-break: break-word;
      padding-left: 0.5em;
      padding-right: 1em;
    }

}
