a {
    cursor: pointer;
}

.nav, .pagination, .carousel, .panel-title a
{
    cursor: pointer;
}

.table {
    margin-bottom: 10px;
}

.table tr td span.glyphicon {
    line-height: 2;
}

.table > tbody {
    border-width: 0px 1px 1px 1px;
    border-style: solid;
    border-color: #DDD;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.rt-sm-gutter > [class*='col-'] {
    padding-right:5px;
    padding-left:0;
}

.form-group.top-margin {
    margin-top: 7px;
}
