.nav, .pagination, .carousel, .panel-title a
{
    cursor: pointer;
}

.table {
    margin-bottom: 10px;
}

.table tr td span.glyphicon {
    line-height: 2;
}

.table > tbody {
    border-width: 0px 1px 1px 1px;
    border-style: solid;
    border-color: #DDD;
}
