.chartTable {
    background-color: white;
    table-layout: fixed;
}

.chartLegend,
.chartCell {
    padding: 3px 3px !important;
    text-align: right;
}

.chartBlock {
     width: 15px;
    height: 25px;
    display: inline-block;
}

.chartOverlap {
    position: absolute;
    top: 3px;
    left: 3px;
}

.chartOverlapContainer {
    position: relative;
}

.chartBGColor {
    background-color: #aeb0b5;
}
.chartCell-2 {
    padding: 1px 1px !important;
    text-align: right;
}
.chartBlock-2 {
    width: 12px;
    height: 22px;
    display: inline-block;
}
.chartOverlap-2 {
    position: absolute;
    top: 1px;
    left: 1px;
}
.chartLegend-2 {
    padding: 1px 1px !important;
    text-align: right;
    font-size: 12px;
}

.chartCellBathroom {
    padding: 1px 5px !important;
    text-align: right;
}
.chartBlockBathroom {
    width: 15px;
    height: 40px;
    display: inline-block;
}
.chartOverlapBathroom {
    position: absolute;
    top: 1px;
    left: 5px;
}
.chartButtonBathroom {
    width: 10px;
    height: 25px;
    display: inline-block;
}


.dataColor1 {
    color: #fdb81e;
}
.chartBGColor1 {
    background-color: #fdb81e;
}

.dataColor3 {
    color: #e31c3d;
}
.chartBGColor3 {
    background-color: #e31c3d;
}

.dataColor2 {
    color: #0071bc;
}
.chartBGColor2 {
    background-color: #0071bc;
}

.chartBGColor4 {
    background-color: #e31c3d;
}

.chartBGColor5 {
    background-color: #981b1e;
}

.chartBGColor6 {
    background-color: #046b99;
}

.chartBGColor7 {
    background-color: #02bfe7;
}

.chartDescription {
    padding-top: 10px;
}

.results_legend .legendRow {
    margin-top: 5px;
}

.legendPartBathroom,
.legendPart {
    display: inline-block;
    position: relative;
}

.legendTextBathroom,
.legendText {
    display: table-cell;
    vertical-align: middle;
}

.buttonActive {
    background-color: lightyellow;
    font-weight: 900;
}

.legendPart,
.legendText {
    height: 31px;
}
.legendPartBathroom,
.legendTextBathroom {
    height: 46px;
}

.legendSquare {
    width: 21px;
}
