.chartTable {
    background-color: white;
    table-layout: fixed;
}

.chartLegend,
.chartCell {
    padding: 3px 3px !important;
    text-align: right;
}

.chartBG,
.chartBlock,
.chartBlock1,
.chartBlock2,
.chartBlock3,
.chartIcon {
     width: 15px;
    height: 25px;
    display: inline-block;
}

.chartCell {
    position: relative;
}

.chartBG {
    background-color: #aeb0b5;
}

.chartOverlap {
    position: absolute;
    top: 3px;
    left: 3px;
}

.data1 {
    color: #fdb81e;
}
.chartBlock1 {
    background-color: #fdb81e;
}

.data2 {
    color: #e31c3d;
}
.chartBlock2 {
    background-color: #e31c3d;
}

.data3 {
    color: #0071bc;
}
.chartBlock,
.chartBlock3 {
    background-color: #0071bc;
}

.chartDescription {
    padding-top: 10px;
}

.results_legend .legendRow {
    margin-top: 5px;
}

.legendPart {
    display: inline-block;
    position: relative;
}

.legendText {
    display: table-cell;
    vertical-align: middle;
}

.legendPart,
.legendText {
    height: 31px;
}

.legendSquare {
    width: 21px;
}
