.results {
margin:10px;
}

.yourresults {
width:100%;
}
.yourresults td img {
width:10px; height:10px;
}
.yourresults .col {
display:inline-block;
width:400px;
vertical-align:top;
margin:0px 100px 0px 0px;
}
table {
width:400px;
height:250px;border:1px solid #666666;

}

.yourresults td {
	border:1px solid #666666;
}

.yourresults tr {
height:10px;	
}

.yourresults image {
height:100%;
width:100%;	
}


.legend img {
border:1px solid #000;
height:10px;
width:10px;
}

.legend span {
display:inline-block;
padding-right:10px;
}
