.results {
	margin:10px;
}
div.yourresults { margin-top: 12px }

.yourresults table{
    border:1px solid #777;
}

.yourresults td {
    border: 1px solid #777;
    width:10px !important;
    min-width:10px;
}
