.info-dialog
	border 3px solid #D3D3D3
	color #000
	background-color #fff
	padding 1em
	button
		background #2b7bba
		color #fff
		font-weight bold
		border-radius 20px
		border none
		margin 0.3em
		&:hover,&:focus
			background #fff
			color #2b7bba
	
.error-dialog
	.modal-content
		border solid 4px red_BB
		background-color #FFFFFFF
		border 3px solid red_BB
		border-radius 0
	img
		float left
	button
		color white
		background-color teal_14
		border-radius none
		font-weight bold
		display flex
		justify-content center
		margin 0 auto
		text-transform uppercase
		