@media (max-width 992px)
	header 
		img
			&#logo
				padding 1em 0 1em 1em
				width 100%
		#toolTitle
			padding-left 1em
		&.fixed
			position fixed
			z-index 100
			width 100%
			top 0
			left 0
	#main_home
		margin-top 6em
	#results
		padding 1em
	#results_text
		text-align left
		max-width 365px
		margin-top 15%
		margin-left 0
	nav#main-nav
		background #fff
		padding 0
		text-align left
		ul
			&.nav.nav-tabs
				display block
				li
					width 50%
					float right
					&.active a
						color: #356b91;
						background: #fff;
					a
						background blue_23
						color #FFF
						border none
						&:hover, &:focus
							border none
	#form-steps
		&.fixed
			position fixed
			z-index 1
			width 100%
			left 0
			margin-bottom 10px
		ol
			padding 0
			span.spacer
				margin 0
			li
				margin 0.5em 0.1em
				border-radius 20px
				margin-left 6%
				margin-right 6%
				a:first-child
					display none
	#errors
		font-size 0.8em
		margin 1em 0
	section
		padding 1em
	.tab-pane
		padding 0 1em
	#main
		margin 0 0 1.5em 0
		padding 0
		.container
			padding inherit
	.questions,.responseOptions
		line-height 1.5
	select, input[type="radio"] + label.radio
		width 100%
	.box
		margin 1em auto
	.btn-block
		margin 0 auto
	.footer
		line-height initial
		
		ul
			margin 1em 0 1em 2em
			li
				display block
				text-align left
				max-width 60%
				margin 0.3em 0
				&:nth-child(even)
					display none
					margin 0
					padding 0
					max-width 0
	#side_nav
		&.sidenav 
			width 0
			position fixed
			z-index 9999
			top 0
			left 0
			background-color #f3f3f2
			overflow-x hidden
			transition 0.5s
			display inline
			box-shadow -15px 0px 15px -15px rgba(0,0,0,0.6) inset
			text-transform uppercase
			a
				padding 8px 8px 8px 32px
				text-decoration none
				font-size 16px
				color #818181
				display block
				transition 0.3s
				white-space nowrap
				&.active a
					color #fff
					background-color #BB0E3D
	#buttons
		display -webkit-box

