@media (max-width 768px)
	header 
		img
			&#logo
				padding 1em 0 1em 1em
				width 100%
		#toolTitle
			padding-left 1em
		&.fixed
			position fixed
			z-index 1
			width 100%
			top 0
			left 0
	nav#main-nav
		background #fff
		padding 0
		text-align left
		ul
			&.nav.nav-tabs
				display block
				li
					width 65%
					float right
					&.active a
						color #FFFFFF
						background blue_23
						border none
					a
						background #FFF
						color blue_23
						border none
						&:hover, &:focus
							border none
	#form-steps
		&.fixed
			position fixed
			z-index 1
			width 100%
			left 0
		ol
			padding 0
			span.spacer
				margin 0
			li
				margin 0.5em 0.1em
				a:first-child
					display none
	#errors
		font-size 0.8em
		margin 1em 0
	section
		padding 1em
	.tab-pane
		padding 0 1em
	#main
		margin 0 0 1.5em 0
		padding 0
		.container
			padding inherit
	.questions,.responseOptions
		line-height 1.5
	select, input[type="radio"] + label.radio
		width 100%
	.box
		margin 1em auto
	.btn-block
		margin 0 auto
	.footer
		line-height initial
		
		ul
			margin 1em 0 1em 2em
			li
				display block
				text-align left
				max-width 60%
				margin 0.3em 0
				&:nth-child(even)
					display none
					margin 0
					padding 0
					max-width 0
