@media (max-width 770px)
	header 
		img
			&#logo
				padding 1em 0 1em 1em
				width 100%
		#toolTitle
			padding-left 1em
	nav#main-nav
		background #fff
		padding 0
		text-align left
		ul
			&.nav.nav-tabs
				display block
				li
					width 65%
					float right
					&.active a
						color #FFFFFF
						background blue_23
						border none
					a
						background #FFF
						color blue_23
						border none
						&:hover, &:focus
							border none
	#form-steps
		&.fixed
			position inherit
		ol
			padding 0
			li
				margin 0.5em 0.1em
				a
					font-size 0.7em
					&:after
						padding 0.6em
						width 35px
	#errors
		font-size 0.8em
		margin 1em 0
	section
		padding 1em
		font-size 1.2em
	.tab-pane
		padding 0 1em
	#main
		margin 0
	.questions,.responseOptions
		line-height 2
	select
		width 100%
	.box
		margin 1em auto
	.footer
		line-height 2
		ul li
			display block
			&:nth-child(even)
				display none