@import fonts

/* Color Scheme */
black_2E = #2E2E2E
grey_60 = #606060
grey_D3 = #D3D3D3
cream_F2 = #F2F2F3
blue_2B = #2B7BBA
blue_23 = #235E88
red_BB = #BB0E3D
grey_86 = #868686
grey_A1 = #FAFAFA
purple_61 = #6150A3
teal_14 = #14819B
green_DB = #DBF2F8
green_2D = #4D4D4D
green_33 = #339FBD

html
	background blue_23

body
	font-family "Noto Sans", "Montserrat"
	font-size 13pt
	min-width 375px
	background #fff
	
h1, h2, h3, h4, h5, h6, h7, .sectionTitle
	color grey_60
	font-weight bold
	margin 0.5em auto
	
header, .tab-content, .footer
	display block
	
section
	border 1px solid grey_D3
	padding 2em
	margin 1em 0
	
header
	margin 0 auto
	#toolTitle
		background-color blue_2B
		color #FFF
		font-weight bold
		padding 0.5em 0 
		padding-left 5em
		.navbar-toggle
			margin-top -0.3em
			margin-bottom 0
			padding 0.3em 0.2em
			&:hover, &:focus
				.glyphicon
					color grey_A1
					text-shadow 5px 2px 2px #000
				
	img#logo
		max-width 600px
		padding 1em 0 1em 5em
nav#main-nav
	text-transform uppercase
	background-color blue_23
	padding-left 5em
	ul.nav.nav-tabs li
		border none
		margin-bottom 0
		a
			font-weight bold
			color #fff
			border-radius 0px
			margin 0
			padding 0.7em
			&:hover, &:focus
				border-bottom 7px inset #FFF
				background #fff
				color teal_14
		&.active a
			color #356B91
			background #fff
			border-bottom 7px inset #1A84A8

.nav-tabs
	border none
button
	font-weight bold
	font-size 0.8em
	&.btn-sm
		font-size 0.8em
	&:disabled
		cursor not-allowed		
	&.btn-form
		color #fff
		background-color #2DC799
		border-color #1DC799
		border-radius 0
		&:hover, &:focus
			background-color #1f8566
			color #fff
		&:disabled
			background-color #238769
			color #d9d9d9
	
#summary, #riskForm, #results, #errors, #form-steps, #map, #listings, .male, .female
	&:not(.show)
		display none
#main
	margin-top 3em
	margin-bottom 6em
.tab-pane
	line-height 1.5
	padding 0 5em
	margin-bottom 100px
	ul li
		line-height 2
.box
	background-color green_DB
	padding 1.5em
	margin 0 0 1em 0.5em
#results
	font-size 1.2em
	text-align center
	border-radius 10px
	border 0.3em solid grey_D3
	background grey_A1
	padding 1em
#form-steps
	background-color #FFF
	&.fixed
		position fixed
		z-index 1
		width 100%
		top 0
		left 0
	ol
		list-style none
		text-align center
		font-weight bold
		margin 0
		li
			display inline-block
			counter-increment item
			margin 0em 2em
			color grey_86
			&.active
				color purple_61
				a
					color inherit
					&:after
						background purple_61
						color #FFF
			a
				color inherit
				&:after
					display block
					margin 0 auto
					padding 10px
					content counter(item)
					background grey_86
					border-radius 100%
					color #FFF
					width 45px
					text-align center
.no-margin
	margin 0
.no-padding
	padding 0
.questions, .responseOptions
	font-weight normal
	line-height 3
	label
		font-weight inherit
.responseOptions input[type="radio"]
	margin 0 0.5em
	width 1em
	height 1em
select
	border 2px solid #d3d3d3
	background #f2f2f3
	padding 0 0.4em
	height 2.5em
	&:focus, &:hover
		// background #cacacf
		border-color blue_2B
	&:disabled
		background grey_D3
		color black
		cursor not-allowed

input[type="radio"]
	display none
	+ label.radio
		color #000
		font-weight normal
		span
			display inline-block
			width 1.5em
			height 1.5em
			margin 0 0.5em 0 0
			padding 2px
			vertical-align middle
			border 3px solid blue_2B
			border-radius 20px
			background #fff
			color #f2f2f2
			cursor pointer
		&:hover
			span
				background blue_2B
				border-color #fff
				border-style double
				padding 0.5em
		// &:focus
		// 	span
		// 		border-color blue_2B
		// 		background blue_2B
		// 		border-style double
	&:checked + label.radio
		&:hover span
			opacity 0.5
		span
			border-style double
			background blue_2B
select, input
	&:disabled
		cursor not-allowed
		color #6c6c6c
		border none
		&[type="radio"] 
			+ label.radio
				background none
				border none
				color #c0c0c0
				cursor not-allowed
				span
					background none
					border 3px solid blue_2B
					opacity 0.5
				&:hover, &:focus
					span
						background none
						border 3px solid blue_2B
						opacity 0.5
select, input
	&.error
		border-color red_BB
		+ label.radio
			color red_BB 
			span
				border-color red_BB

.footer
	background-color blue_23
	line-height 4
	*, ul li a
		color #FFF

@import dialogs
@import mobile