section form > ol li .question > label {
  display: inline-block;
}
section form > ol li .question > p {
  display: inline-block;
}
section form > ol li .question .input > label {
  display: block;
}
section form > ol li .question select,
section form > ol li .question input {
  width: 100%;
}
section form .counties {
  display: none;
}
section form #region_subquestion {
  border: none;
  list-style: none;
  width: inherit;
  padding: 0;
  margin: 0;
  height: auto;
}
img.stock-images {
  height: inherit;
  width: inherit;
}
.question-illustrations > img.stock-images {
  border: none;
}
dd > img {
  margin: 0 10px;
}

@media (max-width: 990px) {
  section {
    margin: 0 25px;
  }
  section form > ol {
    padding: 0;
  }
  section form > ol > li > p {
    margin-right: 0;
  }
  section form > ol > li > p > .input {
    width: 100%;
    margin: 10px auto;
  }
  section form .question-text {
    margin: 0;
    padding: 1%;
  }
  section form .question-illustrations img {
    width: 80%;
  }
}
@media (max-width: 768px) {
  .section-title {
    padding: 5px 10px;
  }
  section {
    margin: 10px;
    padding: 0;
  }
  section form > ol > li {
    width: 100%;
    height: auto;
    max-height: 350px;
    min-height: 130px;
    padding: 5px 10px;
  }
  .question-illustrations .stock-images {
    width: 180px;
  }
}
@media (max-width: 480px) {
  .section-title * {
    display: block;
    text-align: center;
  }
  .section-title :nth-child(2) {
    float: none;
  }
}
