form {
  display: block;
}
form > ul {
  list-style: none;
}
form li {
  margin: 5px 0px;
  overflow: hidden;
}
form li > label {
  display: inline-block;
  float: left;
  width: 5em;
}
form li > p {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  float: left;
  margin: 0px -13em 0px -5em;
  padding: 0px 13em 0px 5em;
  width: 100%;
}
form li > .input {
  display: inline-block;
  width: 13em;
}
form li > .input select {
  width: 100%;
}
.female:not(.show),
.male:not(.show) {
  display: none;
}
.no-css {
  display: none;
}

