header
    img(id="menu-button",src="images/menu.svg", alt="mobile menu access button")
    a#nci-banner(href="http://cancer.gov/" target="_blank")
        img(src="images/bcrat-logo.svg" alt="National Cancer Institute Breast Cancer Risk Assessment Tool")
    #toolTitle
        #toolDescription
            | An interactive tool to help estimate a woman's risk of developing breast cancer
