ul.nav
    li
        a(target="_blank", href='http://www.cancer.gov/cancertopics/types/breast') Breast Cancer Home Page
    li
        a(target="_blank", href='http://www.cancer.gov/cancertopics/prevention-genetics-causes/breast')
            | Breast Cancer: Prevention, Genetics, Causes
    li
        a(target="_blank", href='http://www.cancer.gov/Search/ClinicalTrialslink.aspx?diagnosis=39644&tt=1&format=2',title="Current Clinical Trials Breast Cancer In Situ: Treatment")
            | Breast Cancer In Situ: Treatment
    li
        a(target="_blank", href='http://www.cancer.gov/Search/ClinicalTrialsLink.aspx?diagnosis=38832&tt=4&format=2',title="Current Clinical Trials Breast Cancer Prevention")
            | Breast Cancer Prevention
    li
        a(target="_blank", href='http://www.cancer.gov/Search/ClinicalTrialsLink.aspx?diagnosis=38832&tt=3&format=2',title="Current Clinical Trials Breast Cancer Screening")
            | Breast Cancer Screening
    li
        a(target="_blank", href='http://www.cancer.gov/cancertopics/factsheet/detection/probability-breast-cancer')
            | Breast Cancer Risk in American Women
