body {
	background-color: #fff;
	font-family: arial, helvetica, sans;
	font-size: 10pt;
	font-weight: normal;
	color: #000;
}

h1 {
	font-family: arial, helvetica, sans;
	font-size: 14pt;
	background-color: #89a4ce;
	padding: 5px;
	color: #fff;
}

br.clear { 
	clear: both;
}

div.qbreak { 
	height: 7px;
}

.bold { 
	font-weight: bold;
}

.italic { 
	font-style: italic;
}
.loweredtxt {
	font-weight: bold;
	text-transform: uppercase; 
	color: #0c0;
}

.raisedtxt {
	font-weight: bold;
	text-transform: uppercase; 
	color: #f00;
}


.sectiontitle {
	text-align: center;
/*	font-weight: bold;
	font-size: 12pt;*/
}

.sectiontitle2 {
	text-align: left;
	font-weight: bold;
	font-size: 11pt;
}

.sectionimg {
	text-align: center;
	height: 240px;
}

.sectionexplan {
	text-align: left;
	font-weight: normal;
	padding: 0 10px 10px 10px;
}

.risk_text {
	text-align: left;
	font-weight: bold;
	font-size: 12pt;
	padding: 0 10px 10px 10px;
}

.smallbold {
        font-size: 8pt;
        font-weight: bold;
}

.blankspace {
	height: 5px;
}

.checkboxitem {
        padding: 0 0 10px 0;
        margin-left: 15px;
        text-indent: -25px;
}

.pagewrapper {
	width: 700px;
	border: 1px solid #000;
	background-color: #eaeef4;
}

.contentwrapper {
	width: 680px;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	border: 0;
	background-color: #fff;
}

.titlediv {
	font-family: arial, helvetica, sans;
	font-size: 14pt;
	font-weight: bold;
	background-color: #89a4ce;
	padding: 5px 10px 5px 10px;
	color: #fff;
}


.printtxt {
	float: right;
	font-family: arial, helvetica, sans;
	font-size: 10pt;

}

.printtxt a {
	color: #fff;
	font-weight: normal;
}


.graph_howhigh {
	float: left;
	width: 330px;
	padding-right: 10px;
}

.graph_williget {
	float: right;
	width: 320px;
	padding-left: 10px;
	background-color: #fff; 
	margin-right: 12px; 
	border: 1px solid #000; 
	height: 560px;
}

.lowerbutton_left {
	text-align: right;
	float: left;
	padding-right: 10px;
	width: 318px;
	padding-bottom: 10px;
}

.lowerbutton_right {
	text-align: left;
	float: right;
	width: 329px;
	padding-bottom: 10px;
}

.lowerbutton_left a img, .lowerbutton_right a img, .printtxt a img, .demo_btns a img {
	border: 0;
}



#navtab
{
	border-bottom: 1px solid #000; 
	background-color: #f0f0f0;
}

.skip a, .skip a:hover, .skip a:visited 
{
	position: absolute; 
	left:-999px; 
}
.skip a:active, .skip a:focus	 
{
	display:block;
	left: 0; 
	z-index:999;
	background: #fff;
	border: 1px solid #000; 
	padding: 5px 5px 5px 5px;
}
.question 
{
	padding: 5px 5px 0px 5px;
}
.qtextindent {
	padding-left: 40px; width: 480px;
}


.heighweight 
{
	font-size: 1em; 
	width: 25px;
}

.lb_containerResult {
        top: 0px;
        left: 8px;
        text-align: left;
        /*background-color: #ccc;*/
        background-color: transparent;
        border: 1px solid #89a4ce;
        width: 700px;
        height: 890px;
        position: absolute;
        z-index: 1;
        background-image:url('/images/bg_alpha.png');
        background-repeat:repeat-x repeat-y;
}
.lb_container {
        top: 0px;
        left: 1px;
        text-align: left;
        /*background-color: #ccc;*/
        background-color: transparent;
        border: 1px solid #89a4ce;
        width: 556px;
        height: 600px;
        position: absolute;
        z-index: 10;
        background-image:url('/images/bg_alpha.png');
        background-repeat:repeat-x repeat-y;
}
.tab-content {
    clear:both;
     padding:0px;
    width:328px;
    background-color: #fff;
	font-family: arial, helvetica, sans;
	font-size: 10pt;
	font-weight: normal;
	color: #000;
	 border: 0px none;
}

.tab-content A{
	 text-decoration:none;
}

.titlebold 
{
	font-size:13px;
   font-weight:bold;
}


#footer {
clear: both;
margin: 0 0 20px 0;
width: 700px;
border-top: solid 5px #CCCCCC;
padding-top: 15px;
text-align: center;
}


html>body #footer {
width: 700px;
}

#footer, #footer a, #footer a:link, #footer a:visited,#footer a:active {
font-family: arial, sans-serif;
color: #4d4d4d;
}

#footer a:hover {
color: #980000;
}

.redup
{
	font-weight: normal; 
	padding-right: 3px; 
	background-image:url('/images/bg_arrow_red_up.png'); 
	background-repeat: no-repeat;
}

.redup div
{
	font-size:smaller;
}

.greendown
{
	font-weight: normal; 
	padding-right: 3px; 
	background-color:Transparent;
	background-image:url('/images/bg_arrow_green.png'); 
	background-repeat: no-repeat;
}

.greendown div
{
	font-size:smaller;
}