.footer
	.center-block
		ul.list-inline
			li
				a(target="_blank", title="Home", href="http://www.cancer.gov/") Home
			li |
			li
				a(target="_top", title="Support", href="mailto:") Support
			li |
			li
				a(target="_blank", title="Policies", href="http://www.cancer.gov/global/web/policies") Policies
			li |
			li
				a(target="_blank", title="Accessibility", href="http://www.cancer.gov/global/web/policies/accessibility") Accessibility
			li |
			li
				a(target="_blank", title="Viewing Files", href="http://cancer.gov/global/viewing-files") Viewing Files
			li |
			li
				a(target="_blank", title="FOIA", href="http://www.cancer.gov/global/web/policies/foia") FOIA
		ul.list-inline
			li
				a(target="_blank",href="http://www.hhs.gov/") U.S. Department of Health and Human Services
			li |
			li
				a(target="_blank",href="http://www.nih.gov") National Institutes of Health
			li |
			li
				a(target="_blank",href="http://www.cancer.gov/") National Cancer Institute
			li |
			li
				a(target="_blank",href="http://usa.gov") USA.gov
		.text-center
			span NIH ... Turning Discovery Into Health
			sup ®
