header
    span#top
    a(href="http://cancer.gov/" target="_blank")
        img#nci-banner(src="/common/images/nci-logo-full.svg" alt="National Cancer Institute")
    #toolTitle
        #toolName Melanoma Risk Assessment Tool
        #toolDescription
            | An interactive tool to help estimate a person's risk of developing invasive melanoma

