header
    a(href="http://cancer.gov/" target="_blank")
        img#nci-banner(src="images/mrat-logo-color.svg" alt="National Cancer Institute")
    #toolTitle
        #toolDescription
            | An interactive tool to help estimate a person's risk of developing invasive melanoma
