ul
    li
        a(href="index.html") Risk Calculator
    li
        a(href="about.html") About the Tool
    li
        a(href="cancer-risk.html") Melanoma Cancer Risk
    li
        a(href="source-code.html") Download Source Code
