ul.nav.horizontal-nav
    li
        a(href="#about") About the Tool
    li
        a(href="#risk-calculator") Risk Calculator
    li
        a(href="#cancer-risk") Melanoma Cancer Risk
    li
        a(href="#source-code") Download Source Code
//-            ul
//-                li
//-                    a.goTo(name="#documentation") Documentation
//-                li
//-                    a.goTo(name="#terms-conditions") Terms & Conditions
