li
    a(href="#about")
        .link-text About
li
    a(href="#risk-calculator")
        .link-text Risk Calculator
li
    a(href="#cancer-risk")
        .link-text Melanoma Cancer Risk
li
    a(href="#source-code")
        .link-text Source Code
