nav.horizontal-nav
    ul
        li
            a.goTo(name="#about") About the Tool
        li
            a.goTo(name="#risk-calculator") Risk Calculator
        li
            a.goTo(name="#cancer-risk") Melanoma Cancer Risk
        li
            a.goTo(name="#source-code") Download Source Code
            ul
                li
                    a.goTo(name="#documentation") Documentation
                li
                    a.goTo(name="#terms-conditions") Terms & Conditions
