nav.horizontal-nav
    ul
        li
            a(href="#risk-calculator") Risk Calculator
        li
            a(href="#about") About the Tool
        li
            a(href="#cancer-risk") Melanoma Cancer Risk
        li
            a(href="#source-code") Download Source Code
            ul
                li
                    a(href="#documentation") Documentation
                li
                    a(href="#terms-conditions") Terms & Conditions
