li(tabTo="risk-calculator")
    a(href="#risk-calculator")
        .link-text Risk Calculator
li(tabTo="cancer-risk")
    a(href="#cancer-risk")
        .link-text Melanoma Cancer Risk
li(tabTo="about")
    a(href="#about")
        .link-text About
li
    a(href="javascript:void(0);")
        .link-text Quick Links
    ul.nav
        li
            a(target="_blank",href='http://www.cancer.gov/cancertopics/types/melanoma')
                .link-text Melanoma home page
        li
            a(target="_blank",href='http://www.cancer.gov/cancertopics/wyntk/skin')
                .link-text What You Need To Know About Melanoma and Other Skin Cancers
        li
            a(target="_blank",href='http://www.cancer.gov/cancertopics/factsheet/Risk/moles')
                .link-text Common Moles, Dysplastic Nevi, and Risk of Melanoma
        li
            a(target="_blank",href='http://www.cancer.gov/Search/ClinicalTrialsLink.aspx?diagnosis=38833&tt=4&format=2')
                .link-text Current Clinical Trials: Melanoma Prevention
        li
            a(target="_blank",href='http://www.cancer.gov/Search/ClinicalTrialslink.aspx?diagnosis=38833&tt=1&format=2')
                .link-text Current Clinical Trials: Melanoma Treatment
li(tabTo="source-code")
    a(href="#source-code")
        .link-text Source Code
