#quicklinks
    #quick-title
        | Quick Links
        //-        a.minimize &nbsp;[ - ]
    ul
        li
            a(target="_blank",href='http://www.cancer.gov/cancertopics/types/melanoma') Melanoma home page
        li
            a(target="_blank",href='http://www.cancer.gov/cancertopics/wyntk/skin') What You Need To Know About Melanoma and Other Skin Cancers
        li
            a(target="_blank",href='http://www.cancer.gov/cancertopics/factsheet/Risk/moles') Common Moles, Dysplastic Nevi, and Risk of Melanoma
        li
            a(target="_blank",href='http://www.cancer.gov/Search/ClinicalTrialsLink.aspx?diagnosis=38833&tt=4&format=2') Current Clinical Trials: Melanoma Prevention
        li
            a(target="_blank",href='http://www.cancer.gov/Search/ClinicalTrialslink.aspx?diagnosis=38833&tt=1&format=2') Current Clinical Trials: Melanoma Treatment
