p
    | The Melanoma Risk Assessment is an interactive tool designed by scientists at the National Cancer Institute (NCI),
    | the University of Pennsylvania, and the University of California, San Francisco,
    | to estimate a person's &nbsp;
    a.termToDefine(data-term='ar') absolute risk
    |  of developing invasive melanoma. The tool helps clinicians identify
    | individuals at increased risk of melanoma in order to plan
    | appropriate screening interventions with them.
strong Race and Risk Accuracy
p
    | The melanoma risk calculator was developed using data from a large case-control
    | study in the United States. Risks are estimated for non-Hispanic whites only; data
    | for other races/ethnicities are too limited to accurately estimate risk.
