p
    | An interactive tool designed by scientists at the National Cancer Institute (NCI),
    | the University of Pennsylvania, and the University of California, San Francisco,
    | to estimate a person's &nbsp;
    a.termToDefine(data-term='ar') absolute risk
    |  of developing invasive melanoma. The tool helps clinicians identify
    | individuals at increased risk of melanoma in order to plan
    | appropriate screening interventions with them.
