.red {
  background-color: #a90101;
}
#main {
  width: 1100px;
  margin: 0 auto;
}
.title {
  background: #d3d3d3;
}
table input[type="text"] {
  width: 50px;
}
#portal-footer {
  clear: both;
  border-top: 1px solid #000;
  line-height: 1.2em;
  margin: 2em 0em 1em 0em;
  padding: 1em 0em 1em 0em;
  text-align: center;
  background-color: #fff;
  color: #333;
  font-size: 79%;
}
.top-header {
  text-align: center;
  color: #fff;
}
.header {
  background-color: #aaa;
  color: #444;
}
.panel-toggle a,
.panel-title a {
  color: #000;
}
.well,
#results {
  min-height: 645px;
}
#markers th.header {
  font-size: small;
}
#markers .panel-body {
  background: linear-gradient(to bottom, #feffff 0%, #feffff 50%, #e7f3fa 100%) repeat scroll 0 0 rgba(0,0,0,0);
}
