<div class="form-group">
	<label class="radio-inline">
		<input type="radio" name="ageInterval_radio" ng-model="section.inputMethod" value="manual" checked> Enter Single Values
	</label>
	<label class="radio-inline">
		<input type="radio" name="ageInterval_radio" ng-model="section.inputMethod" value="upload" > Upload Multiple Values
	</label>
</div>

<div ng-show="section.inputMethod === 'manual'">
	<div class="form-group">
		<span>Age: </span>
		<select ng-model="section.model.age" ng-options="age for age in section.range(120)"></select>
	</div>
	<div class="form-group">
		<span>Age Interval: </span>
		<select ng-model="section.model.interval" ng-options="interval for interval in section.range(100)"></select>
	</div>
</div>

<div ng-show="section.inputMethod === 'upload'">
	<span class="btn btn-info btn-file">Upload CSV File
	<input type="file" id="ageInterval" uploadfile></span>

	<span><a ng-click="section.downloadFile()">{{section.getFileName()}}</a></span>
	<span ng-show="!section.getFileName()">No file selected <a ng-click="section.downloadTemplate()">(template)</a></span>
</div>
<button type="button" class="btn btn-primary pull-right" ng-click="section.submit()" ng-disabled="section.inputMethod ==='upload' && !section.getFileName()">Submit</button>
