li(tabTo="risk-calculator")
    a(href="#risk-calculator")
        .link-text Risk Calculator
li(tabTo="about")
    a(href="#about")
        .link-text About
li(tabTo="risk-factors")
    a(href="#risk-factors")
        .link-text Risk Factors
li#quick-link
    a(href="javascript:void(0);")
        .link-text Quick Links
    include quick-links
li(tabTo="source-code")
    a(href="#source-code")
        .link-text Source Code
