<table class="chartTable">
    <tr ng-repeat="row in rows track by $index">
        <td ng-repeat="cell in row track by $index" class="chartCellBathroom chartOverlapContainer">
            <div class="chartBlockBathroom chartBGColor"></div>
            <div class="chartBlockBathroom chartBGColor2 chartOverlapBathroom" style="width: {{ cell.val1 * 0.1 * iconWidth }}px;"></div>
            <img ng-src="files/images/people.png" class="chartBlockBathroom chartOverlapBathroom">
        </td>
        <th class="chartLegend">{{ $index * row.length + row.length }}</th>
    </tr>
</table>
