<table class="chartTable">
    <tr ng-repeat="row in rows track by $index">
        <th class="chartLegend">{{ $index * row.length + row.length }}</th>
        <td ng-repeat="cell in row track by $index" class="chartCell chartOverlapContainer">
            <div class="chartBlock chartBGColor"></div>
            <div class="chartBlock chartBGColor1 chartOverlap" style="width: {{ cell.val1 * 0.1 * iconWidth }}px;"></div>
            <div ng-if="cell.val2 >= 0" class="chartBlock chartBGColor2 chartOverlap" style="width: {{ cell.val2 * 0.1 * iconWidth }}px;"></div>
            <div ng-if="cell.val3 >= 0" class="chartBlock chartBGColor3 chartOverlap" style="width: {{ cell.val3 * 0.1 * iconWidth }}px;"></div>
        </td>
    </tr>
</table>
