<table class="chartTable">
    <tr ng-repeat="row in rows track by $index">
        <td ng-repeat="cell in row track by $index" class="chartCell chartOverlapContainer">
            <div class="chartBlock chartBGColor"></div>
            <div ng-if="chartType !== 'combined'" class="chartBlock chartBlock2 chartOverlap" style="width: {{ cell.val1 * 0.1 * iconWidth }}px;"></div>
            <div ng-if="chartType === 'combined'" class="chartBlock chartBlock1 chartOverlap" style="width: {{ cell.val1 * 0.1 * iconWidth }}px;"></div>
            <div ng-if="chartType === 'combined' && cell.val2 >= 0" class="chartBlock chartBlock2 chartOverlap" style="width: {{ cell.val2 * 0.1 * iconWidth }}px;"></div>
            <div ng-if="chartType === 'combined' && cell.val3 >= 0" class="chartBlock chartBlock3 chartOverlap" style="width: {{ cell.val3 * 0.1 * iconWidth }}px;"></div>
        </td>
        <th class="chartLegend">{{ $index * row.length + row.length }}</th>
    </tr>
</table>
