<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>National Lung Screening Trial</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link href="files/2col.css" rel="stylesheet" type="text/css" media="all">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
    <script src="files/FormController.js"></script>
</head>
<body ng-app="myapp">
    <div class="header">
        <div class="container">
            <a href="http://dceg.cancer.gov/" target="dceg" title="National Cancer Institute: Division of Cancer Epidemiology and Genetics" class="header-logo"></a>
        </div>
        <div class="container row-blue">
            <div class="row">
                <div class="col-xs-12">
                    <h4>Risk-based NLST Outcomes Tool (RNOT)</h4>
                </div>
            </div>
        </div>
        <div class="skip"><a title="Skip to content" href="#skiptocontent">Skip to content</a></div>
        <a name="top"></a>
        <div class="container navbar navbar-default">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#lcs-navbar-collapse" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="lcs-navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="index.html">Home</a></li>
                    <li><a href="about.html">About the Tool</a></li>
                    <li><a href="risk.html">Risk Factor</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Quick Links <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Link 1</a></li>
                            <li><a href="#">Link 2</a></li>
                            <li><a href="#">Link 3</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container" ng-controller="MyController">
        <div class="row">
            <div class="col-xs-12">
                <p>The National Lung Screening Trial (NLST) compared the efficacy of low-dose helical CT with that of standard chest X-ray for detecting lung cancer.  Low-dose CT resulted in 20% reduction in lung cancer mortality, and the <a href="http://www.uspreventiveservicestaskforce.org/Page/Topic/recommendation-summary/lung-cancer-screening" target="_blank" title="USPSTF (U.S. Preventive Services Task Force)">US Preventive Services Task Force (USPSTF)</a> recommends CT lung screening for those 50-80 years of age, minimum 30 pack-years of smoking, and no more than 15 years since quitting.  The Risk-based NLST Outcomes Tool (RNOT) provides chance of diagnosis and death from lung cancer, and risk of false-positive CT screen, based on data from the NLST.</p>
                <p class="text-bold">The best way to lower your risk of lung cancer, and all smoking-related diseases, is to quit smoking. Learn more by visiting <a href="http://smokefree.gov" target="smokefree">smokefree.gov</a> and the CDC page on <a href="http://www.cdc.gov/tobacco/quit_smoking/" target="cdcSmokeFree">quitting smoking</a>.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title">Risk Tool</div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-12">
                                <p>
                                    <strong>
                                        The task force does not recommend that you get screened if you are not between the ages of 50 and 80, or if you are a non smoker, or if you are a current smoker with less than 30 pack-year of smoking or if you are a former smoker who quitted for more
                                        than 15 years.
                                    </strong>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <form class="form form-horizontal" name="lcsForm" ng-submit="myForm.submit(lcsForm.$valid)">
                                    <div class="form-group" ng-class="{'has-error': myForm.ageNumericCriteria }">
                                        <label for="age" class="col-xs-12 col-md-6 control-label">Age</label>
                                        <div class="col-xs-12 col-md-6">
                                            <input class="form-control input-sm" type="text" name="age" id="name" ng-model="myForm.age" ng-model-options="{ updateOn: 'blur' }" ng-required="true">
                                        </div>
                                    </div>
                                    <div ng-show="myForm.ageNumericCriteria" class="row">
                                        <div class="col-xs-12 has-error">
                                            <span class="help-block">{{myForm.numericValidationMessage}}</span>
                                        </div>
                                    </div>
                                    <!--
                                    <div ng-show="myForm.ageCriteria" class="row">
                                        <div class="col-xs-12 warning">
                                            The <a href="http://www.uspreventiveservicestaskforce.org/uspstf/uspslung.htm" target="_blank" title="U.S. Preventive Services Task Force">U.S. Preventive Services Task Force</a> does NOT recommend that
                                            you get screened unless you are between the age of 50 and 80.
                                            This tool calculates risk for men and women 50 to 80 years of age
                                        </div>
                                    </div>
                                    -->
                                    <div class="form-group">
                                        <label for="" class="col-xs-12 col-md-6 control-label">Gender</label>
                                        <div class="col-xs-12 col-md-6">
                                            <select name="gender" id="gender" class="form-control input-sm" ng-model="myForm.gender" required>
                                                <option value="">Select...</option>
                                                <option value="0">Male</option>
                                                <option value="1">Female</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="smoker_type" class="col-xs-12 col-md-6 control-label">Type of Smoker?</label>
                                        <div class="col-xs-12 col-md-6">
                                            <select name="smoker_type" id="smoker_type" class="form-control input-sm" ng-change="myForm.changeType()" ng-model="myForm.type" ng-required="true">
                                                <option value="">Select...</option>
                                                <option value="current">Current Smoker</option>
                                                <option value="former">Former Smoker</option>
                                                <option value="non">Non Smoker</option>
                                            </select>
                                        </div>
                                    </div>
                                    <!--
                                    <div ng-show="myForm.typeCriteria" class="row">
                                        <div class="col-xs-12 has-error">
                                            <span class="help-block">
                                                The <a href="http://www.uspreventiveservicestaskforce.org/uspstf/uspslung.htm" target="_blank" title="U.S. Preventive Services Task Force">U.S. Preventive Services Task Force</a> does NOT recommend that
                                                you get screened because you are not a smoker.
                                            </span>
                                        </div>
                                    </div>
                                    -->
                                    <div class="form-group" ng-class="{'has-error': myForm.startNumericCriteria || myForm.startAgeCriteria }" ng-show="myForm.type === 'current' || myForm.type === 'former'">
                                        <div class="col-xs-12 col-md-2"></div>
                                        <label for="start" class="col-xs-12 col-md-4 control-label">What age did you start smoking?</label>
                                        <div class="col-xs-12 col-md-6">
                                            <input class="form-control input-sm" type="text" name="start" id="start" ng-model="myForm.start" ng-model-options="{ updateOn: 'blur' }" ng-required="myForm.type == 'current' || myForm.type === 'former'">
                                        </div>
                                    </div>
                                    <div class="form-group" ng-class="{'has-error': myForm.quitNumericCriteria || myForm.quitAgeCriteria }" ng-show="myForm.type === 'former'">
                                        <div class="col-xs-12 col-md-2"></div>
                                        <label for="quit" class="col-xs-12 col-md-4 control-label">How old were you when you quit?</label>
                                        <div class="col-xs-12 col-md-6">
                                            <input class="form-control input-sm" type="text" name="quit" id="quit" ng-model="myForm.quit" ng-model-options="{ updateOn: 'blur' }" ng-required="myForm.type == 'former'">
                                        </div>
                                    </div>
                                    <div ng-show="myForm.startNumericCriteria" class="row">
                                        <div class="col-xs-12 has-error">
                                            <span class="help-block">{{myForm.numericValidationMessage}}</span>
                                        </div>
                                    </div>
                                    <div ng-show="myForm.startAgeCriteria" class="row">
                                        <div class="col-xs-12 has-error">
                                            <span class="help-block">Please ensure that the starting age is greater than 0 and less than or equal to age.</span>
                                        </div>
                                    </div>
                                    <div ng-show="myForm.quitNumericCriteria" class="row">
                                        <div class="col-xs-12 has-error">
                                            <span class="help-block">{{myForm.numericValidationMessage}}</span>
                                        </div>
                                    </div>
                                    <div ng-show="myForm.quitAgeCriteria" class="row">
                                        <div class="col-xs-12 has-error">
                                            <span class="help-block">Please ensure that the quitting age value is less than age and greater than or equal to starting age.</span>
                                        </div>
                                    </div>
                                    <!--
                                    <div ng-show="myForm.quitCriteria" class="row">
                                        <div class="col-xs-12 has-error">
                                            <span class="help-block">
                                                The <a href="http://www.uspreventiveservicestaskforce.org/uspstf/uspslung.htm" target="_blank" title="U.S. Preventive Services Task Force">U.S. Preventive Services Task Force</a> does NOT recommend that
                                                you get screened if you quitted smoking for more than 15 years.
                                            </span>
                                        </div>
                                    </div>
                                    -->
                                    <div class="form-group" ng-class="{'has-error': myForm.cigsNumericCriteria }" ng-show="myForm.smokeShow">
                                        <div class="col-xs-12 col-md-2"></div>
                                        <label for="cigs" class="col-xs-12 col-md-4 control-label" ng-show="myForm.type === 'current'">How many cigarettes per day do you smoke on average?</label>
                                        <label for="cigs" class="col-xs-12 col-md-4 control-label" ng-show="myForm.type === 'former'">How many cigarettes per day did you smoke on average?</label>
                                        <div class="col-xs-12 col-md-6">
                                            <input class="form-control input-sm" type="text" name="cigs" id="cigs" ng-model="myForm.cigs" ng-model-options="{ updateOn: 'blur' }" ng-required="myForm.smokeShow">
                                        </div>
                                    </div>
                                    <div ng-show="myForm.cigsNumericCriteria" class="row">
                                        <div class="col-xs-12 has-error">
                                            <span class="help-block">
                                                Please ensure that the number of cigarettes per day entered above does not contain any non-numeric characters.
                                            </span>
                                        </div>
                                    </div>
                                    <!--
                                    <div ng-show="myForm.cigsCriteria" class="row">
                                        <div class="col-xs-12 has-error">
                                            <span class="help-block">
                                                The <a href="http://www.uspreventiveservicestaskforce.org/uspstf/uspslung.htm" target="_blank" title="U.S. Preventive Services Task Force">U.S. Preventive Services Task Force</a> does NOT recommend that you get screened unless you have a minimum 30 pack-years of smoking.
                                            </span>
                                        </div>
                                    </div>
                                    -->
                                    <div class="form-group">
                                        <label for="race_group" class="col-xs-12 col-md-6 control-label">Race or Ethnic Group</label>
                                        <div class="col-xs-12 col-md-6">
                                            <select name="race_group" id="race_group" class="form-control input-sm" ng-model="myForm.group" ng-required="true">
                                                <option value="">Select...</option>
                                                <option value="0">White</option>
                                                <option value="1">Black or African-American</option>
                                                <option value="2">Hispanic</option>
                                                <option value="3">Asian or Pacific Islander</option>
                                            </select>
                                        </div>
                                    </div>
                                    <!--
                                    <div ng-show="myForm.groupCriteria" class="row">
                                        <div class="col-xs-12 has-error">
                                            <span class="help-block">
                                                The <a href="http://www.uspreventiveservicestaskforce.org/uspstf/uspslung.htm" target="_blank" title="U.S. Preventive Services Task Force">U.S. Preventive Services Task Force</a> does NOT recommend that
                                                you get screened because you are not a smoker.
                                            </span>
                                        </div>
                                    </div>0
                                    -->
                                    <div class="form-group">
                                        <label for="disease" class="col-xs-12 col-md-6 control-label">Lung disease?</label>
                                        <div class="col-xs-12 col-md-6">
                                            <select name="disease" id="disease" class="form-control input-sm" ng-model="myForm.disease" ng-required="true">
                                                <option value="">Select...</option>
                                                <option value="1">COPD or Emphysema</option>
                                                <option value="0">None</option>
                                                <option value="0">I don't know</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="history" class="col-xs-12 col-md-6 control-label">Family history of lung cancer?</label>
                                        <div class="col-xs-12 col-md-6">
                                            <select name="history" id="history" class="form-control input-sm" ng-model="myForm.history" ng-required="true">
                                                <option value="">Select...</option>
                                                <option value="0">No parent</option>
                                                <option value="1">One parent had lung cancer</option>
                                                <option value="2">Both parents had lung cancer</option>
                                                <option value="0">I don't know</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="units" class="col-xs-12 col-md-6 control-label">Units for entering height and weight</label>
                                        <div class="col-xs-12 col-md-6">
                                            <select name="units" id="units" class="form-control input-sm" ng-model="myForm.units">
                                                <option value="metric">Metric</option>
                                                <option value="us" selected>US</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group" ng-class="{'has-error': myForm.pHeightCriteria || myForm.subHeightCriteria }">
                                        <label for="height_feet" class="col-xs-12 col-md-6 control-label">Height?</label>
                                        <div class="col-xs-12 col-md-3">
                                            <input name="height_feet" id="height_feet" class="form-control input-sm" type="text" ng-model="myForm.pHeight" ng-model-options="{ updateOn: 'blur' }" ng-required="true">
                                            <span>{{myForm.heightPrimary}}</span>
                                        </div>
                                        <div class="col-xs-12 col-md-3">
                                            <input name="height_inches" id="height_inches" class="form-control input-sm" type="text" ng-model-options="{ updateOn: 'blur' }" ng-model="myForm.subHeight">
                                            <span>{{myForm.heightSecondary}}</span>
                                        </div>
                                    </div>
                                    <div ng-show="myForm.pHeightCriteria || myForm.subHeightCriteria" class="row">
                                        <div class="col-xs-12 has-error">
                                            <span class="help-block">{{myForm.heightWarning}}</span>
                                        </div>
                                    </div>
                                    <div class="form-group" ng-class="{'has-error': myForm.weightCriteria }">
                                        <label for="weight" class="col-xs-12 col-md-6 control-label">Weight?</label>
                                        <div class="col-xs-12 col-md-6">
                                            <input name="weight" id="weight" class="form-control input-sm" type="text" ng-model="myForm.weight" ng-model-options="{ updateOn: 'blur' }" ng-required="true">
                                            <span>{{myForm.weightUnits}}</span>
                                        </div>
                                    </div>
                                    <div ng-show="myForm.weightCriteria" class="row">
                                        <div class="col-xs-12 has-error">
                                            <span class="help-block">
                                                Please ensure that the weight value above is greater than 0 and does not include any non-numeric characters.
                                            </span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="education" class="col-xs-12 col-md-6 control-label">Education?</label>
                                        <div class="col-xs-12 col-md-6">
                                            <select name="education" id="education" class="form-control input-sm" ng-model="myForm.education" ng-required="true">
                                                <option value="">Select...</option>
                                                <option value="1">High school, but did not graduate</option>
                                                <option value="2">High school graduate</option>
                                                <option value="3">Vocation/technical school, but no college</option>
                                                <option value="4">Associate Degree/Some College</option>
                                                <option value="5">Bachelors degree</option>
                                                <option value="6">Graduate degree</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-xs-12">
                                            <div class="btn-toolbar pull-right">
                                                <button class="btn btn-primary button-disabled" ng-class="{'button-enabled': !myForm.isInvalid}" ng-disabled="myForm.isInvalid">Calculate</button>
                                                <button class="btn btn-default" type="reset" ng-click="myForm.resetForm()">Reset</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="loading" ng-show="myForm.loading"></div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title">Your Results</div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-12">
                                <p ng-bind="myForm.summary"></p>
                                <div class="has-error" ng-show="myForm.error">
                                    <h5 class="help-block">Error</h5>
                                    <span class="help-block">
                                        There was a problem returning results due to the service being down. Please try to submit the form again.
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <fieldset ng-disabled="!myForm.summary" ng-class="{'disabled': !myForm.summary}">
                                    <section class="ac-container">
                                        <div>
                                            <p>
                                                You are
                                                <span ng-if="myForm.eligibility">ELIGIBLE for CT lung screening according to US Preventive Services Task Force recommendations.</span>
                                                <span ng-if="!myForm.eligibility">INELIGIBLE for CT lung screening according to US Preventive Services Task Force recommendations, due to the following reason(s):</span>

                                                <ul>
                                                    <li ng-show="myForm.ageCriteria">
                                                        This tool calculates risk for men and women 50 to 80 years of age
                                                    </li>
                                                    <li ng-show="myForm.quitCriteria">
                                                        The <a href="http://www.uspreventiveservicestaskforce.org/uspstf/uspslung.htm" target="_blank" title="U.S. Preventive Services Task Force">U.S. Preventive Services Task Force</a> does NOT recommend that you get screened if you quitted smoking for more than 15 years.
                                                    </li>
                                                    <li ng-show="myForm.cigsCriteria">
                                                        The <a href="http://www.uspreventiveservicestaskforce.org/uspstf/uspslung.htm" target="_blank" title="U.S. Preventive Services Task Force">U.S. Preventive Services Task Force</a> does NOT recommend that you get screened unless you have a minimum 30 pack-years of smoking.
                                                    </li>
                                                </ul>
                                            </p>
                                        </div>
                                        <div>
                                            <input id="ac-1" name="accordion-1" type="checkbox" ng-checked="myForm.summary" />
                                            <label for="ac-1" ng-class="{'cursor-disabled': !myForm.summary}"> Lung cancer death</label>
                                            <article class="ac-medium">
                                                <p>Chance of dying from lung cancer within 5 years in the absence of screening: {{myForm.result0}} out of 1000.</p>
                                                <p ng-show="myForm.unstableRisk">This risk is unstable</p>
                                                <p>Among 1000 people in the US with this risk-factor profile, {{myForm.result0}} will die from lung cancer within 5 years, if they do not attend screening.</p>
                                            </article>
                                            <article class="ac-medium">
                                                <p>Reduction in 5-year lung cancer death risk, due to screening: {{myForm.result1}} out of 1000</p>
                                                <p>In the NLST, those who underwent 3 rounds of annual CT screening had their risk reduced by 20%. Therefore, among the {{myForm.result0}} out of 1000 people who would have died from lung cancer in 5 years, {{myForm.result1}} people would not die from lung cancer within 5 years, if they undergo 3 yearly CT lung screens as in the NLST.</p>
                                            </article>
                                            <article class="ac-medium">
                                                <p>Of those eligible for lung screening, number who have less reduction: {{myForm.result5}} out of 1000</p>
                                                <p>Out of 1000 people eligible for lung screening according to US Preventive Services Task Force recommendations, {{myForm.result5}} are estimated to have less reduction in lung cancer death than someone with this risk factor profile.</p>
                                            </article>
                                        </div>
                                        <div>
                                            <input id="ac-4" name="accordion-4" type="checkbox" ng-model="myForm.cbResult2" />
                                            <label for="ac-4" ng-class="{'cursor-disabled': !myForm.summary}">Lung cancer diagnosis</label>
                                            <article class="ac-medium">
                                                <p>The chance of lung cancer diagnosis within 5 years in the absence of screening: {{myForm.result2}} out of 1000</p>
                                                <p ng-show="myForm.unstableRisk">This risk is unstable</p>
                                                <p>Among 1000 people in the US with this risk-factor profile, {{myForm.result2}} will be diagnosed with lung cancer within 5 years, if they do not attend screening.</p>
                                            </article>
                                            <article class="ac-medium">
                                                <p>Increase in 5-year lung cancer diagnoses, due to screening: {{myForm.result3}} out of 1000</p>
                                                <p>In the NLST, those who underwent CT screening had 12.4% more lung cancers diagnosed, all of which require treatment. Therefore, among 1000 people with this risk-factor profile, {{myForm.result3}} extra lung cancer would be diagnosed within 5 years, if they undergo 3 yearly CT lung screens as in the NLST.</p>
                                            </article>
                                        </div>
                                        <div>
                                            <input id="ac-5" name="accordion-5" type="checkbox" ng-model="myForm.cbResult4" />
                                            <label for="ac-5" ng-class="{'cursor-disabled': !myForm.summary}">False-positive CT lung screen</label>
                                            <article class="ac-medium">
                                                <p>Chance of false-positive CT lung screen: {{myForm.result4}} out of 1000</p>
                                                <p>Out of 1000 NLST participants with this risk profile, {{myForm.result4}} had at least one false-positive CT screen out of 3 CT screens.</p>
                                            </article>
                                        </div>
                                    </section>
                                </fieldset>
                                <!-- Comment Out Until Needed Again -->
                                <!--
                                    <table cellspacing="0" class="utility-table">
                                        <tr valign="middle">
                                            <td class="icon">
                                                <img src="files/print.png" alt="Print" title="Print">
                                            </td>
                                            <td class="text">
                                                <strong><a href="#" ng-click="myForm.printPage()">Print</a></strong>
                                            </td>
                                            <td class="icon" ng-class="{'disabled': !myForm.summary}">
                                                <img ng-show="myForm.summary" src="files/download.png" alt="Download Results" title="Download Results">
                                            </td>
                                            <td class="text">
                                                <a ng-show="myForm.summary" ng-href="{{myForm.resultsFileLink}}" target="_blank">Download Results</a>
                                            </td>
                                        </tr>
                                    </table>
                                -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title">Further Information</div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-12">
                                <p>Learning about lung cancer and its treatment can help you prepare for your appointments, understand different types of treatment, and prevent and manage any side effects.</p>
                                <p>
                                   <u>Resources</u><br />
                                    <a href="http://nomograms.mskcc.org/Lung/Screening.aspx" target="mskcc">MSKCC Lung Cancer Screening Decision Tool</a><br />
                                    <a href="http://www.shouldiscreen.com/lung-cancer-risk-calculator" target="sis">SIS Lung Cancer Screening Tool</a><br />
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container footer">
        <div class="center-block">
            <ul class="list-inline">
                <li><a href="http://www.cancer.gov/" title="Home" target="_blank">Home</a></li>
                <li>|</li>
                <li><a href="mailto:NCILungCancerScreeningToolWebAdmin@mail.nih.gov?subject=LungCancerScreeningTool" target="_top" title="Support">Support</a></li>
                <li>|</li>
                <li><a href="http://www.cancer.gov/global/web/policies" title="Policies" target="_blank">Policies</a></li>
                <li>|</li>
                <li><a href="http://www.cancer.gov/global/web/policies/accessibility" title="Accessibility" target="_blank">Accessibility</a></li>
                <li>|</li>
                <li><a href="http://cancer.gov/global/viewing-files" title="Viewing Files" target="_blank">Viewing Files</a></li>
                <li>|</li>
                <li><a href="http://www.cancer.gov/global/web/policies/foia" title="FOIA" target="_blank">FOIA</a></li>
            </ul>
            <ul class="list-inline">
                <li><a href="http://www.hhs.gov/" target="_blank">U.S. Department of Health and Human Services</a></li>
                <li>|</li>
                <li><a href="http://www.nih.gov" target="_blank">National Institutes of Health</a></li>
                <li>|</li>
                <li><a href="http://www.cancer.gov/" target="_blank">National Cancer Institute</a></li>
                <li>|</li>
                <li><a href="http://usa.gov" target="_blank">USA.gov</a></li>
            </ul>
            <div class="text-center">
                NIH ... Turning Discovery Into Health<sup>®</sup>
            </div>
        </div>
    </div>
</body>
</html>
