<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">

<head>
    <script src="//assets.adobedtm.com/f1bfa9f7170c81b1a9a9ecdcc6c5215ee0b03c84/satelliteLib-4b219b82c4737db0e1797b6c511cf10c802c95cb.js"></script>
    <title>National Lung Screening Trial</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <link href="files/disclaimer.css" rel="stylesheet" type="text/css" media="all">
    <link href="files/2col.css" rel="stylesheet" type="text/css" media="all">
    <!--[if IE]>
        <link href="files/pdf.css" rel="stylesheet" type="text/css" media="all">
    <![endif]-->    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
    <script src="files/angular-route.js"></script>
    <script src="files/app.js"></script>
    <script src="files/ngStorage.js"></script>
    <script src="files/MainController.js"></script>
    <script src="files/FormController.js"></script>
    <script src="files/resultController.js"></script>
    <script src="files/Disclaimer.js"></script>
</head>
<body ng-app="myapp" ng-controller="MainCtrl">
    <div class="header" id="/">
        <div class="container">
            <a href="http://dceg.cancer.gov/" target="dceg" title="National Cancer Institute: Division of Cancer Epidemiology and Genetics" class="header-logo"><img src="files/spacer.gif" title="spacer" alt="National Cancer Institute: Division of Cancer Epidemiology and Genetics"></a>
        </div>
        <div class="container row-blue">
            <div class="row">
                <div class="col-xs-12">
                    <h1 id="title">Risk-based NLST Outcomes Tool (RNOT)</h1>
                </div>
            </div>
        </div>
        <div class="skip"><a href="#skiptocontent">Skip to content</a></div>
        <a name="top"></a>
        <div class="container navbar navbar-default">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#lcs-navbar-collapse" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="lcs-navbar-collapse">
                <ul class="nav navbar-nav">{{showResults}}
                    <li><button alt="home" ng-click="changeUrl('/')" ng-disabled="false" ng-class="{active: active=='/'}">Home</button></li>
                    <li><button alt="Personalized Risk" ng-click="changeUrl('/results')" ng-disabled="resultsDisabled" ng-class="{active: active=='/results'}">Personalized Risk</button></li>
                    <li><button alt="Information about the NLST" ng-click="changeUrl('/about')" ng-class="{active: active=='/about'}">About NLST</button></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Further Information<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="http://nomograms.mskcc.org/Lung/Screening.aspx" target="_blank">MSKCC Lung Cancer Screening Decision Tool</a></li>
                            <li><a href="http://www.shouldiscreen.com/lung-cancer-risk-calculator" target="_blank">SIS Lung Cancer Screening Tool</a></li>
                            <li><a href="https://www.effectivehealthcare.ahrq.gov/tools-and-resources/patient-decision-aids/lung-cancer-screening/patient/" target="_blank">AHRQ Lung Cancer Screening Decision Tool</a></li>
                            <li><a href="http://jama.jamanetwork.com/article.aspx?articleID=2522553" target="_blank">Development and Validation of Risk Models to Select Ever-Smokers for CT Lung Cancer Screening</a></li>                            
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container" id="skiptocontent">
        <div class="row" ng-view="">
        </div>
        <div class="row">
            <div class="well">
                If you have any questions regarding the assessment questions and results, please
                <a href="mailto:katkih@mail.nih.gov?subject=LungCancerScreeningTool" target="_top" title="email to us">send an email to us.</a>
            </div>
        </div>
    </div>
    <div class="container footer">
        <div class="center-block">
            <ul class="list-inline">
                <li><a href="http://www.cancer.gov/" target="_blank">Home</a></li>
                <li>|</li>
                <li><a href="mailto:NCILungCancerScreeningToolWebAdmin@mail.nih.gov?subject=LungCancerScreeningTool" target="_top" title="email to technical support">Support</a></li>
                <li>|</li>
                <li><a href="http://www.cancer.gov/global/web/policies" target="_blank">Policies</a></li>
                <li>|</li>
                <li><a href="http://www.cancer.gov/global/web/policies/accessibility" target="_blank">Accessibility</a></li>
                <li>|</li>
                <li><a href="http://cancer.gov/global/viewing-files" Files" target="_blank">Viewing Files</a></li>
                <li>|</li>
                <li><a href="http://www.cancer.gov/global/web/policies/foia" target="_blank">FOIA</a></li>
            </ul>
            <ul class="list-inline">
                <li><a href="http://www.hhs.gov/" target="_blank">U.S. Department of Health and Human Services</a></li>
                <li>|</li>
                <li><a href="http://www.nih.gov" target="_blank">National Institutes of Health</a></li>
                <li>|</li>
                <li><a href="http://www.cancer.gov/" target="_blank">National Cancer Institute</a></li>
                <li>|</li>
                <li><a href="http://usa.gov" target="_blank">USA.gov</a></li>
            </ul>
            <div class="text-center">
                NIH ... Turning Discovery Into Health<sup>®</sup>
            </div>
        </div>
    </div>
    <script type="text/javascript">_satellite.pageBottom();</script>
</body>

</html>
